---
layout: page
title: "Race Estimates - Regions"
permalink: "/population/data/race-estimate-regions/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
description: "Search for information on population by region, year, sex, age, race and ethnicity."
years: "2010-2019"
tag: ""

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2>Race by Age Estimates - Regions</h2>

<a href="/population/data/race-estimate/">Need County Data?</a><br /><br />
<a href="/gis/colorado-regions/" target="_blank">Regions WebMap <img src="/images/map.png" /></a><br /><br />
<label for="countiesSelected" style="font-weight: bold;">Select 1 or more regions:</label><br />
<select id="countiesSelected" name="countiesSelected" multiple="multiple" size="5">	
{% include _optionValuesRegion.html %}
</select><br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" name="yearsSelected" multiple="multiple" size="4">
<!-- populated from database -->
</select><br /><br />
<label for="ageGroups" style="font-weight: bold;">Select 1 or more ages:</label><br />
<select id="ageGroups" name="ageGroups" multiple="multiple" size="5">
<!-- populated from database -->
</select><br /><br />
<label for="raceGroups" style="font-weight: bold;">Select 1 or more race categories:</label><br />
<select id="raceGroups" name="raceGroups" multiple="multiple" size="4">
  <option value="1">White</option>
	<option value="2">Asian/Pacific Islander</option>
	<option value="3">American Indian</option>
	<option value="4">Black</option>
	<!--<option value="5">Black non Hispanic</option>
	<option value="6">Total</option>-->
</select><br /><br />
<label for="ethnicityGroups" style="font-weight: bold;">Select 1 or more ethnicity categories:</label><br />
<select id="ethnicityGroups" name="ethnicityGroups" multiple="multiple" size="2">
  <option value="1">Hispanic</option>
	<option value="2">Non Hispanic</option>
</select><br /><br />
<label for="groupBy" style="font-weight: bold;">Select 0 or more variables to summarize by:</label><br />
<select id="groupBy" name="groupBy" multiple="multiple" size="4">
  <option value="a">Year</option>
	<option value="b">Region</option>
	<option value="c">Age Group</option>
	<option value="d">Race</option>
	<option value="e">Ethnicity</option>
</select><br /><br />
<input type="radio" name="compressed" value="" checked>Sum Male and Female&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&sex=m">Male Only&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&sex=f">Female Only&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&sex=b">List Male and Female<br />
<br />
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br />
<table id="resultstable"></table>

<script>
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/sya-race-estimatesYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].year + "'>" + yrs[i].year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/sya-race-estimatesAGE', function(ages) {
        var queriedAges = "";
        for (let i = 0; i < ages.length; i++) {
            queriedAges += "<option value='" + ages[i].age + "'>" + ages[i].age + "</option>";
        }
        document.getElementById('ageGroups').innerHTML = queriedAges;
    });

    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedYears = getSelectValues(yearsSelected);
        var selectedAges = getSelectValues(ageGroups);
        var selectedRaces = getSelectValues(raceGroups);
	var selectedEthnicity = getSelectValues(ethnicityGroups);
        var selectedGroupBy = getSelectValues(groupBy);

        if (selectedCounties.length === 0) {
            alert('please choose a region selection');
            return;
        }
        if (selectedYears.length === 0) {
            alert('please choose one or more years');
            return;
        }
        if (selectedAges.length === 0) {
            alert('please choose an age group selection');
            return;
        }
        if (selectedRaces.length === 0) {
            alert('please choose a race selection');
            return;
        }
	if (selectedEthnicity.length === 0) {
            alert('please choose an ethnicity selection');
            return;
        }

        var compressed = document.querySelector('input[name="compressed"]:checked').value;

        var groupstring = selectedGroupBy.join(",");
        var group = "";

        if (groupstring === "a") {
            group = 'opt1';
        }
        if (groupstring === "b") {
            group = 'opt2';
        }
        if (groupstring === "c") {
            group = 'opt3';
        }
        if (groupstring === "d") {
            group = 'opt4';
        }
        if (groupstring === "a,b") {
            group = 'opt5';
        }
        if (groupstring === "a,c") {
            group = 'opt6';
        }
        if (groupstring === "a,d") {
            group = 'opt7';
        }
        if (groupstring === "b,c") {
            group = 'opt8';
        }
        if (groupstring === "b,d") {
            group = 'opt9';
        }
        if (groupstring === "c,d") {
            group = 'opt10';
        }
        if (groupstring === "a,b,c") {
            group = 'opt11';
        }
        if (groupstring === "a,b,d") {
            group = 'opt12';
        }
        if (groupstring === "a,c,d") {
            group = 'opt13';
        }
        if (groupstring === "b,c,d") {
            group = 'opt14';
        }
	if (groupstring === "e") {
            group = 'opt15';
        }
	if (groupstring === "a,e") {
            group = 'opt16';
        }
	if (groupstring === "b,e") {
            group = 'opt17';
        }
	if (groupstring === "c,e") {
            group = 'opt18';
        }
	if (groupstring === "d,e") {
            group = 'opt19';
        }
	if (groupstring === "a,b,e") {
            group = 'opt20';
        }
	if (groupstring === "a,c,e") {
            group = 'opt21';
        }
	if (groupstring === "a,d,e") {
            group = 'opt22';
        }
	if (groupstring === "b,c,e") {
            group = 'opt23';
        }
	if (groupstring === "b,d,e") {
            group = 'opt24';
        }
	if (groupstring === "c,d,e") {
            group = 'opt25';
        }
	if (groupstring === "a,b,c,d") {
            group = 'opt26';
        }
	if (groupstring === "a,c,d,e") {
            group = 'opt27';
        }
	if (groupstring === "a,b,d,e") {
            group = 'opt28';
        }
	if (groupstring === "a,b,c,e") {
            group = 'opt29';
        }
	    
        var querystring = "year=" + selectedYears.join(",") + "&reg_num=" + selectedCounties.join(",") + "&age=" + selectedAges.join(",") + "&race=" + selectedRaces.join(",") + "&ethnicity=" + selectedEthnicity.join(",") + compressed + "&group=" + group;

        fetchJSONFile("https://gis.dola.colorado.gov/lookups/sya-race-estimates_regions?" + querystring, function(text) {
            /* make Download CSV button visible */
            document.getElementById("dlcsv").style.display = 'inline-block';
            createtable(text);
        });

    }, false);


    function createtable(results) {

        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);
        var hcell6 = hrow.insertCell(5);
        var hcell7 = hrow.insertCell(6);
	var hcell8 = hrow.insertCell(7); 

        hcell1.innerHTML = "REGION";
        hcell2.innerHTML = "REG_NUM";
        hcell3.innerHTML = "YEAR";
        hcell4.innerHTML = "AGE";
        hcell5.innerHTML = "SEX";
        hcell6.innerHTML = "RACE";
	hcell7.innerHTML = "ETHNICITY";    
        hcell8.innerHTML = "COUNT";

        var body = table.appendChild(document.createElement('tbody'));

        for (var i = 0; i < results.length; i++) {
            var pass_age = results[i].age || "";
            if (results[i].age === 0) {
                pass_age = "0";
            }
            addrow(i, rlookup(results[i].reg_num) || "", results[i].reg_num || "", results[i].year || "", pass_age, results[i].sex || "", results[i].race || "", results[i].ethnicity || "", results[i].count);
        }

    }


    function addrow(rownum, region, reg_num, year, age, sex, race, ethnicity, count) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
	var cell8 = row.insertCell(7);

        /* Add some text to the new cells:*/
        cell1.innerHTML = region;
        cell2.innerHTML = reg_num;
        cell3.innerHTML = year;
        cell4.innerHTML = age;
        cell5.innerHTML = sex;
        cell6.innerHTML = race;
	cell7.innerHTML = ethnicity;    
        cell8.innerHTML = Number(count).toLocaleString();

    }


    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "region-raceEstimate_data.csv");
    }, false);
  
</script>
