---
layout: page
title: "Region Single Year of Age Lookup"
permalink: "/population/data/sya-regions/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
description: "Search for information on total population and gender by region, year, and age."
years: "1990-2018 (Estimates) and 2019-2050 (Forecast)"
tag: ""

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2>Population by Single Year of Age - Region</h2>

<a href="/population/data/sya-county/">Need County Data?</a><br /><br />
<a href="/gis/colorado-regions/" target="_blank">Regions WebMap <img src="/images/map.png" /></a><br /><br />
<label for="countiesSelected" style="font-weight: bold;">Select 1 or more regions:</label><br />
<select id="countiesSelected" class="formtable" name="countiesSelected" multiple="multiple" size="5">	
{% include _optionValuesRegion.html %}
</select>
<br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" class="formtable" name="yearsSelected" multiple="multiple" size="5">
<!-- populated from database --> 
</select>
<br/><br/>
<input type="radio" name="choiceCategory" value="5yr" checked>Five Year Intervals (0-4,5-9,10-14,etc.)<br>
<input type="radio" name="choiceCategory" value="census">Census Age Intervals<br>
<input type="radio" name="choiceCategory" value="custom">Custom Age Range Intervals<br>
<span id="customIntervals" >
<label style="font-weight: bold;margin-left:15px;">Designate up to 5 intervals:</label><br />

<span style="margin-left:20px;">from&nbsp;&nbsp;<input type="text" name="1a" id="1a" maxlength=3 size=5 onkeypress="return isNumberKey(event)"> to <input type="text" name="1b" id="1b" maxlength=3 size=5 onkeypress="return isNumberKey(event)"></span><span id="warning1" style="padding-left:5px;font-size:80%;color:#FF0000;"></span><br>
<span style="margin-left:20px;">from&nbsp;&nbsp;<input type="text" name="2a" id="2a"maxlength=3 size=5 onkeypress="return isNumberKey(event)"> to <input type="text" name="2b" id="2b" maxlength=3 size=5 onkeypress="return isNumberKey(event)"></span><span id="warning2" style="padding-left:5px;font-size:80%;color:#FF0000;"></span><br>
<span style="margin-left:20px;">from&nbsp;&nbsp;<input type="text" name="3a" id="3a"maxlength=3 size=5 onkeypress="return isNumberKey(event)"> to <input type="text" name="3b" id="3b" maxlength=3 size=5 onkeypress="return isNumberKey(event)"></span><span id="warning3" style="padding-left:5px;font-size:80%;color:#FF0000;"></span><br>
<span style="margin-left:20px;">from&nbsp;&nbsp;<input type="text" name="4a" id="4a"maxlength=3 size=5 onkeypress="return isNumberKey(event)"> to <input type="text" name="4b" id="4b" maxlength=3 size=5 onkeypress="return isNumberKey(event)"></span><span id="warning4" style="padding-left:5px;font-size:80%;color:#FF0000;"></span><br>
<span style="margin-left:20px;">from&nbsp;&nbsp;<input type="text" name="5a" id="5a"maxlength=3 size=5 onkeypress="return isNumberKey(event)"> to <input type="text" name="5b" id="5b" maxlength=3 size=5 onkeypress="return isNumberKey(event)"></span><span id="warning5" style="padding-left:5px;font-size:80%;color:#FF0000;"></span><br>

<br>
</span>
<input type="radio" name="choiceCategory" value="single">Custom Single Year Selections <br>
<span id="singleYear">
<label for="agesSelected" style="font-weight: bold;margin-left:15px;">Select 1 or more ages:</label><br />
<select id="agesSelected" class="formtable" name="agesSelected" multiple="multiple" size="5" style="margin-left:15px;">
<!-- populated from database --> 
</select>

<br />
<span style="margin-left:17px;">
<input type="radio" name="compressed" value="no" checked>No Grouping&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="opt1">Group by Year&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="opt2">Group by Region and Year&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="opt3">Group by Age and Year<br />
</span>
<br />
</span>
<br><br>
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" />
<br />
<table id="resultstable"></table>

<script>
  
$( document ).ready(function() {
	$('span#singleYear').hide();
	$('span#customIntervals').hide();
});
	$('input:radio[name="choiceCategory"]').change(function(){
    /* checks that the clicked radio button is the one of value 'Yes' */
        if ($(this).val() == 'single') {
            $('span#singleYear').show();
            $('span#customIntervals').hide();
        
        } else if ($(this).val() == 'custom') {
            $('span#singleYear').hide();
            $('span#customIntervals').show();        	
        } else {
            /* if it's the 'No' button removes the 'appended' element. */
            $('span#singleYear').hide();
            $('span#customIntervals').hide();
        }
        
        /* clear resultstable */
        $("#resultstable tbody tr").remove();
    });
    
      /* limit text box input to numbers */
    function isNumberKey(evt)  {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;
          return true;
       }    
  
  fetchJSONFile('https://gis.dola.colorado.gov/lookups/syaYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].year + "'>" + yrs[i].year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/syaAGE', function(ages) {
        var queriedAges = "";
        for (let i = 0; i < ages.length; i++) {
            queriedAges += "<option value='" + ages[i].age + "'>" + ages[i].age + "</option>";
        }
        document.getElementById('agesSelected').innerHTML = queriedAges;
    });

    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedAges = getSelectValues(agesSelected);
        var selectedYears = getSelectValues(yearsSelected);
        var compressed = document.querySelector('input[name="compressed"]:checked').value;
        var yearstring;
        var agestring;
        var reg_numstring;

        var categorySelected = document.querySelector('input[name="choiceCategory"]:checked').value;
        var intervals = document.getElementById('1a').value + ',' + document.getElementById('1b').value + ',' + document.getElementById('2a').value + ',' + document.getElementById('2b').value + ",";
            intervals = intervals + document.getElementById('3a').value + ',' + document.getElementById('3b').value + ',' + document.getElementById('4a').value + ',' + document.getElementById('4b').value  + ',' + document.getElementById('5a').value + ',' + document.getElementById('5b').value ;  
      
      /*VALIDATION*/
        if (selectedYears.length === 0) {
            alert('no year selected');
            return;
        } else {
            yearstring = selectedYears.join(",");
        }

        if (selectedAges.length === 0 && categorySelected=='single') {
            alert('no age selected');
            return;
        } else {
            agestring = selectedAges.join(",");
        }

        if (selectedCounties.length === 0) {
            alert('no region selected');
            return;
        } else {
            reg_numstring = selectedCounties.join(",");
        }

        var IsInt1;
        var IsInt2;
        if (categorySelected==="custom") {
            isInt1 = /^\+?\d+$/.test($("#1a").val());
            isInt2 = /^\+?\d+$/.test($("#1b").val());
            $("#warning1").text("");
            if (isInt1 && isInt2) { /* check that both boxes have numbers */
                   
                    if(parseInt( $("#1b").val()) <= parseInt($("#1a").val()) ) {
                        $("#warning1").text("second number needs to be greater than first");
                        return;
                    }
                   
                } else {
                $("#warning1").text("both boxes need numbers"); /* one or both boxes are blank */
                return;
            }
            
            $("#warning2").text("");
            $("#warning3").text("");
            $("#warning4").text("");
	    $("#warning5").text("");
            
            isInt1 = /^\+?\d+$/.test($("#2a").val());
            isInt2 = /^\+?\d+$/.test($("#2b").val());
            if ((isInt1 && !(isInt2)) || (!(isInt1) && (isInt2)) ) {
                $("#warning2").text("either both boxes need numbers or both are blank");
                return;
            } else if (isInt1 && isInt2) {
                if(parseInt( $("#2b").val()) <= parseInt($("#2a").val()) ) {
                    $("#warning2").text("second number needs to be greater than first");
                    return;
                }                
            }
            
            
            isInt1 = /^\+?\d+$/.test($("#3a").val());
            isInt2 = /^\+?\d+$/.test($("#3b").val());
            if ((isInt1 && !(isInt2)) || (!(isInt1) && (isInt2)) ) {
                $("#warning3").text("either both boxes need numbers or both are blank");
                return;
            } else if (isInt1 && isInt2) {
                if(parseInt( $("#3b").val()) <= parseInt($("#3a").val()) ) {
                    $("#warning3").text("second number needs to be greater than first");
                    return;
                }                
            }
            
            isInt1 = /^\+?\d+$/.test($("#4a").val());
            isInt2 = /^\+?\d+$/.test($("#4b").val());
            if ((isInt1 && !(isInt2)) || (!(isInt1) && (isInt2)) ) {
                $("#warning4").text("either both boxes need numbers or both are blank");
                return;
            } else if (isInt1 && isInt2) {
                if(parseInt( $("#4b").val()) <= parseInt($("#4a").val()) ) {
                    $("#warning4").text("second number needs to be greater than first");
                    return;
                }                
            }
           
            isInt1 = /^\+?\d+$/.test($("#5a").val());
            isInt2 = /^\+?\d+$/.test($("#5b").val());
            if ((isInt1 && !(isInt2)) || (!(isInt1) && (isInt2)) ) {
                $("#warning5").text("either both boxes need numbers or both are blank");
                return;
            } else if (isInt1 && isInt2) {
                if(parseInt( $("#5b").val()) <= parseInt($("#5a").val()) ) {
                    $("#warning5").text("second number needs to be greater than first");
                    return;
                }                
            }        
            
        }
      
        var querystring = "age=" + agestring + "&reg_num=" + reg_numstring + "&year=" + yearstring + "&group=" + compressed + "&choice=" + categorySelected + "&intervals=" + intervals;

	console.log(querystring);    
	    
        fetchJSONFile("https://gis.dola.colorado.gov/lookups/sya_regions?" + querystring, function(text) {
            /* make Download CSV button visible */
            document.getElementById("dlcsv").style.display = 'inline-block';
            createtable(text);
        });

    }, false);


    function createtable(results) {

        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);
        var hcell6 = hrow.insertCell(5);
        var hcell7 = hrow.insertCell(6);
        var hcell8 = hrow.insertCell(7);

        hcell1.innerHTML = "REGION_NMBR";
        hcell2.innerHTML = "YEAR";
        hcell3.innerHTML = "AGE";
        hcell4.innerHTML = "REGION";
        hcell5.innerHTML = "MALE";
        hcell6.innerHTML = "FEMALE";
        hcell7.innerHTML = "TOTAL";
        hcell8.innerHTML = "TYPE";

        var body = table.appendChild(document.createElement('tbody'));

        for (var i = 0; i < results.length; i++) {
            /*age is falsy if 0, need custom fix*/
            var pass_age = results[i].age || "";
            if (results[i].age === 0) {
                pass_age = "0";
            }
            addrow(i, results[i].reg_num || "", results[i].year || "", pass_age, results[i].region || "", results[i].malepopulation, results[i].femalepopulation, results[i].totalpopulation, results[i].datatype || "");
        }

    }


    function addrow(rownum, reg_num, year, age, region, malepopulation, femalepopulation, totalpopulation, datatype) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        var cell8 = row.insertCell(7);

        /* Add some text to the new cells:*/
        cell1.innerHTML = reg_num;
        cell2.innerHTML = year;
        cell3.innerHTML = age;
        cell4.innerHTML = region;
        cell5.innerHTML = Number(malepopulation).toLocaleString();
        cell6.innerHTML = Number(femalepopulation).toLocaleString();
        cell7.innerHTML = Number(totalpopulation).toLocaleString();
        cell8.innerHTML = datatype;

    }


    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "region_sya_data.csv");
    }, false);
  
</script>
