---
layout: page
title: "County Single Year of Age"
permalink: "/population/data/county-sya.html"
custom_js:
- /assets/js/FileSaver.min.js
file: "https://console.cloud.google.com/m/cloudstorage/b/co-publicdata/o/county_sya.csv"
description: "Search for information on total population and gender by county, year, and age."
years: "1990-2014 (Estimates) and 2015-2050 (Forecast)"
tag: "popdata"

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2>County Population by Single Year of Age</h2>

<br />
<label for="countiesSelected" style="font-weight: bold;">Select 1 or more counties:</label><br />
<select id="countiesSelected" class="formtable" name="countiesSelected" multiple="multiple" size="5">	
	<option value="1">Adams</option>
	<option value="3">Alamosa</option>
	<option value="5">Arapahoe</option>
	<option value="7">Archuleta</option>
	<option value="9">Baca</option>
	<option value="11">Bent</option>
	<option value="13">Boulder</option>
	<option value="14">Broomfield</option>
	<option value="15">Chaffee</option>
	<option value="17">Cheyenne</option>
	<option value="19">Clear Creek</option>
	<option value="21">Conejos</option>
	<option value="23">Costilla</option>
	<option value="25">Crowley</option>
	<option value="27">Custer</option>
	<option value="29">Delta</option>
	<option value="31">Denver</option>
	<option value="33">Dolores</option>
	<option value="35">Douglas</option>
	<option value="37">Eagle</option>
	<option value="41">El Paso</option>
	<option value="39">Elbert</option>
	<option value="43">Fremont</option>
	<option value="45">Garfield</option>
	<option value="47">Gilpin</option>
	<option value="49">Grand</option>
	<option value="51">Gunnison</option>
	<option value="53">Hinsdale</option>
	<option value="55">Huerfano</option>
	<option value="57">Jackson</option>
	<option value="59">Jefferson</option>
	<option value="61">Kiowa</option>
	<option value="63">Kit Carson</option>
	<option value="67">La Plata</option>
	<option value="65">Lake</option>
	<option value="69">Larimer</option>
	<option value="71">Las Animas</option>
	<option value="73">Lincoln</option>
	<option value="75">Logan</option>
	<option value="77">Mesa</option>
	<option value="79">Mineral</option>
	<option value="81">Moffat</option>
	<option value="83">Montezuma</option>
	<option value="85">Montrose</option>
	<option value="87">Morgan</option>
	<option value="89">Otero</option>
	<option value="91">Ouray</option>
	<option value="93">Park</option>
	<option value="95">Phillips</option>
	<option value="97">Pitkin</option>
	<option value="99">Prowers</option>
	<option value="101">Pueblo</option>
	<option value="103">Rio Blanco</option>
	<option value="105">Rio Grande</option>
	<option value="107">Routt</option>
	<option value="109">Saguache</option>
	<option value="111">San Juan</option>
	<option value="113">San Miguel</option>
	<option value="115">Sedgwick</option>
	<option value="117">Summit</option>
	<option value="119">Teller</option>
	<option value="121">Washington</option>
	<option value="123">Weld</option>
	<option value="125">Yuma</option>
</select>

<br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" class="formtable" name="yearsSelected" multiple="multiple" size="5">
  <option value="1990">1990</option>
	<option value="1991">1991</option>
	<option value="1992">1992</option>
	<option value="1993">1993</option>
	<option value="1994">1994</option>
  <option value="1995">1995</option>
	<option value="1996">1996</option>
	<option value="1997">1997</option>
	<option value="1998">1998</option>
	<option value="1999">1999</option>
  <option value="2000">2000</option>
	<option value="2001">2001</option>
	<option value="2002">2002</option>
	<option value="2003">2003</option>
	<option value="2004">2004</option>
  <option value="2005">2005</option>
	<option value="2006">2006</option>
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
  <option value="2010">2010</option>
	<option value="2011">2011</option>
	<option value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>
  <option value="2015">2015</option>
	<option value="2016">2016</option>
	<option value="2017">2017</option>
	<option value="2018">2018</option>
	<option value="2019">2019</option>
  <option value="2020">2020</option>
	<option value="2021">2021</option>
	<option value="2022">2022</option>
	<option value="2023">2023</option>
	<option value="2024">2024</option>
  <option value="2025">2025</option>
	<option value="2026">2026</option>
	<option value="2027">2027</option>
	<option value="2028">2028</option>
	<option value="2029">2029</option>  
  <option value="2030">2030</option>
	<option value="2031">2031</option>
	<option value="2032">2032</option>
	<option value="2033">2033</option>
	<option value="2034">2034</option>
  <option value="2035">2035</option>
	<option value="2036">2036</option>
	<option value="2037">2037</option>
	<option value="2038">2038</option>
	<option value="2039">2039</option>  
  <option value="2040">2040</option>
	<option value="2041">2041</option>
	<option value="2042">2042</option>
	<option value="2043">2043</option>
	<option value="2044">2044</option>
  <option value="2045">2045</option>
	<option value="2046">2046</option>
	<option value="2047">2047</option>
	<option value="2048">2048</option>
	<option value="2049">2049</option>  
	<option value="2050">2050</option>    
</select>

<br /><br />
<label for="agesSelected" style="font-weight: bold;">Select 1 or more ages:</label><br />
<select id="agesSelected" class="formtable" name="agesSelected" multiple="multiple" size="5">
  <option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
  <option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
  <option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
  <option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
  <option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
  <option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
  <option value="30">30</option>
	<option value="31">31</option>
	<option value="32">32</option>
	<option value="33">33</option>
	<option value="34">34</option>
  <option value="35">35</option>
	<option value="36">36</option>
	<option value="37">37</option>
	<option value="38">38</option>
	<option value="39">39</option>  
  <option value="40">40</option>
	<option value="41">41</option>
	<option value="42">42</option>
	<option value="43">43</option>
	<option value="44">44</option>
  <option value="45">45</option>
	<option value="46">46</option>
	<option value="47">47</option>
	<option value="48">48</option>
	<option value="49">49</option>  
  <option value="50">50</option>
	<option value="51">51</option>
	<option value="52">52</option>
	<option value="53">53</option>
	<option value="54">54</option>
  <option value="55">55</option>
	<option value="56">56</option>
	<option value="57">57</option>
	<option value="58">58</option>
	<option value="59">59</option>  
  <option value="60">60</option>
	<option value="61">61</option>
	<option value="62">62</option>
	<option value="63">63</option>
	<option value="64">64</option>
  <option value="65">65</option>
	<option value="66">66</option>
	<option value="67">67</option>
	<option value="68">68</option>
	<option value="69">69</option>  
  <option value="70">70</option>
	<option value="71">71</option>
	<option value="72">72</option>
	<option value="73">73</option>
	<option value="74">74</option>
  <option value="75">75</option>
	<option value="76">76</option>
	<option value="77">77</option>
	<option value="78">78</option>
	<option value="79">79</option>  
  <option value="80">80</option>
	<option value="81">81</option>
	<option value="82">82</option>
	<option value="83">83</option>
	<option value="84">84</option>
  <option value="85">85</option>
	<option value="86">86</option>
	<option value="87">87</option>
	<option value="88">88</option>
	<option value="89">89</option>
  <option value="90">90</option>
</select>

<br /><br />
  <input type="radio" name="compressed" value="no" checked>No Grouping&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="opt1">Group by Year&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="opt2">Group by County and Year&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="opt3">Group by Age and Year<br />  
<br />
  <input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" />
<br />
<table id="resultstable"></table>










<script>
  
  var viewresults=document.getElementById('callapi');
  
  /* click VIEW RESULTS BUTTON */
    viewresults.onclick=function(){

      
    /* Return an array of the selected option values*/
    function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}
    
    var selectedCounties = getSelectValues(countiesSelected);
    var selectedAges = getSelectValues(agesSelected);
    var selectedYears = getSelectValues(yearsSelected);

    var compressed = document.querySelector('input[name="compressed"]:checked').value;
      
    var yearstring;
    var agestring;
    var countystring;
      
      /*VALIDATION*/
    if(selectedYears.length===0){
      alert('no year selected');
      return;
    }else{
      yearstring = selectedYears.join(",");
    }
    
    if(selectedAges.length===0){
      alert('no age selected');
      return;
    }else{
      agestring = selectedAges.join(",");
    }        
    
    if(selectedCounties.length===0){
      alert('no county selected');
      return;
    }else{
      countystring = selectedCounties.join(",");
    }        
      
      var querystring="age=" + agestring + "&county=" + countystring + "&year=" + yearstring + "&group=" + compressed;
      
 
      /* make Download CSV button visible */
   document.getElementById("dlcsv").style.display='inline-block';      
      
    requestdata(querystring);
      
    /*ajax request function*/
    function requestdata(querystring){
      
      var xhttp = new XMLHttpRequest();
      
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            createtable(JSON.parse(xhttp.responseText));
          } /*fill in for error codes later*/
        };
      
      xhttp.open("GET", "http://104.197.26.248:4001/sya?"+querystring, true);
      xhttp.send();
    }
    
      
      function createtable(results){

          var table = document.getElementById("resultstable");
          table.innerHTML = ""; /*clear all previous content*/
        
          var header = table.createTHead();
          var hrow = header.insertRow(0);     
          var hcell1 = hrow.insertCell(0);
          var hcell2 = hrow.insertCell(1);
          var hcell3 = hrow.insertCell(2);
          var hcell4 = hrow.insertCell(3);
          var hcell5 = hrow.insertCell(4);
          var hcell6 = hrow.insertCell(5);        
          var hcell7 = hrow.insertCell(6);
          var hcell8 = hrow.insertCell(7);
 
        
          hcell1.innerHTML = "CFIPS";
          hcell2.innerHTML = "YEAR";
          hcell3.innerHTML = "AGE";
          hcell4.innerHTML = "COUNTY";
          hcell5.innerHTML = "MALE";
          hcell6.innerHTML = "FEMALE";
          hcell7.innerHTML = "TOTAL";
          hcell8.innerHTML = "TYPE";
      
        
          var body = table.appendChild(document.createElement('tbody'));
        
        
        
        for(var i=0;i<results.length;i++){
          
          /*age is falsy if 0, need custom fix*/
          var pass_age = results[i].age || "";
          if(results[i].age===0){pass_age="0";}
          
          addrow(i,results[i].countyfips || "",results[i].year || "",pass_age,results[i].county || "",results[i].malepopulation,results[i].femalepopulation,results[i].totalpopulation,results[i].datatype || "")
        }
        
        
        function addrow(rownum, countyfips, year, age, county, malepopulation, femalepopulation, totalpopulation, datatype){
          
          var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];
          
          /* Create an empty <tr> element and add it to the 1st position of the table:*/
          var row = tableRef.insertRow(rownum);

          /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          var cell6 = row.insertCell(5);
          var cell7 = row.insertCell(6);
          var cell8 = row.insertCell(7);

          
          /* Add some text to the new cells:*/
          cell1.innerHTML = countyfips;
          cell2.innerHTML = year;
          cell3.innerHTML = age;
          cell4.innerHTML = county;
          cell5.innerHTML = malepopulation;
          cell6.innerHTML = femalepopulation;
          cell7.innerHTML = totalpopulation;
          cell8.innerHTML = datatype;

          
        }

      }

    
  };
  
  
    var dlcsv=document.getElementById('dlcsv');
  
    dlcsv.onclick=function(){
      
      var csvstring="";
      
      var oTable = document.getElementById('resultstable');
var rowLength = oTable.rows.length;
for (i = 0; i < rowLength; i++){
   var oCells = oTable.rows.item(i).cells;
   var cellLength = oCells.length;
   for(var j = 0; j < cellLength; j++){
      /* get your cell info here */
      if(j===0 && i>0){csvstring=csvstring+"\n";}
      csvstring = csvstring + oCells.item(j).innerHTML;
     if(j< cellLength ){csvstring=csvstring+",";}
     }
}
      
      
var blob = new Blob([csvstring], {type: "text/csv;charset=utf-8"});
saveAs(blob, "county_sya_data.csv");
      
    }
  
  
</script>  
