---
layout: page
title: "Historical Census Lookup"
permalink: "/population/data/historical_census/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
file: 
- "https://storage.googleapis.com/co-publicdata/profiles-county.csv"
- "https://storage.googleapis.com/co-publicdata/profiles-region.csv"
description: "Historical Census Data for Colorado Counties and Municipalities"
years: "1870-2010"
tag: "popdata"

---

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<h2 id="county-demographic-profiles">Historical Census Data - Counties and Municipalities</h2>

<label for="countiesSelected" style="font-weight: bold;">Select 1 or more counties:</label><br />
<select id="countiesSelected" class="formtable" name="countiesSelected" multiple="multiple" size="5">	
<!-- populated from database -->
</select>
<br /><br />
<label for="munisSelected" style="font-weight: bold;">Select 1 or more municipalities:</label><br />
<select id="munisSelected" class="formtable" name="munisSelected" multiple="multiple" size="5">	
<!-- populated from database -->
</select>

<br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" class="formtable" name="yearsSelected" multiple="multiple" size="5">
<!-- populated from database -->
</select>
<br /><br />

<!--<input type="radio" name="compressed" value="no" checked>No Grouping&nbsp;&nbsp;&nbsp;-->
<!--<input type="radio" name="compressed" value="opt1">Group by Year&nbsp;&nbsp;&nbsp;-->
<!--<input type="radio" name="compressed" value="opt2">Group by County-->
<br /><br />
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" />
<br />
<table id="resultstable"></table>

<script>
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/historicalYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].population_year + "'>" + yrs[i].population_year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });
    
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/historicalcounty', function(cnty) {
        var queriedCounties = "";
        for (let i = 0; i < cnty.length; i++) {
            queriedCounties += "<option value='" + cnty[i].area_name + "'>" + cnty[i].area_name + "</option>";
        }
        document.getElementById('countiesSelected').innerHTML = queriedCounties;
    });

    fetchJSONFile('https://gis.dola.colorado.gov/lookups/historicalmuni', function(muni) {
        var queriedMunis = "";
        for (let i = 0; i < muni.length; i++) {
            queriedMunis += "<option value='" + muni[i].area_name + "'>" + muni[i].area_name + "</option>";
        }
        document.getElementById('munisSelected').innerHTML = queriedMunis;
    });
    
    
    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedMunis = getSelectValues(munisSelected);
        var selectedYears = getSelectValues(yearsSelected);


        var yearstring;
        var geostring;

        if (selectedYears.length === 0) {
            alert('no year selected');
            return;
        } else {
            yearstring = selectedYears.join(",");
        }
        if (selectedCounties.length === 0 & selectedMunis.length === 0) {
            alert('no geography selected');
            return;
        } else if (selectedCounties.length >= 1 & selectedMunis.length >= 1) {
            geostring = selectedCounties.join("_C,")+","+selectedMunis.join("_M,");
        } else if (selectedCounties.length >= 1 & selectedMunis.length === 0 ){
            geostring = selectedCounties.join("_C,");
        } else {
            geostring = selectedMunis.join("_M,");
        }



        var querystring = "geo=" + geostring + "&year=" + yearstring;

console.log(querystring);

        fetchJSONFile("https://gis.dola.colorado.gov/lookups/historicalcensus?" + querystring, function(text) {
            /* make Download CSV button visible */
            document.getElementById("dlcsv").style.display = 'inline-block';
            createtable(text);
        });

    }, false);


    function createtable(results) {

        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);

        hcell1.innerHTML = "AREA(S)";
        hcell2.innerHTML = "YEAR";
        hcell3.innerHTML = "Total Population";
       

        var body = table.appendChild(document.createElement('tbody'));

        for (var i = 0; i < results.length; i++) {
            addrow(i, results[i].area_name || "", results[i].population_year || "", results[i].total_population);
        }

    }


    function addrow(rownum, area_name, population_year, total_population) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);


        /* Add some text to the new cells:*/
        cell1.innerHTML = area_name;
        cell2.innerHTML = population_year;
        cell3.innerHTML = total_population;
        
    }


    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "historical-census-data.csv");
    }, false);
  
</script>
{% include _footer_scripts.html %}
