---
layout: page
title: "County and Municipal Population and Housing"
permalink: "/population/data/muni-pop-housing/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/Promise.min.js
- /assets/js/common/dola_custom_functions.js
file: "https://storage.googleapis.com/co-publicdata/muni-pop-housing.csv"
description: "Search for information on population, household population, group quarters population, household size, housing units, occupied housing units, vacant housing units, and vacancy rate by county, municipality, and year."
years: "2010-2016"
tag: "popdata"

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}

<h2 id="population-and-housing-timeseries">Population and Housing Time Series</h2>

<br />
<label for="countiesSelected" style="font-weight: bold;">Select 0 or more counties:</label><br />
<select id="countiesSelected" name="countiesSelected" multiple="multiple" size="5">	
{% include _optionValuesCounty.html %}
</select><br /><br />
<br />

<label for="municipalitiesSelected" style="font-weight: bold;">Select 0 or more municipalities:</label><br />
<select id="municipalitiesSelected" name="municipalitiesSelected" multiple="multiple" size="5">	
  <option value="99990:1">Adams Unincorp. Area</option>
	<option value="760">Aguilar</option>
	<option value="925">Akron</option>
	<option value="1090">Alamosa</option>
	<option value="99990:3">Alamosa Unincorp. Area</option>
	<option value="1530">Alma</option>
	<option value="2355">Antonito</option>
	<option value="99990:5">Arapahoe Unincorp. Area</option>
	<option value="99990:7">Archuleta Unincorp. Area</option>
	<option value="3235">Arriba</option>
	<option value="3455">Arvada</option>
	<option value="3620">Aspen</option>
	<option value="3950">Ault</option>
	<option value="4000">Aurora</option>
	<option value="4110">Avon</option>
	<option value="99990:9">Baca Unincorp. Area</option>
	<option value="4935">Basalt</option>
	<option value="5265">Bayfield</option>
	<option value="6090">Bennett</option>
	<option value="99990:11">Bent Unincorp. Area</option>
	<option value="6255">Berthoud</option>
	<option value="6530">Bethune</option>
	<option value="7025">Black Hawk</option>
	<option value="7190">Blanca</option>
	<option value="7410">Blue River</option>
	<option value="7571">Bonanza City</option>
	<option value="7795">Boone</option>
	<option value="7850">Boulder</option>
	<option value="99990:13">Boulder Unincorp. Area</option>
	<option value="8070">Bow Mar</option>
	<option value="8345">Branson</option>
	<option value="8400">Breckenridge</option>
	<option value="8675">Brighton</option>
	<option value="9115">Brookside</option>
	<option value="9280">Broomfield</option>
	<option value="9555">Brush</option>
	<option value="10105">Buena Vista</option>
	<option value="10600">Burlington</option>
	<option value="11260">Calhan</option>
	<option value="11645">Campo</option>
	<option value="11810">Canon City</option>
	<option value="12045">Carbondale</option>
	<option value="12415">Castle Rock</option>
	<option value="12635">Cedaredge</option>
	<option value="12815">Centennial</option>
	<option value="12855">Center</option>
	<option value="12910">Central City</option>
	<option value="99990:15">Chaffee Unincorp. Area</option>
	<option value="13460">Cheraw</option>
	<option value="13845">Cherry Hills Village</option>
	<option value="99990:17">Cheyenne Unincorp. Area</option>
	<option value="14175">Cheyenne Wells</option>
	<option value="12390">City of Castle Pines</option>
	<option value="99990:19">Clear Creek Unincorp. Area</option>
	<option value="15330">Coal Creek</option>
	<option value="15550">Cokedale</option>
	<option value="15605">Collbran</option>
	<option value="16000">Colorado Springs</option>
	<option value="16385">Columbine Valley</option>
	<option value="16495">Commerce City</option>
	<option value="99990:21">Conejos Unincorp. Area</option>
	<option value="17375">Cortez</option>
	<option value="99990:23">Costilla Unincorp. Area</option>
	<option value="17760">Craig</option>
	<option value="17925">Crawford</option>
	<option value="14765">Creede</option>
	<option value="18310">Crested Butte</option>
	<option value="18420">Crestone</option>
	<option value="18530">Cripple Creek</option>
	<option value="18640">Crook</option>
	<option value="18750">Crowley</option>
	<option value="99990:25">Crowley Unincorp. Area</option>
	<option value="99990:27">Custer Unincorp. Area</option>
	<option value="19080">Dacono</option>
	<option value="19355">De Beque</option>
	<option value="19630">Deer Trail</option>
	<option value="19795">Del Norte</option>
	<option value="19850">Delta</option>
	<option value="99990:29">Delta Unincorp. Area</option>
	<option value="20000">Denver</option>
	<option value="20440">Dillon</option>
	<option value="20495">Dinosaur</option>
	<option value="20770">Dolores</option>
	<option value="99990:33">Dolores Unincorp. Area</option>
	<option value="99990:35">Douglas Unincorp. Area</option>
	<option value="21265">Dove Creek</option>
	<option value="22035">Durango</option>
	<option value="22145">Eads</option>
	<option value="22200">Eagle</option>
	<option value="99990:37">Eagle Unincorp. Area</option>
	<option value="22860">Eaton</option>
	<option value="23025">Eckley</option>
	<option value="23135">Edgewater</option>
	<option value="99990:41">El Paso Unincorp. Area</option>
	<option value="99990:39">Elbert Unincorp. Area</option>
	<option value="23740">Elizabeth</option>
	<option value="24620">Empire</option>
	<option value="24785">Englewood</option>
	<option value="24950">Erie</option>
	<option value="25115">Estes Park</option>
	<option value="25280">Evans</option>
	<option value="25610">Fairplay</option>
	<option value="26270">Federal Heights</option>
	<option value="26600">Firestone</option>
	<option value="26765">Flagler</option>
	<option value="26875">Fleming</option>
	<option value="27040">Florence</option>
	<option value="27425">Fort Collins</option>
	<option value="27700">Fort Lupton</option>
	<option value="27810">Fort Morgan</option>
	<option value="27865">Fountain</option>
	<option value="27975">Fowler</option>
	<option value="28105">Foxfield</option>
	<option value="28305">Fraser</option>
	<option value="28360">Frederick</option>
	<option value="99990:43">Fremont Unincorp. Area</option>
	<option value="28690">Frisco</option>
	<option value="28745">Fruita</option>
	<option value="29185">Garden City</option>
	<option value="99990:45">Garfield Unincorp. Area</option>
	<option value="29680">Genoa</option>
	<option value="29735">Georgetown</option>
	<option value="29955">Gilcrest</option>
	<option value="99990:47">Gilpin Unincorp. Area</option>
	<option value="30340">Glendale</option>
	<option value="30780">Glenwood Springs</option>
	<option value="30835">Golden</option>
	<option value="31550">Granada</option>
	<option value="31605">Granby</option>
	<option value="31660">Grand Junction</option>
	<option value="31715">Grand Lake</option>
	<option value="99990:49">Grand Unincorp. Area</option>
	<option value="32155">Greeley</option>
	<option value="32650">Green Mtn. Falls</option>
	<option value="33035">Greenwood Village</option>
	<option value="33310">Grover</option>
	<option value="33640">Gunnison</option>
	<option value="99990:51">Gunnison Unincorp. Area</option>
	<option value="33695">Gypsum</option>
	<option value="34520">Hartman</option>
	<option value="34740">Haswell</option>
	<option value="34960">Haxtun</option>
	<option value="35070">Hayden</option>
	<option value="36610">Hillrose</option>
	<option value="99990:53">Hinsdale Unincorp. Area</option>
	<option value="37215">Holly</option>
	<option value="37270">Holyoke</option>
	<option value="37380">Hooper</option>
	<option value="37600">Hot Sulphur Springs</option>
	<option value="37545">Hotchkiss</option>
	<option value="37820">Hudson</option>
	<option value="99990:55">Huerfano Unincorp. Area</option>
	<option value="37875">Hugo</option>
	<option value="38370">Idaho Springs</option>
	<option value="38535">Ignacio</option>
	<option value="38590">Iliff</option>
	<option value="99990:57">Jackson Unincorp. Area</option>
	<option value="39195">Jamestown</option>
	<option value="99990:59">Jefferson Unincorp. Area</option>
	<option value="39855">Johnstown</option>
	<option value="39965">Julesburg</option>
	<option value="40185">Keenesburg</option>
	<option value="40515">Kersey</option>
	<option value="40570">Kim</option>
	<option value="40790">Kiowa</option>
	<option value="99990:61">Kiowa Unincorp. Area</option>
	<option value="41010">Kit Carson</option>
	<option value="99990:63">Kit Carson Unincorp. Area</option>
	<option value="41560">Kremmling</option>
	<option value="42055">La Jara</option>
	<option value="42110">La Junta</option>
	<option value="99990:67">La Plata Unincorp. Area</option>
	<option value="43605">La Salle</option>
	<option value="44100">La Veta</option>
	<option value="41835">Lafayette</option>
	<option value="42330">Lake City</option>
	<option value="99990:65">Lake Unincorp. Area</option>
	<option value="42495">Lakeside</option>
	<option value="43000">Lakewood</option>
	<option value="43110">Lamar</option>
	<option value="99990:69">Larimer Unincorp. Area</option>
	<option value="43550">Larkspur</option>
	<option value="43660">Las Animas</option>
	<option value="99990:71">Las Animas Unincorp. Area</option>
	<option value="44320">Leadville</option>
	<option value="44980">Limon</option>
	<option value="99990:73">Lincoln Unincorp. Area</option>
	<option value="45255">Littleton</option>
	<option value="45530">Lochbuie</option>
	<option value="45695">Log Lane Village</option>
	<option value="99990:75">Logan Unincorp. Area</option>
	<option value="45955">Lone Tree</option>
	<option value="45970">Longmont</option>
	<option value="46355">Louisville</option>
	<option value="46465">Loveland</option>
	<option value="47070">Lyons</option>
	<option value="48060">Manassa</option>
	<option value="48115">Mancos</option>
	<option value="48445">Manitou Springs</option>
	<option value="48500">Manzanola</option>
	<option value="48555">Marble</option>
	<option value="49600">Mead</option>
	<option value="49875">Meeker</option>
	<option value="50040">Merino</option>
	<option value="99990:77">Mesa Unincorp. Area</option>
	<option value="50480">Milliken</option>
	<option value="99990:79">Mineral Unincorp. Area</option>
	<option value="50920">Minturn</option>
	<option value="51250">Moffat</option>
	<option value="99990:81">Moffat Unincorp. Area</option>
	<option value="51635">Monte Vista</option>
	<option value="51690">Montezuma</option>
	<option value="99990:83">Montezuma Unincorp. Area</option>
	<option value="51745">Montrose</option>
	<option value="99990:85">Montrose Unincorp. Area</option>
	<option value="51800">Monument</option>
	<option value="99990:87">Morgan Unincorp. Area</option>
	<option value="52075">Morrison</option>
	<option value="52570">Mount Crested Butte</option>
	<option value="52350">Mountain View</option>
	<option value="52550">Mountain Village</option>
	<option value="53120">Naturita</option>
	<option value="53175">Nederland</option>
	<option value="53395">New Castle</option>
	<option value="54330">Northglenn</option>
	<option value="54880">Norwood</option>
	<option value="54935">Nucla</option>
	<option value="55045">Nunn</option>
	<option value="55155">Oak Creek</option>
	<option value="55540">Olathe</option>
	<option value="55705">Olney Springs</option>
	<option value="55870">Ophir</option>
	<option value="55980">Orchard City</option>
	<option value="56145">Ordway</option>
	<option value="99990:89">Otero Unincorp. Area</option>
	<option value="56365">Otis</option>
	<option value="56420">Ouray</option>
	<option value="99990:91">Ouray Unincorp. Area</option>
	<option value="56475">Ovid</option>
	<option value="56860">Pagosa Springs</option>
	<option value="56970">Palisade</option>
	<option value="57025">Palmer Lake</option>
	<option value="57245">Paoli</option>
	<option value="57300">Paonia</option>
	<option value="57400">Parachute</option>
	<option value="99990:93">Park Unincorp. Area</option>
	<option value="57630">Parker</option>
	<option value="58235">Peetz</option>
	<option value="99990:95">Phillips Unincorp. Area</option>
	<option value="59005">Pierce</option>
	<option value="59830">Pitkin</option>
	<option value="99990:97">Pitkin Unincorp. Area</option>
	<option value="60160">Platteville</option>
	<option value="60600">Poncha Springs</option>
	<option value="61315">Pritchett</option>
	<option value="99990:99">Prowers Unincorp. Area</option>
	<option value="62000">Pueblo</option>
	<option value="99990:101">Pueblo Unincorp. Area</option>
	<option value="62660">Ramah</option>
	<option value="62880">Rangely</option>
	<option value="63045">Raymer</option>
	<option value="63265">Red Cliff</option>
	<option value="64090">Rico</option>
	<option value="64200">Ridgway</option>
	<option value="64255">Rifle</option>
	<option value="99990:103">Rio Blanco Unincorp. Area</option>
	<option value="99990:105">Rio Grande Unincorp. Area</option>
	<option value="64970">Rockvale</option>
	<option value="65190">Rocky Ford</option>
	<option value="65740">Romeo</option>
	<option value="99990:107">Routt Unincorp. Area</option>
	<option value="66895">Rye</option>
	<option value="67005">Saguache</option>
	<option value="99990:109">Saguache Unincorp. Area</option>
	<option value="67280">Salida</option>
	<option value="99990:111">San Juan Unincorp. Area</option>
	<option value="68105">San Luis</option>
	<option value="99990:113">San Miguel Unincorp. Area</option>
	<option value="67830">Sanford</option>
	<option value="68655">Sawpit</option>
	<option value="68930">Sedgwick</option>
	<option value="99990:115">Sedgwick Unincorp. Area</option>
	<option value="69040">Seibert</option>
	<option value="69150">Severance</option>
	<option value="69645">Sheridan</option>
	<option value="69700">Sheridan Lake</option>
	<option value="70195">Silt</option>
	<option value="70250">Silver Cliff</option>
	<option value="70360">Silver Plume</option>
	<option value="70525">Silverthorne</option>
	<option value="70580">Silverton</option>
	<option value="70635">Simla</option>
	<option value="71755">Snowmass Village</option>
	<option value="72395">South Fork</option>
	<option value="73330">Springfield</option>
	<option value="73715">Starkville</option>
	<option value="73825">Steamboat Springs</option>
	<option value="73935">Sterling</option>
	<option value="74485">Stratton</option>
	<option value="74815">Sugar City</option>
	<option value="99990:117">Summit Unincorp. Area</option>
	<option value="75640">Superior</option>
	<option value="75970">Swink</option>
	<option value="99990:119">Teller Unincorp. Area</option>
	<option value="76795">Telluride</option>
	<option value="77290">Thornton</option>
	<option value="77510">Timnath</option>
	<option value="78610">Trinidad</option>
	<option value="79270">Two Buttes</option>
	<option value="80040">Vail</option>
	<option value="80865">Victor</option>
	<option value="81030">Vilas</option>
	<option value="81690">Vona</option>
	<option value="82130">Walden</option>
	<option value="82350">Walsenburg</option>
	<option value="82460">Walsh</option>
	<option value="82735">Ward</option>
	<option value="99990:121">Washington Unincorp. Area</option>
	<option value="99990:123">Weld Unincorp. Area</option>
	<option value="83230">Wellington</option>
	<option value="83450">Westcliffe</option>
	<option value="83835">Westminster</option>
	<option value="84440">Wheat Ridge</option>
	<option value="84770">Wiggins</option>
	<option value="85045">Wiley</option>
	<option value="85155">Williamsburg</option>
	<option value="85485">Windsor</option>
	<option value="85705">Winter Park</option>
	<option value="86090">Woodland Park</option>
	<option value="86310">Wray</option>
	<option value="86475">Yampa</option>
	<option value="86750">Yuma</option>
	<option value="99990:125">Yuma Unincorp. Area</option>
</select><br /><br /><br />

<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" name="yearsSelected" multiple="multiple" size="5">
<!-- populated from database -->
</select><br /><br /><br />

<input type="radio" name="compressed" value="no" checked>Show Components&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="yes" >Sum Results<br /><br />

<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br />
<table id="resultstable"></table>

<script>
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/munipophousingYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].year + "'>" + yrs[i].year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });


    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedMunis = getSelectValues(municipalitiesSelected);
        var selectedYears = getSelectValues(yearsSelected);
        var statstring = "&stats=totalpopulation,householdpopulation,groupquarterspopulation,totalhousingunits,occupiedhousingunits,vacanthousingunits,vacancyrate";
        var compressed = document.querySelector('input[name="compressed"]:checked').value;
        var yearstring;

        if (selectedYears.length === 0) {
            yearstring = "2014";
        } else {
            yearstring = selectedYears.join(",");
        } /*if no year is selected, 2014 is chosen as default*/

        /*search input for placefips with 99990.  store county numbers in array*/
        var unincorporated = [];
        var munilist = [];

        for (var i = selectedMunis.length - 1; i >= 0; i--) {
            if (selectedMunis[i].split(":")[0] == "99990") {
                unincorporated.push(selectedMunis[i].split(":")[1]);
            } else {
                munilist.push(selectedMunis[i]);
            }
        }

        /*will ping API 3 times: one for counties, one for munis, one for unincorporated munis*/
        var requestcount = 0;
        var finishedrequests = 0;
        var countyresults = false;
        var muniresults = false;
        var unincorporatedresults = false;

        /*counties*/
        if (selectedCounties.length > 0) {
            requestcount++;
            var countystring = "year=" + yearstring + "&countyfips=" + selectedCounties.join(",") + "&compressed=" + compressed + statstring;
            var countypromise = new Promise(function(resolve, reject) {
                requestdata(countystring, resolve, reject);
            });
            countypromise.then(function(result) {
                countyresults = [];
                countyresults.push(result);
            }, function(err) {
                console.log(err);
            });
        }

        /*munis*/
        if (munilist.length > 0) {
            requestcount++;
            var munistring = "year=" + yearstring + "&placefips=" + munilist.join(",") + "&compressed=" + compressed + statstring;
            var munipromise = new Promise(function(resolve, reject) {
                requestdata(munistring, resolve, reject);
            });
            munipromise.then(function(result) {
                muniresults = [];
                muniresults.push(result);
            }, function(err) {
                console.log(err);
            });
        }

        /*unincorporated munis*/
        if (unincorporated.length > 0) {
            requestcount++;
            var unincorporatedstring = "year=" + yearstring + "&placefips=99990&countyfips=" + unincorporated.join(",") + "&compressed=" + compressed + statstring;
            var unincorporatedpromise = new Promise(function(resolve, reject) {
                requestdata(unincorporatedstring, resolve, reject);
            });
            unincorporatedpromise.then(function(result) {
                unincorporatedresults = [];
                unincorporatedresults.push(result);
            }, function(err) {
                console.log(err);
            });
        }

        /*ajax request function*/
        function requestdata(querystring, resolve, reject) {

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    finishedrequests++;
                    resolve(JSON.parse(xhttp.responseText));
                } /*fill in for error codes later*/
            };

            xhttp.open("GET", "https://gis.dola.colorado.gov/lookups/munipophousing?" + querystring, true);
            xhttp.send();
        }

        /*check to see that all ajax requests are finished*/
        function check() {
            if (finishedrequests < requestcount) {
                setTimeout(check, 200); /* if requests havent finished, wait and check again */
            } else {
                var results;
                if (!countyresults && !muniresults && unincorporatedresults) {
                    results = unincorporatedresults[0];
                }
                if (!countyresults && muniresults && !unincorporatedresults) {
                    results = muniresults[0];
                }
                if (countyresults && !muniresults && !unincorporatedresults) {
                    results = countyresults[0];
                }
                if (countyresults && muniresults && !unincorporatedresults) {
                    results = countyresults[0].concat(muniresults[0]);
                }
                if (countyresults && !muniresults && unincorporatedresults) {
                    results = countyresults[0].concat(unincorporatedresults[0]);
                }
                if (!countyresults && muniresults && unincorporatedresults) {
                    results = muniresults[0].concat(unincorporatedresults[0]);
                }
                if (countyresults && muniresults && unincorporatedresults) {
                    results = countyresults[0].concat(muniresults[0], unincorporatedresults[0]);
                }
                console.log(results);
                createtable(results);
            }
        }

        check();

    }, false);


    function createtable(results) {
      
        /* make Download CSV button visible */
        document.getElementById("dlcsv").style.display = 'inline-block';
      
        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);
        var hcell6 = hrow.insertCell(5);
        var hcell7 = hrow.insertCell(6);
        var hcell8 = hrow.insertCell(7);
        var hcell9 = hrow.insertCell(8);
        var hcell10 = hrow.insertCell(9);
        var hcell11 = hrow.insertCell(10);
        var hcell12 = hrow.insertCell(11);
        var hcell13 = hrow.insertCell(12);

        hcell1.innerHTML = "YEAR";
        hcell2.innerHTML = "COUNTY";
        hcell3.innerHTML = "PLACE";
        hcell4.innerHTML = "CFIPS";
        hcell5.innerHTML = "PFIPS";
        hcell6.innerHTML = "Total Population";
        hcell7.innerHTML = "Household Population";
        hcell8.innerHTML = "Group Quarters Population";
        hcell9.innerHTML = "Household Size";
        hcell10.innerHTML = "Total Housing Units";
        hcell11.innerHTML = "Occupied Housing Units";
        hcell12.innerHTML = "Vacant Housing Units";
        hcell13.innerHTML = "Vacancy Percent";

        var body = table.appendChild(document.createElement('tbody'));

        for (var i = 0; i < results.length; i++) {
            addrow(i, results[i].year, results[i].municipalityname || "", results[i].placefips || "", results[i].countyfips || "", results[i].totalpopulation, results[i].householdpopulation, results[i].groupquarterspopulation, results[i].totalhousingunits, results[i].occupiedhousingunits, results[i].vacanthousingunits, results[i].vacancyrate);
        }

    }


    function addrow(rownum, year, placename, placefips, countyfips, totalpopulation, householdpopulation, groupquarterspopulation, totalhousingunits, occupiedhousingunits, vacanthousingunits, vacancyrate) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        var cell8 = row.insertCell(7);
        var cell9 = row.insertCell(8);
        var cell10 = row.insertCell(9);
        var cell11 = row.insertCell(10);
        var cell12 = row.insertCell(11);
        var cell13 = row.insertCell(12);

        /* Add some text to the new cells:*/
        cell1.innerHTML = year;
        cell2.innerHTML = clookup(countyfips);
        cell3.innerHTML = placename;
        cell4.innerHTML = countyfips;
        cell5.innerHTML = placefips;
        cell6.innerHTML = Number(totalpopulation).toLocaleString();
        cell7.innerHTML = Number(householdpopulation).toLocaleString();
        cell8.innerHTML = Number(groupquarterspopulation).toLocaleString();
        cell9.innerHTML = Number((parseInt(householdpopulation) / parseInt(occupiedhousingunits)).toFixed(2)).toLocaleString();
        cell10.innerHTML = Number(totalhousingunits).toLocaleString();
        cell11.innerHTML = Number(occupiedhousingunits).toLocaleString();
        cell12.innerHTML = Number(vacanthousingunits).toLocaleString();
        cell13.innerHTML = Number(vacancyrate).toFixed(2).toLocaleString();

    }


    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "munipophousing_data.csv");
    }, false);
  
</script>
