

html,button,input,select,textarea{
    font-family:"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

body{
    margin:0;
    padding:0;
    background-color: #ced4e0;
    color:#666666;
    line-height:24px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cbcbcb;
    margin: 1em 0;
}

select{
  width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
border: 1px solid gray;
}

thead, td {
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even){background-color: #f2f2f2}
tbody tr:nth-child(odd){background-color: #ccc}

thead {
    background-color: rgb(0,148,157);
    color: white;
}



