---
layout: page
title: "Economy"
permalink: "/economy/"
---

<div class="grid-container2">

  <div class="grid-item panel2_2_1" id="leftHand">
	{% _left_hand_econ.html %}
  </div> <!-- Grid  panel2_2_1 -->
  <div class="grid-item panel2_2_2">
      <a href="https://demography.dola.colorado.gov/Job_Sector_County" title='Interactive map of Job Sectors by County for the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Job Sector Map" src="../../map_gallery/img/JobSector2.png" ></a>
	  <a href="https://demography.dola.colorado.gov/Job_Sector_County" title='Interactive map of Job Sectors by County for the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Job Sectory by County</p></a>	
  </div>
  <div class="grid-item panel2_2_3">
      <a href="https://coloradodemography.github.io/Jobs_by_sector_chart" title='Application showing change in jobs by sector for Colorado & Counties from 2010 to the current year.  Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Job Sectors Chart" src="../../map_gallery/img/JobSectorChart.png"></a>
	  <a href="https://coloradodemography.github.io/Jobs_by_sector_chart" title='Application showing change in jobs by sector for Colorado & Counties from 2010 to the current year.  Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Job Sector Chart</p></a>
  </div>
  <div class="grid-item panel2_2_4">
      <a href="https://demography.dola.colorado.gov/CO_BaseIndustries_Bar" title='Application showing base job categories for the current year for Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Jobs Base Analysis" src="../../map_gallery/img/bars.png" ></a>
	  <a href="https://demography.dola.colorado.gov/CO_BaseIndustries_Bar" title='Application showing base job categories for the current year for Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Jobs: Base Analysis</p></a>
  </div>
  <div class="grid-item panel2_2_5">
     <a href="https://demography.dola.colorado.gov/Job_Change" title='Interactive map showing the change in the number of jobs since 1990 for Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Job Change Map" src="../../map_gallery/img/jobs.png" ></a>
	 <a href="https://demography.dola.colorado.gov/Job_Change" title='Interactive map showing the change in the number of jobs since 1990 for Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Job Change</p></a>
  </div>
  <div class="grid-item panel2_2_6">
     <a href="https://demography.dola.colorado.gov/CO_RUCA" title='Interactive map showing rural and urban census tracts using the USDA Rural-Urban Commuting Area (RUCA) codes. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Determine if a location is Urban or Rural" src="../../map_gallery/img/ruca.png" ></a>
	 <a href="https://demography.dola.colorado.gov/CO_RUCA" title='Interactive map showing rural and urban census tracts using the USDA Rural-Urbal Commuting Area (RUCA) codes. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">RUCA Urban-Rural Map</p></a>
 
  </div>
  <div class="grid-item panel2_2_7">
     <a href="https://demography.dola.colorado.gov/disadvantaged_communities" title='Interactive map showing State Revolving Fund (SRF) Disadvantaged Communities for the current year.  Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="SRF Disadvantaged Communities" src="../../map_gallery/img/srf.png" ></a>
	 <a href="https://demography.dola.colorado.gov/disadvantaged_communities" title='Interactive map showing State Revolving Fund (SRF) Disadvantaged Communities for the current year.  Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">SRF Disadvantaged Communities</p></a>

  </div>
  <div class="grid-item panel2_3_2">
    <a href="https://demography.dola.colorado.gov/CO_BLS_Unemployment" title='Interactive map showing the unemployment rate by month from January, 1990 to the current month. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Unemployment Map" src="../../map_gallery/img/unemp.png" ></a>
	<a href="https://demography.dola.colorado.gov/CO_BLS_Unemployment" title='Interactive map showing the unemployment rate by month from January, 1990 to the current month. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Unemployment Map</p></a>
  </div>
  <div class="grid-item panel2_3_3">
    <a href="https://demography.dola.colorado.gov/D3_Unemployment" title='Application showing the unemployment timeseries by month from January 1990 to the present month for Colorado & Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Unemployment Timeseries" src="../../map_gallery/img/unVis.png" ></a>
	<a href="https://demography.dola.colorado.gov/D3_Unemployment" title='Application showing the unemployment timeseries by month from January 1990 to the present month for Colorado & Counties. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Unemployment Timeseries</p></a>
  </div>
 <div class="grid-item panel2_3_4">
    <a href="https://gis.dola.colorado.gov/apps/unemployment_ribbon/" title='Application comparing the current unemployment rate to the historical unemployment rate. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Comparison of Current Umployment and Pandemic Unemployment" src="../../map_gallery/img/ribbon.PNG" ></a>
    <a href="https://gis.dola.colorado.gov/apps/unemployment_ribbon/" title='Application comparing the current unemployment rate to the historical unemployment rate. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Colorado Unemployment Ribbon</p></a>
 </div>
 <div class="grid-item panel2_3_5">
    <a href="https://demography.dola.colorado.gov/CO_Grants" title='Interactive map showing DOLA Financial Assistance programs. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of DOLA Grant Map" src="../../map_gallery/img/cogr.png" ></a>
    <a href="https://demography.dola.colorado.gov/CO_Grants" title='Interactive map showing DOLA Financial Assistance programs. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">DOLA Grants Map</p></a>
  </div>
  <div class="grid-item panel2_3_6">
     <a href="https://coloradodemography.github.io/lowmodacs" title='Interactive map showing Low and Moderate Income census tracts as identified by the U.S. Department of Urban Development(HUD FY 2019) Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Low and Moderate Income Webmap" src="../../map_gallery/img/lowmod.png" ></a>
	 <a href="https://coloradodemography.github.io/lowmodacs" title='Interactive map showing Low and Moderate Income census tracts as identified by the U.S. Department of Urban Development(HUD FY 2019) Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>><p style="font-size:9pt;text-align:center;">Low and Moderate Income (HUD FY 2019)</p></a>
  </div>
  <div class="grid-item panel2_3_7">
     <a href="https://demography.dola.colorado.gov//PovertyComprehensive"  title='Interactive map showing Poverty by Age for Census Tracts based on the American Community Survey. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Poverty by Age Webmap" src="../../map_gallery/img/povbyage.png" ></a>
	 <a href="https://demography.dola.colorado.gov//PovertyComprehensive/" title='Interactive map showing Poverty by Age for Census Tracts based on the American Community Survey. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Poverty by Age</p></a>

  </div>
 <div class="grid-item panel2_4_2">
	{% include _bodycontent1.html %}
</div>
	<div class="grid-item panel2_4_4">
	{% include _bodycontent2.html %}
</div>
<div class="grid-item panel2_4_6">
	{% include _bodycontent3.html %}
</div>
</div>  <!-- End of Grid -->
