---
layout: page
title: "Labor Force - Regions"
permalink: "/economy-labor-force/data/labor-force-regions/"
custom_js:
- /assets/js/FileSaver.min.js
description: "Search for information on labor force, labor pool, and labor force participation rate by region, gender, age group and year."
years: "2010-2040"
tag: ""

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2>Labor Force Participation - Regions</h2>

<a href="/economy-labor-force/data/labor-force/" >Need County Data?</a><br /><br />
<a href="/gis/colorado-regions/" target="_blank">Regions WebMap <img src="/images/map.png" /></a><br /><br />
<label for="countiesSelected" style="font-weight: bold;">Select 1 or more regions:</label><br />
<select id="countiesSelected" name="countiesSelected" multiple="multiple" size="5">	
	<option value="20" selected>Denver PMSA</option>
	<option value="21">Denver-Boulder Metro Area</option>
	<option value="22">Denver-Boulder-Greeley CMSA</option>
	<option value="23">10 County Denver Metro</option>
	<option value="15">Central Mountains</option>
	<option value="16">Eastern Plains</option>
	<option value="17">Front Range</option>
	<option value="18">San Luis Valley</option>
	<option value="19">Western Slope</option>
	<option value="1">Planning Region 1</option>
	<option value="2">Planning Region 2</option>
	<option value="3">Planning Region 3</option>
	<option value="4">Planning Region 4</option>
	<option value="5">Planning Region 5</option>
	<option value="6">Planning Region 6</option>
	<option value="7">Planning Region 7</option>
	<option value="8">Planning Region 8</option>
	<option value="9">Planning Region 9</option>
	<option value="10">Planning Region 10</option>
	<option value="11">Planning Region 11</option>
	<option value="12">Planning Region 12</option>
	<option value="13">Planning Region 13</option>
	<option value="14">Planning Region 14</option>
	<option value="0">Colorado</option>  
</select><br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" name="yearsSelected" multiple="multiple" size="5">
  <option value="2010">2010</option>
	<option value="2011">2011</option>
	<option value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>
	<option value="2015">2015</option>
	<option value="2016">2016</option>
	<option value="2017">2017</option>
	<option value="2018">2018</option>  
	<option value="2019">2019</option>
  <option value="2020">2020</option>
	<option value="2021">2021</option>
	<option value="2022">2022</option>
	<option value="2023">2023</option>
	<option value="2024">2024</option>
	<option value="2025">2025</option>
	<option value="2026">2026</option>
	<option value="2027">2027</option>
	<option value="2028">2028</option>  
	<option value="2029">2029</option>
  <option value="2030">2030</option>
	<option value="2031">2031</option>
	<option value="2032">2032</option>
	<option value="2033">2033</option>
	<option value="2034">2034</option>
	<option value="2035">2035</option>
	<option value="2036">2036</option>
	<option value="2037">2037</option>
	<option value="2038">2038</option>  
	<option value="2039">2039</option>
  <option value="2040">2040</option>
</select><br /><br />
<label for="ageGroups" style="font-weight: bold;">Select 1 or more age groups:</label><br />
<select id="ageGroups" name="ageGroups" multiple="multiple" size="5">
  <option value="a">Age 16 to 19</option>
	<option value="b">Age 20 to 24</option>
	<option value="c">Age 25 to 34</option>
  <option value="d">Age 35 to 44</option>
	<option value="e">Age 45 to 54</option>
	<option value="f">Age 55 to 64</option>
	<option value="g">Age 65 and over</option>
</select><br /><br />
<label for="groupBy" style="font-weight: bold;">Select 0 or more variables to summarize by:</label><br />
<select id="groupBy" name="groupBy" multiple="multiple" size="3">
  <option value="a">Year</option>
	<option value="b">Region</option>
	<option value="c">Age Group</option>
</select><br /><br />
    <input type="radio" name="compressed" value="" checked>Sum Male and Female&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="&gender=m">Male Only&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="&gender=f">Female Only&nbsp;&nbsp;&nbsp;
  <input type="radio" name="compressed" value="&gender=b">List Male and Female<br />  
<br />
  <input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br /><br />
<table id="resultstable"></table>



<script>
  
  var viewresults=document.getElementById('callapi');
  
    viewresults.onclick=function(){
      
    var selectedCounties = getSelectValues(countiesSelected);
    var selectedYears = getSelectValues(yearsSelected);
    var selectedAges = getSelectValues(ageGroups);
    var selectedGroupBy = getSelectValues(groupBy);        
      
          /*counties*/
    if(selectedCounties.length===0){
      alert('please choose a region selection');
      return;
    }
           /*years*/
    if(selectedYears.length===0){
      alert('please choose one or more years');
      return;
    }
          /*age*/
    if(selectedAges.length===0){
      alert('please choose an age group selection');
      return;
    }      

      
   document.getElementById("dlcsv").style.display='inline-block';
      
    /* Return an array of the selected option values*/
    function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}

      var compressed = document.querySelector('input[name="compressed"]:checked').value;

      var groupstring = selectedGroupBy.join(",");
     var group="";
      
      if(groupstring==="a"){group='opt1';}
      if(groupstring==="b"){group='opt2';}
      if(groupstring==="c"){group='opt3';}
      if(groupstring==="a,b"){group='opt4';}
      if(groupstring==="a,c"){group='opt5';}
      if(groupstring==="b,c"){group='opt6';}
      if(groupstring==="a,b,c"){group='opt7';}
 
      
      
      
      var querystring = "year=" + selectedYears.join(",") + "&reg_num=" + selectedCounties.join(",") + "&age=" + selectedAges.join(",") + compressed + "&group=" + group;
      
      /*console.log(querystring);*/
      
   requestdata(querystring);
      
      
    /*ajax request function*/
    function requestdata(querystring){
      
      var xhttp = new XMLHttpRequest();
      
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            createtable(JSON.parse(xhttp.responseText));
          } 
        };
      
      xhttp.open("GET", "http://red-meteor-147235.nitrousapp.com:4567/labor-force_region?"+querystring, true);
      xhttp.send();
    }
    
      
        function clookup(reg_num){
        if(reg_num===0){return "Colorado";}
        if(reg_num===1){return "Planning Region 1";}
        if(reg_num===2){return "Planning Region 2";}
        if(reg_num===3){return "Planning Region 3";}
        if(reg_num===4){return "Planning Region 4";}
        if(reg_num===5){return "Planning Region 5";}
        if(reg_num===6){return "Planning Region 6";}
        if(reg_num===7){return "Planning Region 7";}
        if(reg_num===8){return "Planning Region 8";}
        if(reg_num===9){return "Planning Region 9";}
        if(reg_num===10){return "Planning Region 10";}
        if(reg_num===11){return "Planning Region 11";}
        if(reg_num===12){return "Planning Region 12";}
        if(reg_num===13){return "Planning Region 13";}
        if(reg_num===14){return "Planning Region 14";}
        if(reg_num===15){return "Central Mountains";}
        if(reg_num===16){return "Eastern Plains";}
        if(reg_num===17){return "Front Range";}
        if(reg_num===18){return "San Luis Valley";}
        if(reg_num===19){return "Western Slope";}
        if(reg_num===20){return "Denver PMSA";}
        if(reg_num===21){return "Denver-Boulder Metro Area";}
        if(reg_num===22){return "Denver-Boulder-Greeley CMSA";}
        if(reg_num===23){return "10 County Denver Metro";}
            
        return undefined; /*fallback (replaces otherwise undefined)*/
      }
      
      function createtable(results){

          var table = document.getElementById("resultstable");
          table.innerHTML = ""; /*clear all previous content*/
        
          var header = table.createTHead();
          var hrow = header.insertRow(0);     
          var hcell1 = hrow.insertCell(0);
          var hcell2 = hrow.insertCell(1);
          var hcell3 = hrow.insertCell(2);
          var hcell4 = hrow.insertCell(3);
          var hcell5 = hrow.insertCell(4);
          var hcell6 = hrow.insertCell(5);        
          var hcell7 = hrow.insertCell(6);    
          var hcell8 = hrow.insertCell(7);   
        
          hcell1.innerHTML = "Region";
          hcell2.innerHTML = "Region Number";
          hcell3.innerHTML = "Year";
          hcell4.innerHTML = "Age";
          hcell5.innerHTML = "Gender";
          hcell6.innerHTML = "Labor Force";
          hcell7.innerHTML = "Universe";
          hcell8.innerHTML = "Participation Rate";      
        
          var body = table.appendChild(document.createElement('tbody'));
        
        
        
        for(var i=0;i<results.length;i++){
          addrow(i,clookup(results[i].reg_num) || "", results[i].reg_num || "", results[i].population_year || "", results[i].age_group || "", results[i].gender || "", results[i].laborforce || "", results[i].cni_pop_16pl || "", results[i].participationrate || "")
        }
        
        
        function addrow(rownum, region, reg_num, year, age, gender, laborforce, cni_pop_16pl, participationrate){
          
          var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];
          
          /* Create an empty <tr> element and add it to the 1st position of the table:*/
          var row = tableRef.insertRow(rownum);

          /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          var cell5 = row.insertCell(4);
          var cell6 = row.insertCell(5);
          var cell7 = row.insertCell(6);
          var cell8 = row.insertCell(7);
          
          /* Add some text to the new cells:*/
          cell1.innerHTML = region;
          cell2.innerHTML = reg_num;
          cell3.innerHTML = year;
          cell4.innerHTML = age;
          cell5.innerHTML = gender;
          cell6.innerHTML = Number(laborforce).toLocaleString();
          cell7.innerHTML = Number(cni_pop_16pl).toLocaleString();          
          cell8.innerHTML = (Number(participationrate*100).toFixed(2)).toLocaleString();                    
        }

      } 

    
  };
  
  
    var dlcsv=document.getElementById('dlcsv');

    dlcsv.onclick=function(){
      
      var csvstring="";
      
      var oTable = document.getElementById('resultstable');
var rowLength = oTable.rows.length;
for (i = 0; i < rowLength; i++){
   var oCells = oTable.rows.item(i).cells;
   var cellLength = oCells.length;
   for(var j = 0; j < cellLength; j++){
      /* get your cell info here */
      if(j===0 && i>0){csvstring=csvstring+"\n";}
      csvstring = csvstring + '"' + oCells.item(j).innerHTML + '"';
     if(j< cellLength ){csvstring=csvstring+",";}
     }
}
      
      
var blob = new Blob([csvstring], {type: "text/csv;charset=utf-8"});
saveAs(blob, "region-laborForce_data.csv");
      
    }
  
  
</script>  
