---
layout: page
title: "Labor Force - Regions"
permalink: "/economy-labor-force/data/labor-force-regions/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
description: "Search for information on labor force, labor pool, and labor force participation rate by region, gender, age group and year."
years: "2010-2040"
tag: ""

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2>Labor Force Participation - Regions</h2>

<a href="/economy-labor-force/data/labor-force/">Need County Data?</a><br /><br />
<a href="/gis/colorado-regions/" target="_blank">Regions WebMap <img src="/images/map.png" /></a><br /><br />
<label for="countiesSelected" style="font-weight: bold;">Select 1 or more regions:</label><br />
<select id="countiesSelected" name="countiesSelected" multiple="multiple" size="5">	
{% include _optionValuesRegion.html %}
</select><br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" name="yearsSelected" multiple="multiple" size="5">
<!-- populated from database -->
</select><br /><br />
<label for="ageGroups" style="font-weight: bold;">Select 1 or more age groups:</label><br />
<select id="ageGroups" name="ageGroups" multiple="multiple" size="5">
  <option value="a">Age 16 to 19</option>
	<option value="b">Age 20 to 24</option>
	<option value="c">Age 25 to 34</option>
  <option value="d">Age 35 to 44</option>
	<option value="e">Age 45 to 54</option>
	<option value="f">Age 55 to 64</option>
	<option value="g">Age 65 and over</option>
</select><br /><br />
<label for="groupBy" style="font-weight: bold;">Select 0 or more variables to summarize by:</label><br />
<select id="groupBy" name="groupBy" multiple="multiple" size="3">
  <option value="a">Year</option>
	<option value="b">Region</option>
	<option value="c">Age Group</option>
</select><br /><br />
<input type="radio" name="compressed" value="" checked>Sum Male and Female&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&gender=m">Male Only&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&gender=f">Female Only&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&gender=b">List Male and Female<br />
<br />
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br /><br />
<table id="resultstable"></table>

<script>
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/labor-forceYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].population_year + "'>" + yrs[i].population_year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });
  
  
    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedYears = getSelectValues(yearsSelected);
        var selectedAges = getSelectValues(ageGroups);
        var selectedGroupBy = getSelectValues(groupBy);

        if (selectedCounties.length === 0) {
            alert('please choose a region selection');
            return;
        }
        if (selectedYears.length === 0) {
            alert('please choose one or more years');
            return;
        }
        if (selectedAges.length === 0) {
            alert('please choose an age group selection');
            return;
        }

        var compressed = document.querySelector('input[name="compressed"]:checked').value;

        var groupstring = selectedGroupBy.join(",");
        var group = "";

        if (groupstring === "a") {
            group = 'opt1';
        }
        if (groupstring === "b") {
            group = 'opt2';
        }
        if (groupstring === "c") {
            group = 'opt3';
        }
        if (groupstring === "a,b") {
            group = 'opt4';
        }
        if (groupstring === "a,c") {
            group = 'opt5';
        }
        if (groupstring === "b,c") {
            group = 'opt6';
        }
        if (groupstring === "a,b,c") {
            group = 'opt7';
        }

        var querystring = "year=" + selectedYears.join(",") + "&reg_num=" + selectedCounties.join(",") + "&age=" + selectedAges.join(",") + compressed + "&group=" + group;

        fetchJSONFile("https://gis.dola.colorado.gov/lookups/labor-force_region?" + querystring, function(text) {
            createtable(text);
        });

    }, false);


    function createtable(results) {

        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);
        var hcell6 = hrow.insertCell(5);
        var hcell7 = hrow.insertCell(6);
        var hcell8 = hrow.insertCell(7);

        hcell1.innerHTML = "Region";
        hcell2.innerHTML = "Region Number";
        hcell3.innerHTML = "Year";
        hcell4.innerHTML = "Age";
        hcell5.innerHTML = "Gender";
        hcell6.innerHTML = "Labor Force";
        hcell7.innerHTML = "Universe";
        hcell8.innerHTML = "Participation Rate";

        var body = table.appendChild(document.createElement('tbody'));

        for (var i = 0; i < results.length; i++) {
            addrow(i, rlookup(results[i].reg_num) || "", results[i].reg_num || "", results[i].population_year || "", results[i].age_group || "", results[i].gender || "", results[i].laborforce || "", results[i].cni_pop_16pl || "", results[i].participationrate || "")
        }

    }


    function addrow(rownum, region, reg_num, year, age, gender, laborforce, cni_pop_16pl, participationrate) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        var cell8 = row.insertCell(7);

        /* Add some text to the new cells:*/
        cell1.innerHTML = region;
        cell2.innerHTML = reg_num;
        cell3.innerHTML = year;
        cell4.innerHTML = age;
        cell5.innerHTML = gender;
        cell6.innerHTML = Number(laborforce).toLocaleString();
        cell7.innerHTML = Number(cni_pop_16pl).toLocaleString();
        cell8.innerHTML = (Number(participationrate * 100).toFixed(2)).toLocaleString();
    }


    document.getElementById("dlcsv").style.display = 'inline-block';

    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "region-laborForce_data.csv");
    }, false);
  
</script>