---
layout: page
title: "Jobs Forecast"
permalink: "/economy-labor-force/data/jobs-forecast/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
file: 
- "https://storage.googleapis.com/co-publicdata/jobs-county.csv"
- "https://storage.googleapis.com/co-publicdata/jobs-region.csv"
description: "Search for information on jobs by year."
years: "1970-2017 (Estimates) and 2018-2050 (Forecast)"
tag: "econdata"

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2 id="job-forecast">Job Forecast - County</h2>

<a href="/economy-labor-force/data/jobs-forecast-regions/">Need Region Data?</a><br /><br />

<label for="countiesSelected" style="font-weight: bold;">Select 1 or more counties:</label><br />

<select id="countiesSelected" name="countiesSelected" multiple="multiple" size="5">
  	<option value="0">Colorado</option>
{% include _optionValuesCounty.html %}
</select>

<br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select 1 or more years:</label><br />
<select id="yearsSelected" name="yearsSelected" multiple="multiple" size="4">
<!-- populated from database -->
</select><br /><br />

<input type="radio" name="compressed" value="" checked>No Grouping&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&group=opt1">Group by Year&nbsp;&nbsp;&nbsp;
<input type="radio" name="compressed" value="&group=opt2">Group by County&nbsp;&nbsp;&nbsp;
<br /><br />
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br />
<table id="resultstable"></table>

<script>
  
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/jobsforecastYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option style='color:" + ((yrs[i].datatype === "ESTIMATE") ? "black" : "red") + "' value='" + yrs[i].population_year + "'>" + yrs[i].population_year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });
    document.getElementById('callapi').addEventListener('click', viewresults, false);
    function viewresults() {
        var selectedCounties = getSelectValues(countiesSelected);
        var selectedYears = getSelectValues(yearsSelected);
        if (selectedCounties.length === 0) {
            alert('please choose a county selection');
            return;
        }
        if (selectedYears.length === 0) {
            alert('please choose one or more years');
            return;
        }
        document.getElementById("dlcsv").style.display = 'inline-block';
        var compressed = document.querySelector('input[name="compressed"]:checked').value;
        var querystring = "https://gis.dola.colorado.gov/lookups/jobs-forecast?year=" + selectedYears.join(",") + "&county=" + selectedCounties.join(",") + compressed;
        fetchJSONFile(querystring, function(text) {
            /* make Download CSV button visible */
            document.getElementById("dlcsv").style.display = 'inline-block';
            createtable(text);
        });
    };
    function createtable(results) {
        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/
        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);
        hcell1.innerHTML = "COUNTY";
        hcell2.innerHTML = "CFIPS";
        hcell3.innerHTML = "YEAR";
        hcell4.innerHTML = "Total Jobs";
        hcell5.innerHTML = "Datatype";
        var body = table.appendChild(document.createElement('tbody'));
        for (var i = 0; i < results.length; i++) {
            addrow(i, clookup(results[i].countyfips) || "", results[i].countyfips || "", results[i].population_year || "", results[i].totaljobs || "", results[i].datatype || "");
        }
    }
    function addrow(rownum, county, countyfips, population_year, totaljobs, datatype) {
        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];
        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);
        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        /* Add some text to the new cells:*/
        cell1.innerHTML = county;
        cell2.innerHTML = countyfips;
        cell3.innerHTML = population_year;
        cell4.innerHTML = Number(totaljobs).toLocaleString();
        cell5.innerHTML = datatype;
    }
    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "jobs_forecast_data.csv");
    }, false);
  
</script>
