---
layout: page
title: "Jobs by Sector"
permalink: "/economy-labor-force/data/jobs-by-sector/"
custom_js:
- /assets/js/FileSaver.min.js
- /assets/js/common/dola_custom_functions.js
file:
- "https://storage.googleapis.com/co-publicdata/jobs-county.csv"
description: "Search for information on total jobs by job sector (NAICS)."
years: "2001-2015"
tag: "econdata"

---
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<h2 id="jobs-by-sector-naics">Jobs by Sector (NAICS)</h2>

<a href="/economy-labor-force/data/jobs-by-sector-regions/">Need Region Data?</a><br /><br />
<label for="countiesSelected" style="font-weight: bold;">Select a county:</label><br />
<select id="countiesSelected" class="formtable" name="countiesSelected" size="5">	
	<option value="0">Colorado</option>
{% include _optionValuesCounty.html %}
</select>

<br /><br />
<label for="yearsSelected" style="font-weight: bold;">Select a year:</label><br />
<select id="yearsSelected" class="formtable" name="yearsSelected" size="5">
<!-- populated from database -->
</select>

<br /><br />
<input type="submit" id="callapi" value="View Results" class="form-submit" />
<br /><br /><br />
<input type="submit" id="dlcsv" value="Download CSV" style="display:none;" /><br /><br />
<table id="resultstable"></table>



<script>
    fetchJSONFile('https://gis.dola.colorado.gov/lookups/jobsYRS', function(yrs) {
        var queriedYears = "";
        for (let i = 0; i < yrs.length; i++) {
            queriedYears += "<option value='" + yrs[i].population_year + "'>" + yrs[i].population_year + "</option>";
        }
        document.getElementById('yearsSelected').innerHTML = queriedYears;
    });

    document.getElementById('callapi').addEventListener('click', function() {

        var selectedCounties = getSelectValues(countiesSelected);
        var selectedYears = getSelectValues(yearsSelected);

        /*counties*/
        if (selectedCounties.length === 0) {
            alert('please choose a county selection');
            return;
        }
        /*years*/
        if (selectedYears.length === 0) {
            alert('please choose a year selection');
            return;
        }

        var querystring = "county=" + selectedCounties.join(",") + "&year=" + selectedYears.join(",");

        fetchJSONFile("https://gis.dola.colorado.gov/lookups/jobs?" + querystring, function(text) {
            /* make Download CSV button visible */
            document.getElementById("dlcsv").style.display = 'inline-block';
            createtable(text);
        });

    }, false);


    function slookup(sector) {
        if (sector === "0") {
            return "Total Jobs";
        }
        if (sector === "1000") {
            return "Agriculture";
        }
        if (sector === "1010") {
            return "&nbsp;&nbsp;Crops and livestock production";
        }
        if (sector === "1020") {
            return "&nbsp;&nbsp;Farm services";
        }
        if (sector === "2000") {
            return "Mining";
        }
        if (sector === "2010") {
            return "&nbsp;&nbsp;Oil and gas extraction";
        }
        if (sector === "2020") {
            return "&nbsp;&nbsp;Mining (except oil and gas)";
        }
        if (sector === "2030") {
            return "&nbsp;&nbsp;Support activities for mining";
        }
        if (sector === "3000") {
            return "Utilities";
        }
        if (sector === "3030") {
            return "&nbsp;&nbsp;Utilities";
        }
        if (sector === "4000") {
            return "Construction";
        }
        if (sector === "4010") {
            return "&nbsp;&nbsp;Construction of buildings";
        }
        if (sector === "4020") {
            return "&nbsp;&nbsp;Heavy and civil engineering construction";
        }
        if (sector === "4030") {
            return "&nbsp;&nbsp;Special trade contractors";
        }
        if (sector === "5000") {
            return "Manufacturing";
        }
        if (sector === "5010") {
            return "&nbsp;&nbsp;Wood product and furniture manufacturing";
        }
        if (sector === "5020") {
            return "&nbsp;&nbsp;Nonmetallic mineral product manufacturing";
        }
        if (sector === "5030") {
            return "&nbsp;&nbsp;Primary and fabricated metal manufacturing";
        }
        if (sector === "5040") {
            return "&nbsp;&nbsp;Machinery manufacturing";
        }
        if (sector === "5050") {
            return "&nbsp;&nbsp;Computer and electrical equipment manufacturing";
        }
        if (sector === "5060") {
            return "&nbsp;&nbsp;Motor vehicle and transportation manufacturing";
        }
        if (sector === "5070") {
            return "&nbsp;&nbsp;Miscellaneous manufacturing";
        }
        if (sector === "5080") {
            return "&nbsp;&nbsp;Food and beverage product manufacturing";
        }
        if (sector === "5090") {
            return "&nbsp;&nbsp;Textile mills and product, apparel and similar manufacturing";
        }
        if (sector === "5100") {
            return "&nbsp;&nbsp;Paper and printing manufacturing";
        }
        if (sector === "5110") {
            return "&nbsp;&nbsp;Chemical manufacturing";
        }
        if (sector === "5120") {
            return "&nbsp;&nbsp;Plastics and rubber products manufacturing";
        }
        if (sector === "6000") {
            return "Wholesale trade";
        }
        if (sector === "6010") {
            return "&nbsp;&nbsp;Wholesale trade";
        }
        if (sector === "7000") {
            return "Retail Trade";
        }
        if (sector === "7010") {
            return "&nbsp;&nbsp;Motor vehicle and parts dealers";
        }
        if (sector === "7020") {
            return "&nbsp;&nbsp;Furniture, electronics, appliances and home furnishings";
        }
        if (sector === "7030") {
            return "&nbsp;&nbsp;Food and beverage stores";
        }
        if (sector === "7040") {
            return "&nbsp;&nbsp;Health and personal care stores";
        }
        if (sector === "7050") {
            return "&nbsp;&nbsp;Gasoline stations";
        }
        if (sector === "7060") {
            return "&nbsp;&nbsp;Clothing and clothing accessories stores";
        }
        if (sector === "7070") {
            return "&nbsp;&nbsp;Sporting goods, hobby, book and music stores";
        }
        if (sector === "7080") {
            return "&nbsp;&nbsp;General merchandise stores";
        }
        if (sector === "7090") {
            return "&nbsp;&nbsp;Miscellaneous store retailers";
        }
        if (sector === "7100") {
            return "&nbsp;&nbsp;Nonstore retailers";
        }
        if (sector === "8000") {
            return "Transportation and warehousing";
        }
        if (sector === "8010") {
            return "&nbsp;&nbsp;Air transportation";
        }
        if (sector === "8020") {
            return "&nbsp;&nbsp;Rail transportation";
        }
        if (sector === "8030") {
            return "&nbsp;&nbsp;Truck transportation";
        }
        if (sector === "8040") {
            return "&nbsp;&nbsp;Support activities for transportation";
        }
        if (sector === "8050") {
            return "&nbsp;&nbsp;Transit and ground passenger transportation";
        }
        if (sector === "8060") {
            return "&nbsp;&nbsp;Pipeline transportation";
        }
        if (sector === "8070") {
            return "&nbsp;&nbsp;Scenic, sightseeing and water transportation";
        }
        if (sector === "8080") {
            return "&nbsp;&nbsp;Couriers and messengers and postal service";
        }
        if (sector === "8090") {
            return "&nbsp;&nbsp;Warehousing and storage";
        }
        if (sector === "9000") {
            return "Information";
        }
        if (sector === "9010") {
            return "&nbsp;&nbsp;Publishing industries";
        }
        if (sector === "9030") {
            return "&nbsp;&nbsp;Motion picture and broadcasting, except internet";
        }
        if (sector === "9040") {
            return "&nbsp;&nbsp;Telecommunications";
        }
        if (sector === "9050") {
            return "&nbsp;&nbsp;ISPs, search portals and data processing";
        }
        if (sector === "10000") {
            return "Finance activities";
        }
        if (sector === "10010") {
            return "&nbsp;&nbsp;Monetary authorities and credit intermediation";
        }
        if (sector === "10020") {
            return "&nbsp;&nbsp;Securities, commodity contracts and other finacial investments";
        }
        if (sector === "10100") {
            return "&nbsp;&nbsp;Insurance carriers, funds, trusts and other financial vehicles";
        }
        if (sector === "10150") {
            return "Real estate";
        }
        if (sector === "10200") {
            return "&nbsp;&nbsp;Real estate";
        }
        if (sector === "11000") {
            return "Professional, scientific and technical services";
        }
        if (sector === "11020") {
            return "&nbsp;&nbsp;Professional, scientific and technical services";
        }
        if (sector === "11025") {
            return "Management of companies and enterprises";
        }
        if (sector === "11030") {
            return "&nbsp;&nbsp;Management of companies and enterprises";
        }
        if (sector === "11050") {
            return "Administrative and support and waste management and remediation services";
        }
        if (sector === "11090") {
            return "&nbsp;&nbsp;Administrative and support services";
        }
        if (sector === "11100") {
            return "&nbsp;&nbsp;Waste management and remediation services";
        }
        if (sector === "12000") {
            return "Education";
        }
        if (sector === "12010") {
            return "&nbsp;&nbsp;Private Educational services";
        }
        if (sector === "12015") {
            return "Health Services";
        }
        if (sector === "12020") {
            return "&nbsp;&nbsp;Ambulatory health care services";
        }
        if (sector === "12030") {
            return "&nbsp;&nbsp;Hospitals";
        }
        if (sector === "12040") {
            return "&nbsp;&nbsp;Nursing and residential care facilities";
        }
        if (sector === "12050") {
            return "&nbsp;&nbsp;Social assistance";
        }
        if (sector === "13000") {
            return "Arts, entertainment and recreation";
        }
        if (sector === "13010") {
            return "&nbsp;&nbsp;Arts, entertainment and recreation";
        }
        if (sector === "13015") {
            return "Accommodation and food services";
        }
        if (sector === "13020") {
            return "&nbsp;&nbsp;Accommodation";
        }
        if (sector === "13030") {
            return "&nbsp;&nbsp;Food services and drinking places";
        }
        if (sector === "14000") {
            return "Other services, except public administration";
        }
        if (sector === "14010") {
            return "&nbsp;&nbsp;Automotive and other repair and maintenance";
        }
        if (sector === "14020") {
            return "&nbsp;&nbsp;Personal and laundry services";
        }
        if (sector === "14030") {
            return "&nbsp;&nbsp;Religious, civic, professional and similar membership organizatizations";
        }
        if (sector === "14040") {
            return "&nbsp;&nbsp;Private households";
        }
        if (sector === "15000") {
            return "Government";
        }
        if (sector === "15010") {
            return "&nbsp;&nbsp;Federal government, civilian";
        }
        if (sector === "15014") {
            return "&nbsp;&nbsp;Military";
        }
        if (sector === "15020") {
            return "&nbsp;&nbsp;State government";
        }
        if (sector === "15030") {
            return "&nbsp;&nbsp;Local government";
        }


        return undefined; /*fallback (replaces otherwise undefined)*/
    }


    function createtable(results) {

        var table = document.getElementById("resultstable");
        table.innerHTML = ""; /*clear all previous content*/

        var header = table.createTHead();
        var hrow = header.insertRow(0);
        var hcell1 = hrow.insertCell(0);
        var hcell2 = hrow.insertCell(1);
        var hcell3 = hrow.insertCell(2);
        var hcell4 = hrow.insertCell(3);
        var hcell5 = hrow.insertCell(4);

        hcell1.innerHTML = "Year";
        hcell2.innerHTML = "Area";
        hcell3.innerHTML = "NAICS Code";
        hcell4.innerHTML = "Sector";
        hcell5.innerHTML = "Jobs";

        hcell5.style.textAlign = 'right';

        var body = table.appendChild(document.createElement('tbody'));


        for (var i = 0; i < results.length; i++) {
            var total_jobs = results[i].total_jobs;
            if (Number(results[i].total_jobs) > 0) {
                total_jobs = Math.round(Number(total_jobs));
            } else if (results[i].total_jobs === "0") {
                total_jobs = '0';
            } else {
                total_jobs = 'suppressed';
            }

            addrow(i, results[i].population_year, clookup(results[i].area_code), results[i].sector_id, slookup(results[i].sector_id), total_jobs);
        }

    }


    function addrow(rownum, year, county, naics, sector, ttl) {

        var tableRef = document.getElementById('resultstable').getElementsByTagName('tbody')[0];

        /* Create an empty <tr> element and add it to the 1st position of the table:*/
        var row = tableRef.insertRow(rownum);

        /* Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:*/
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);

        /* Add some text to the new cells:*/
        cell1.innerHTML = year;
        cell2.innerHTML = county;
        cell3.innerHTML = naics;
        cell4.innerHTML = sector;
        cell5.innerHTML = ttl.toLocaleString();

        cell5.style.textAlign = 'right';

    }


    document.getElementById('dlcsv').addEventListener('click', function() {
        dlcsv("resultstable", "jobsBySector_data.csv");
    }, false);
  
</script>
