
  Select a County:<br />
  <select id="profileCounty2010" size="1">
    <option value="">Select a County</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/adams.xls">Adams (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/adams.pdf">Adams (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/alamosa.xls">Alamosa (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/alamosa.pdf">Alamosa (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/arapahoe.xls">Arapahoe (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/arapahoe.pdf">Arapahoe (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/archuleta.xls">Archuleta (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/archuleta.pdf">Archuleta (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/baca.xls">Baca (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/baca.pdf">Baca (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/bent.xls">Bent (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/bent.pdf">Bent (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/boulder.xls">Boulder (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/boulder.pdf">Boulder (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/broomfield.xls">Broomfield (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/broomfield.pdf">Broomfield (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/chafee.xls">Chaffee (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/chafee.pdf">Chaffee (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/cheyenne.xls">Cheyenne (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/cheyenne.pdf">Cheyenne (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/clearcreek.xls">Clear Creek (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/clearcreek.pdf">Clear Creek (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/conejos.xls">Conejos (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/conejos.pdf">Conejos (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/costilla.xls">Costilla (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/costilla.pdf">Costilla (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/crowley.xls">Crowley (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/crowley.pdf">Crowley (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/custer.xls">Custer (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/custer.pdf">Custer (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/delta.xls">Delta (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/delta.pdf">Delta (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/denver.xls">Denver (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/denver.pdf">Denver epdf</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/dolores.xls">Dolores (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/dolores.pdf">Dolores (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/douglas.xls">Douglas (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/douglas.pdf">Douglas (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/eagle.xls">Eagle (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/eagle.pdf">Eagle (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/elbert.xls">Elbert (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/elbert.pdf">Elbert (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/elpaso.xls">El Paso (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/elpaso.pdf">El Paso (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/fremont.xls">Fremont (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/fremont.pdf">Fremont (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/garfield.xls">Garfield (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/garfield.pdf">Garfield (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/gilpin.xls">Gilpin (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/gilpin.pdf">Gilpin (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/grand.xls">Grand (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/grand.pdf">Grand (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/gunnison.xls">Gunnison (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/gunnison.pdf">Gunnison (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/hinsdale.xls">Hinsdale (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/hinsdale.pdf">Hinsdale (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/huerfano.xls">Huerfano (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/huerfano.pdf">Huerfano (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/jackson.xls">Jackson (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/jackson.pdf">Jackson (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/jefferson.xls">Jefferson (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/jefferson.pdf">Jefferson (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/kiowa.xls">Kiowa (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/kiowa.pdf">Kiowa (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/kitcarson.xls">Kit Carson (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/kitcarson.pdf">Kit Carson (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lake.xls">Lake (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lake.pdf">Lake (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/laplata.xls">La Plata (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/laplata.pdf">La Plata (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/larimer.xls">Larimer (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/larimer.pdf">Larimer (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lasanimas.xls">Las Animas (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lasanimas.pdf">Las Animas (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lincoln.xls">Lincoln (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/lincoln.pdf">Lincoln (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/logan.xls">Logan (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/logan.pdf">Logan (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/mesa.xls">Mesa (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/mesa.pdf">Mesa (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/mineral.xls">Mineral (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/mineral.pdf">Mineral (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/moffat.xls">Moffat (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/moffat.pdf">Moffat (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/montezuma.xls">Montezuma (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/montezuma.pdf">Montezuma (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/montrose.xls">Montrose (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/montrose.pdf">Montrose (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/morgan.xls">Morgan (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/morgan.pdf">Morgan (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/otero.xls">Otero (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/otero.pdf">Otero (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/ouray.xls">Ouray (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/ouray.pdf">Ouray (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/park.xls">Park (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/park.pdf">Park (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/phillips.xls">Phillips (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/phillips.pdf">Phillips (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/pitkin.xls">Pitkin (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/pitkin.pdf">Pitkin (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/prowers.xls">Prowers (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/prowers.pdf">Prowers (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/pueblo.xls">Pueblo (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/pueblo.pdf">Pueblo (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/rioblanco.xls">Rio Blanco (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/rioblanco.pdf">Rio Blanco (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/riogrande.xls">Rio Grande (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/riogrande.pdf">Rio Grande (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/routt.xls">Routt (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/routt.pdf">Routt (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/saguache.xls">Saguache (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/saguache.pdf">Saguache (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sanjuan.xls">San Juan (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sanjuan.pdf">San Juan (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sanmiguel.xls">San Miguel (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sanmiguel.pdf">San Miguel (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sedgwick.xls">Sedgwick (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/sedgwick.pdf">Sedgwick (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/summit.xls">Summit (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/summit.pdf">Summit (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/teller.xls">Teller (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/teller.pdf">Teller (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/washington.xls">Washington (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/washington.pdf">Washington (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/weld.xls">Weld (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/weld.pdf">Weld (PDF)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/yuma.xls">Yuma (Excel)</option>
    <option value="https://dola.colorado.gov/dlg/demog/2010data/demographicprofiles/counties/yuma.pdf">Yuma (PDF)</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('profileCounty2010').value);"/>
