
  Select a City or Town:<br />
  <select id="factfinder_profile2010" size="1">
    <option value="">Select a City or Town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0800760">Aguilar town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0800925">Akron town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0801090">Alamosa city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0801530">Alma town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0802355">Antonito town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0803235">Arriba town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0803455">Arvada city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0803620">Aspen city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0803950">Ault town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0804000">Aurora city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0804110">Avon town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0804935">Basalt town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0805265">Bayfield town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0806090">Bennett town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0806255">Berthoud town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0806530">Bethune town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807025">Black Hawk city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807190">Blanca town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807410">Blue River town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807571">Bonanza town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807795">Boone town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0807850">Boulder city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0808070">Bow Mar town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0808345">Branson town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0808400">Breckenridge town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0808675">Brighton city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0809115">Brookside town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0809280">Broomfield city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0809555">Brush city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0810105">Buena Vista town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0810600">Burlington city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0811260">Calhan town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0811645">Campo town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0811810">Canon City city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812045">Carbondale town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812390">Castle Pines city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812415">Castle Rock town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812635">Cedaredge town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812815">Centennial city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812855">Center town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0812910">Central City city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0813460">Cheraw town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0813845">Cherry Hills Village city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0814175">Cheyenne Wells town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0814765">City of Creede town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0815330">Coal Creek town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0815550">Cokedale town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0815605">Collbran town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0816000">Colorado Springs city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0816385">Columbine Valley town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0816495">Commerce City city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0817375">Cortez city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0817760">Craig city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0817925">Crawford town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0818310">Crested Butte town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0818420">Crestone town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0818530">Cripple Creek city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0818640">Crook town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0818750">Crowley town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0819080">Dacono city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0819355">De Beque town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0819630">Deer Trail town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0819795">Del Norte town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0819850">Delta city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0820000">Denver city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0820440">Dillon town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0820495">Dinosaur town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0820770">Dolores town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0821265">Dove Creek town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0822035">Durango city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0822145">Eads town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0822200">Eagle town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0822860">Eaton town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0823025">Eckley town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0823135">Edgewater city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0823740">Elizabeth town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0824620">Empire town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0824785">Englewood city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0824950">Erie town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0825115">Estes Park town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0825280">Evans city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0825610">Fairplay town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0826270">Federal Heights city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0826600">Firestone town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0826765">Flagler town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0826875">Fleming town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827040">Florence city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827425">Fort Collins city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827700">Fort Lupton city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827810">Fort Morgan city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827865">Fountain city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0827975">Fowler town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0828105">Foxfield town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0828305">Fraser town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0828360">Frederick town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0828690">Frisco town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0828745">Fruita city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0829185">Garden City town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0829680">Genoa town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0829735">Georgetown town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0829955">Gilcrest town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0830340">Glendale city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0830780">Glenwood Springs city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0830835">Golden city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0831550">Granada town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0831605">Granby town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0831660">Grand Junction city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0831715">Grand Lake town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0832155">Greeley city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0832650">Green Mountain Falls town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0833035">Greenwood Village city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0833310">Grover town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0833640">Gunnison city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0833695">Gypsum town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0834520">Hartman town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0834740">Haswell town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0834960">Haxtun town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0835070">Hayden town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0836610">Hillrose town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837215">Holly town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837270">Holyoke city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837380">Hooper town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837600">Hot Sulphur Springs town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837545">Hotchkiss town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837820">Hudson town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0837875">Hugo town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0838370">Idaho Springs city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0838535">Ignacio town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0838590">Iliff town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0839195">Jamestown town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0839855">Johnstown town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0839965">Julesburg town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0840185">Keenesburg town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0840515">Kersey town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0840570">Kim town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0840790">Kiowa town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0841010">Kit Carson town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0841560">Kremmling town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0842055">La Jara town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0842110">La Junta city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0843605">La Salle town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0844100">La Veta town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0841835">Lafayette city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0842330">Lake City town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0842495">Lakeside town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0843000">Lakewood city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0843110">Lamar city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0843550">Larkspur town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0843660">Las Animas city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0844320">Leadville city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0844980">Limon town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0845255">Littleton city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0845530">Lochbuie town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0845695">Log Lane Village town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0845955">Lone Tree city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0845970">Longmont city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0846355">Louisville city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0846465">Loveland city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0847070">Lyons town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0848060">Manassa town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0848115">Mancos town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0848445">Manitou Springs city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0848500">Manzanola town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0848555">Marble town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0849600">Mead town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0849875">Meeker town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0850040">Merino town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0850480">Milliken town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0850920">Minturn town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0851250">Moffat town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0851635">Monte Vista city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0851690">Montezuma town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0851745">Montrose city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0851800">Monument town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0852075">Morrison town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0852570">Mount Crested Butte town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0852350">Mountain View town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0852550">Mountain Village town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0853120">Naturita town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0853175">Nederland town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0853395">New Castle town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0854330">Northglenn city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0854880">Norwood town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0854935">Nucla town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855045">Nunn town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855155">Oak Creek town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855540">Olathe town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855705">Olney Springs town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855870">Ophir town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0855980">Orchard City town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856145">Ordway town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856365">Otis town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856420">Ouray city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856475">Ovid town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856860">Pagosa Springs town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0856970">Palisade town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0857025">Palmer Lake town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0857245">Paoli town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0857300">Paonia town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0857400">Parachute town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0857630">Parker town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0858235">Peetz town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0858235">Pierce town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0859830">Pitkin town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0860160">Platteville town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0860600">Poncha Springs town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0861315">Pritchett town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0862000">Pueblo city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0862660">Ramah town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0862880">Rangely town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0863045">Raymer (New Raymer) town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0863265">Red Cliff town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0864090">Rico town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/0600000US4204764792">Ridgway town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0864255">Rifle city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0864970">Rockvale town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0865190">Rocky Ford city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0865740">Romeo town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0866895">Rye town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0867005">Saguache town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0867280">Salida city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0868105">San Luis town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0867830">Sanford town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0868655">Sawpit town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0868930">Sedgwick town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0869040">Seibert town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0869150">Severance town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0869645">Sheridan city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0869700">Sheridan Lake town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870195">Silt town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870250">Silver Cliff town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870360">Silver Plume town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870525">Silverthorne town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870580">Silverton town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0870635">Simla town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0871755">Snowmass Village town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0872395">South Fork town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0873330">Springfield town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0873715">Starkville town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0873825">Steamboat Springs city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0873935">Sterling city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0874485">Stratton town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0874815">Sugar City town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0875640">Superior town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0875970">Swink town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0876795">Telluride town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0877290">Thornton city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0877510">Timnath town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0878610">Trinidad city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0879270">Two Buttes town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0880040">Vail town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0880865">Victor city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0881030">Vilas town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0881690">Vona town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0882130">Walden town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0882350">Walsenburg city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0882460">Walsh town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0882735">Ward town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0883230">Wellington town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0883450">Westcliffe town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0883835">Westminster city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0884440">Wheat Ridge city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0884770">Wiggins town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0885045">Wiley town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0885155">Williamsburg town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0885485">Windsor town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0885705">Winter Park town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0886090">Woodland Park city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0886310">Wray city</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0886475">Yampa town</option>
    <option value="http://factfinder2.census.gov/bkmk/table/1.0/en/DEC/10_DP/DPDP1/1600000US0886750">Yuma city</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('factfinder_profile2010').value);"/>
