---
layout: default
---
<body>
  {% include _top-bar.html %}
  {% include _homepageHeader.html %}
<!-- First Grid, linked images -->
<div class="grid-container2">
  <div class="grid-item panel2_1_1">
	  {% include _sdotitle.html %}
  </div>
  <div class="grid-item panel2_2_1" id="leftHand">
	  {% include _left_hand.html %}
  </div> <!-- Grid  panel2_2_1 -->
  <div class="grid-item panel2_2_2">
	<a href="https://demography.dola.colorado.gov/CensusAPI" title='Download American Community Survey 5-year data. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="SDO Census API" src="../../map_gallery/img/censusapi.png" ></a>
    <a href="https://demography.dola.colorado.gov/CensusAPI" title='Download American Community Survey 5-year data. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">SDO Census API</p></a>
  </div>
  <div class="grid-item panel2_2_3">
      <a href="https://demography.dola.colorado.gov/census-acs/american_community_survey_data" title='Collection of American Community Survey workbooks for Colorado Counties and Municipalities. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="ACS Data for Colorado" src="../../map_gallery/img/acsexcel.png"></a>
	  <a href="https://demography.dola.colorado.gov/census-acs/american_community_survey_data" title='Collection of American Community Survey workbooks for Colorado Counties and Municipalities. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">ACS Data for Colorado</p></a>
  </div>
  <div class="grid-item panel2_2_4">
      <a href="https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7" title='Interactive Map of American Community Survey results using current 5-year data sets. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="ACS 2015-2019 Interactive Map" src="../../map_gallery/img/acs1519.png"></a>
	  <a href="https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7" title='Interactive Map of American Community Survey results using current 5-year data sets. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">ACS 2015-2019 Interactive Map</p></a>
  </div>
  <div class="grid-item panel2_2_5">
      <a href="acsmaps.html" title='Collection of past ACS Interactive Maps. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="ACS Interactive Maps 2010 to 2018" src="../../map_gallery/img/acs1418.png"></a>
	  <a href="acsmaps.html" title='Collection of past ACS Interactive Maps. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">ACS Interactive Maps 2010 to 2018</p></a>
  </div>
  <div class="grid-item panel2_2_6">
        <a href='https://data.census.gov/cedsci' title='U.S. Census Bureau ACS Data Portal. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="data.census.gov" src="../../map_gallery/img/datacensusgov.png"></a>
	  <a href="https://data.census.gov/cedsci" title='U.S. Census Bureau ACS Data Portal. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Explore Census Data: data.census.gov</p></a>
  </div>
  <div class="grid-item panel2_2_7">
      <a href="https://demography.dola.colorado.gov/census-acs/" title='SDO Census Data for 2010 and 2020 page. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="SDO Census Data for 2010 and 2020" src="../../map_gallery/img/census2010pg.png"></a>
	  <a href="https://demography.dola.colorado.gov/census-acs/" title='SDO Census Data for 2010 and 2020 page. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">SDO Census Data for 2010 and 2020</p></a>
  </div>
  <div class="grid-item panel2_3_2">
        <a href="https://www.census.gov/programs-surveys/acs" title='U.S. Census Bureau American Community Survey Information Page'><img class="map-thumbnail" alt="ACS Information" src="../../map_gallery/img/acsinfo.png"></a>
	    <a href="https://www.census.gov/programs-surveys/acs" title='U.S. Census Bureau American Community Survey Information Page'><p style="font-size:9pt;text-align:center;">Background for the American Community Survey</p></a>
   </div>
  <div class="grid-item panel2_3_3">
   <p></p>  
  </div>
 <div class="grid-item panel2_3_4">
   <p></p>
 </div>
 <div class="grid-item panel2_3_5">
   <p></p>
 </div>
  <div class="grid-item panel2_3_6">
   <p></p>
  </div>
  <div class="grid-item panel2_3_7">
	<p></p>
  </div>
 <div class="grid-item panel2_4_2">
		<div w3-include-html="./bodycontent1.html"></div>
</div>
	<div class="grid-item panel2_4_4">
		<div w3-include-html="./bodycontent2.html"></div>
</div>
<div class="grid-item panel2_4_6">
	<div w3-include-html="./bodycontent3.html"></div>
</div>
</div>  <!-- End of Grid -->


<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>

</body>
</html> 
