
<br />
<p>Name:&nbsp;<span id="geoname"></span></p>
<p>Population:&nbsp;<span id="population"></span>&nbsp;&nbsp;&nbsp;<span id="dataset"></span></p>
<div id="chart"></div>


<style>
  #dataset{
    font-size: 8px;
  }
  
  
  svg {
  border: 1px solid #ccc;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}
.axis text {
  font-size: 11px;
}


.bar {
  fill-opacity: 0.5;
}
.bar.left {
  fill: steelblue;
}
.bar.right {
  fill: firebrick;
}
</style>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>


<script>
  
  
  var xhr = new XMLHttpRequest();
xhr.open('GET', 'https://d2bm5f0oqkufle.cloudfront.net/CensusAPI/demog.php?db=acs0812&table=b01001&geonum={{page.fips}}');
xhr.send(null);
  
  
  xhr.onreadystatechange = function () {
  var DONE = 4;
  var OK = 200;
  if (xhr.readyState === DONE) {
    if (xhr.status === OK) {

      var data=JSON.parse(xhr.responseText);
      
      var title = document.getElementById('geoname');
      title.innerHTML=data.data[0].geoname;
      
      var population = document.getElementById('population');
      population.innerHTML=data.data[0].b01001001;
      
      var dataset = document.getElementById('dataset');
      dataset.innerHTML= "(" + data.source + ")";
      
      loadchart(data.data[0]);
    } else {
      console.log('Error: ' + xhr.status); 
    }
  }
};
  
  
function loadchart(data){
var w = 500,
    h = 300;
    
var margin = {
  top: 20,
  right: 20,
  bottom: 24,
  left: 20,
  middle: 28
};
    
var regionWidth = w/2 - margin.middle;

var pointA = regionWidth,
    pointB = w - regionWidth;

var exampleData = [
  {group: '0-9', male: parseInt(data.b01001003)+parseInt(data.b01001004), female: parseInt(data.b01001027)+parseInt(data.b01001028)},
  {group: '10-19', male: parseInt(data.b01001005)+parseInt(data.b01001006)+parseInt(data.b01001007), female: parseInt(data.b01001029)+parseInt(data.b01001030)+parseInt(data.b01001031)},
  {group: '20-29', male: parseInt(data.b01001008)+parseInt(data.b01001009)+parseInt(data.b01001010)+parseInt(data.b01001011), female: parseInt(data.b01001032)+parseInt(data.b01001033)+parseInt(data.b01001034)+parseInt(data.b01001035)},
  {group: '30-39', male: parseInt(data.b01001012)+parseInt(data.b01001013), female: parseInt(data.b01001036)+parseInt(data.b01001037)},
  {group: '40-49', male: parseInt(data.b01001014)+parseInt(data.b01001015), female: parseInt(data.b01001038)+parseInt(data.b01001039)},
  {group: '50-59', male: parseInt(data.b01001016)+parseInt(data.b01001017), female: parseInt(data.b01001040)+parseInt(data.b01001041)},
  {group: '60-69', male: parseInt(data.b01001018)+parseInt(data.b01001019)+parseInt(data.b01001020)+parseInt(data.b01001021), female: parseInt(data.b01001042)+parseInt(data.b01001043)+parseInt(data.b01001044)+parseInt(data.b01001045)},
  {group: '70-79', male: parseInt(data.b01001022)+parseInt(data.b01001023), female: parseInt(data.b01001046)+parseInt(data.b01001047)},
  {group: '80+', male: parseInt(data.b01001024)+parseInt(data.b01001025), female: parseInt(data.b01001048)+parseInt(data.b01001049)}
];

var totalPopulation = d3.sum(exampleData, function(d) { return d.male + d.female; }),
    percentage = function(d) { return d / totalPopulation; };
  

var svg = d3.select('#chart').append('svg')
  .attr('width', margin.left + w + margin.right)
  .attr('height', margin.top + h + margin.bottom)

  .append('g')
    .attr('transform', translation(margin.left, margin.top));

  
var maxValue = Math.max(
  d3.max(exampleData, function(d) { return percentage(d.male); }),
  d3.max(exampleData, function(d) { return percentage(d.female); })
);

  
var xScale = d3.scale.linear()
  .domain([0, maxValue])
  .range([0, regionWidth])
  .nice();

var xScaleLeft = d3.scale.linear()
  .domain([0, maxValue])
  .range([regionWidth, 0]);

var xScaleRight = d3.scale.linear()
  .domain([0, maxValue])
  .range([0, regionWidth]);

var yScale = d3.scale.ordinal()
  .domain(exampleData.map(function(d) { return d.group; }))
  .rangeRoundBands([h,0], 0.1);


var yAxisLeft = d3.svg.axis()
  .scale(yScale)
  .orient('right')
  .tickSize(4,0)
  .tickPadding(margin.middle-4);

var yAxisRight = d3.svg.axis()
  .scale(yScale)
  .orient('left')
  .tickSize(4,0)
  .tickFormat('');

var xAxisRight = d3.svg.axis()
  .scale(xScale)
  .orient('bottom')
  .tickFormat(d3.format('%'));

var xAxisLeft = d3.svg.axis()

  .scale(xScale.copy().range([pointA, 0]))
  .orient('bottom')
  .tickFormat(d3.format('%'));

var leftBarGroup = svg.append('g')
  .attr('transform', translation(pointA, 0) + 'scale(-1,1)');
var rightBarGroup = svg.append('g')
  .attr('transform', translation(pointB, 0));

svg.append('g')
  .attr('class', 'axis y left')
  .attr('transform', translation(pointA, 0))
  .call(yAxisLeft)
  .selectAll('text')
  .style('text-anchor', 'middle');

svg.append('g')
  .attr('class', 'axis y right')
  .attr('transform', translation(pointB, 0))
  .call(yAxisRight);

svg.append('g')
  .attr('class', 'axis x left')
  .attr('transform', translation(0, h))
  .call(xAxisLeft);

svg.append('g')
  .attr('class', 'axis x right')
  .attr('transform', translation(pointB, h))
  .call(xAxisRight);

leftBarGroup.selectAll('.bar.left')
  .data(exampleData)
  .enter().append('rect')
    .attr('class', 'bar left')
    .attr('x', 0)
    .attr('y', function(d) { return yScale(d.group); })
    .attr('width', function(d) { return xScale(percentage(d.male)); })
    .attr('height', yScale.rangeBand());

rightBarGroup.selectAll('.bar.right')
  .data(exampleData)
  .enter().append('rect')
    .attr('class', 'bar right')
    .attr('x', 0)
    .attr('y', function(d) { return yScale(d.group); })
    .attr('width', function(d) { return xScale(percentage(d.female)); })
    .attr('height', yScale.rangeBand());


function translation(x,y) {
  return 'translate(' + x + ',' + y + ')';
}
  
}
  
  
</script>