<div id="bodycontent1">
<h4>Publications</h4>
<ul>
<li><a class="accordion-link" href="https://demography.dola.colorado.gov/crosstabs/">Crosstabs: A closer look at the Economics & Demographics of Colorado</a></li>
<li><a class="accordion-link" href="https://demography.dola.colorado.gov/demography/publications-and-presentations/#annual-demography-summit-2020">State Demography Summit information and Archive</a></li>
<li><a class="accordion-link" href="https://colorado.us13.list-manage.com/subscribe?u=1d97570d5b1d9d9b89bf4591b&id=b9e5d12066">State Demography Office Newsletter Sign-up</a></li>
<li><a class="accordion-link" href="https://us13.campaign-archive.com/home/?u=1d97570d5b1d9d9b89bf4591b&id=b9e5d12066">State Demography Office Newsletter Archive</a></li>
<li><a class="accordion-link" href="https://demography.dola.colorado.gov/demography/publications-and-presentations/#presentations">Presentations</a></li>
<li><a class="accordion-link" href="https://demography.dola.colorado.gov/demography/publications-and-presentations/#quarterly-webinars">Training/Webinars</a></li>
</ul>
