
  Select a County:<br />
  <select id="draftCTFtbl2" size="1">
    <option value="">Select a County</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/colorado.pdf">Colorado</option>    
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/adams.pdf">Adams</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/alamosa.pdf">Alamosa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/arapahoe.pdf">Arapahoe</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/archuleta.pdf">Archuleta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/baca.pdf">Baca</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/bent.pdf">Bent</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/boulder.pdf">Boulder</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/broomfield.pdf">Broomfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/chafee.pdf">Chaffee</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/cheyenne.pdf">Cheyenne</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/clearcreek.pdf">Clear Creek</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/conejos.pdf">Conejos</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/costilla.pdf">Costilla</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/crowley.pdf">Crowley</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/custer.pdf">Custer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/delta.pdf">Delta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/denver.pdf">Denver</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/dolores.pdf">Dolores</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/douglas.pdf">Douglas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/eagle.pdf">Eagle</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/elbert.pdf">Elbert</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/elpaso.pdf">El Paso</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/fremont.pdf">Fremont</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/garfield.pdf">Garfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/gilpin.pdf">Gilpin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/grand.pdf">Grand</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/gunnison.pdf">Gunnison</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/hinsdale.pdf">Hinsdale</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/huerfano.pdf">Huerfano</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/jackson.pdf">Jackson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/jefferson.pdf">Jefferson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/kiowa.pdf">Kiowa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/kitcarson.pdf">Kit Carson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/lake.pdf">Lake</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/laplata.pdf">La Plata</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/larimer.pdf">Larimer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/lasanimas.pdf">Las Animas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/lincoln.pdf">Lincoln</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/logan.pdf">Logan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/mesa.pdf">Mesa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/mineral.pdf">Mineral</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/moffat.pdf">Moffat</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/montezuma.pdf">Montezuma</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/montrose.pdf">Montrose</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/morgan.pdf">Morgan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/otero.pdf">Otero</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/ouray.pdf">Ouray</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/park.pdf">Park</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/phillips.pdf">Phillips</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/pitkin.pdf">Pitkin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/prowers.pdf">Prowers</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/pueblo.pdf">Pueblo</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/rioblanco.pdf">Rio Blanco</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/riogrande.pdf">Rio Grande</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/routt.pdf">Routt</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/saguache.pdf">Saguache</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/sanjuan.pdf">San Juan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/sanmiguel.pdf">San Miguel</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/sedgwick.pdf">Sedgwick</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/summit.pdf">Summit</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/teller.pdf">Teller</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/washington.pdf">Washington</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/weld.pdf">Weld</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_2/yuma.pdf">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('draftCTFtbl2').value);"/>
