
  Select a County:<br />
  <select id="draftCTFtbl1" size="1">
    <option value="">Select a County</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/adams.pdf">Adams</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/alamosa.pdf">Alamosa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/arapahoe.pdf">Arapahoe</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/archuleta.pdf">Archuleta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/baca.pdf">Baca</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/bent.pdf">Bent</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/boulder.pdf">Boulder</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/broomfield.pdf">Broomfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/chafee.pdf">Chaffee</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/cheyenne.pdf">Cheyenne</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/clearcreek.pdf">Clear Creek</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/conejos.pdf">Conejos</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/costilla.pdf">Costilla</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/crowley.pdf">Crowley</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/custer.pdf">Custer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/delta.pdf">Delta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/denver.pdf">Denver</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/dolores.pdf">Dolores</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/douglas.pdf">Douglas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/eagle.pdf">Eagle</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/elbert.pdf">Elbert</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/elpaso.pdf">El Paso</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/fremont.pdf">Fremont</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/garfield.pdf">Garfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/gilpin.pdf">Gilpin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/grand.pdf">Grand</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/gunnison.pdf">Gunnison</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/hinsdale.pdf">Hinsdale</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/huerfano.pdf">Huerfano</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/jackson.pdf">Jackson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/jefferson.pdf">Jefferson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/kiowa.pdf">Kiowa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/kitcarson.pdf">Kit Carson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/lake.pdf">Lake</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/laplata.pdf">La Plata</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/larimer.pdf">Larimer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/lasanimas.pdf">Las Animas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/lincoln.pdf">Lincoln</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/logan.pdf">Logan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/mesa.pdf">Mesa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/mineral.pdf">Mineral</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/moffat.pdf">Moffat</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/montezuma.pdf">Montezuma</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/montrose.pdf">Montrose</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/morgan.pdf">Morgan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/otero.pdf">Otero</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/ouray.pdf">Ouray</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/park.pdf">Park</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/phillips.pdf">Phillips</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/pitkin.pdf">Pitkin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/prowers.pdf">Prowers</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/pueblo.pdf">Pueblo</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/rioblanco.pdf">Rio Blanco</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/riogrande.pdf">Rio Grande</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/routt.pdf">Routt</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/saguache.pdf">Saguache</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/sanjuan.pdf">San Juan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/sanmiguel.pdf">San Miguel</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/sedgwick.pdf">Sedgwick</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/summit.pdf">Summit</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/teller.pdf">Teller</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/washington.pdf">Washington</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/weld.pdf">Weld</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/ctf_draft/table_1/yuma.pdf">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('draftCTFtbl1').value);"/>
