
  Select a County:<br />
  <select id="draftCTFtbl1" size="1">
    <option value="">Select a County</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEST0p1R2N3UklsRFU">Adams</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESeThRWkZiQVBuYkE">Alamosa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMnE3YmlTTkk5Wk0">Arapahoe</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESclFpSEZ2QXB3N1k">Archuleta</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNXI3VW5nVzlIV1k">Baca</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZU05anNEZkprM28">Bent</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESbjlrYUJGbWhTM2M">Boulder</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESU0FUd2U5VzJjdFk">Broomfield</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSnhvLWdibTBQYU0">Chaffee</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYndIUUlDWHE1ODQ">Cheyenne</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEScElEdlZGSUN6R2M">Clear Creek</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYXBGY3NvRnM1RWs">Conejos</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMkZvTGJ3MFlXUk0">Costilla</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTDZwTHJwakVfc1E">Crowley</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESS0EzSEtKSy1Xbkk">Custer</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESaGprMEV1TG56Ulk">Delta</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUDNqbG94bVdFeFE">Denver</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTy10VFRCQWZWT28">Dolores</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESQkFJcW5CZzYtNms">Douglas</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdnZhNTlHMVR5MnM">Eagle</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESem9JbUU0d3NUajg">Elbert</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESVG9uenVYMGN4X3c">El Paso</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNkY0elJnRTJNUms">Fremont</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUFAyZlY5TVRxU0U">Garfield</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSktlWkJzbk1fLUk">Gilpin</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRVBBYS1yY2REVTg">Grand</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYmZybExpc2tabGc">Gunnison</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTE1pbGRmZjVKXzg">Hinsdale</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRDc3M3E1c1VRRlE">Huerfano</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESbWY3bTU4dFFmTmc">Jackson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSG1wWXRJU1JHd1U">Jefferson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUm9xN0JJeXo3SXc">Kiowa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWlpCNTZSNnVfbEE">Kit Carson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSFY3Z1ZqbXhjSW8">Lake</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUFBNU040YVZjOFU">La Plata</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSHkzeVlzWmxGU0E">Larimer</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESQ3dEWFVOVnNvdVE">Las Animas</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESQmJVWXFiVkhKeEE">Lincoln</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESVTRQRHp0Z3czMzQ">Logan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYnFTeWZyY0czODA">Mesa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESejEtc1p1NGhxMEE">Mineral</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSGtpUmo5b01jSlE">Moffat</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESc3duNHZSQmJkNG8">Montezuma</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUTc4NGx1bHhVaWM">Montrose</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMlVrSThvSWRiLWs">Morgan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESR1BwZkJoVzg2Vmc">Otero</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESQ2JsZkVKdWJGWTg">Ouray</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMm95MGxLT2dBb1k">Park</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWTg4Q3J0eUxpb1U">Phillips</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUGhSYmdwMXV1QUE">Pitkin</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNkNydDd6el9GdVE">Prowers</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESVnNRREFZZ25QVGs">Pueblo</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESa0J6cDJZdzc1WWs">Rio Blanco</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMi1DUnZnSExpZzA">Rio Grande</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEScnZsbDNibHVNa2c">Routt</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESLTdqTVFMdm41LTg">Saguache</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWDVNTU1rSzFiaVE">San Juan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUlZTMGx6eDJHLWs">San Miguel</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNUhVcS1MQkp4OEU">Sedgwick</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESbDBIVUdyVjRlNHM">Summit</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESSUwybHZfRGFBbk0">Teller</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEScDVqTXE3bkxiSXc">Washington</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMkd1cTVjS3FfZnc">Weld</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESODhEOWNaajFpQ1E">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('draftCTFtbl1').value);"/>
