
  Select a County:<br />
  <select id="draftCTFtbl2" size="1">
    <option value="">Select a County</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTWNvVWhfYmJ6dVU">Colorado</option>    
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESa3JIT3Z4c3VVcTQ">Adams</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESS05LS0FuQXVDb3M">Alamosa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTVYtNWdsM0hYVEk">Arapahoe</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdzZNMmtDdHZpTHM">Archuleta</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUnVmaUlPR1pCejA">Baca</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZnl0bGNiZEFkclk">Bent</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdjg1dWRPZG80MGs">Boulder</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESVzhwVU5ra3A2MEU">Broomfield</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWDZWVERXTWFHaVk">Chaffee</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYmdyUDl1RTkxS2s">Cheyenne</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRS1uRGpQQktYMlk">Clear Creek</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRWNKUVRZdUVXWWc">Conejos</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdTFyWDUzbU1ibXc">Costilla</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRkV3RW0zNVZoTUE">Crowley</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUndjVi16VktTRWc">Custer</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMDlWeUZJWWRLZ2s">Delta</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRWxXOFVJYVE2Zk0">Denver</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESRG0wd0pueGY3Y0k">Dolores</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNHR5TFpvS2NJcUk">Douglas</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESaGJzdXJhWUxwYVU">Eagle</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEST1ZaSEJhd2Uta0U">Elbert</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESN3hhcDRwNmUwNkU">El Paso</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWVFxQmJNUjBrOG8">Fremont</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESb19MTlFOdW1tX0k">Garfield</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESN2sxbG55V3JMeTg">Gilpin</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESME40Z2EzSnFnakE">Grand</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZEsxZFZiZHdsWWs">Gunnison</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEScHAtdkNuSmIzMzA">Hinsdale</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESV3V6Tnk1VGJ4Tkk">Huerfano</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESR0pRM0FISFZzOU0">Jackson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESc3lqSm9nLXZaVXM">Jefferson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYi1FSjhPczFVSmc">Kiowa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESS0gybEdFUFlkM28">Kit Carson</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMmVjc0hlQnMwTXM">Lake</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMmw0YVI3aUoyNW8">La Plata</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdUQ2MnBmXzFtNXc">Larimer</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESM1BCc0VzemNkcEU">Las Animas</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESR2ZpZFBpcGQ1UXM">Lincoln</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZ1FQUS1KVDVRRkU">Logan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdUppQnhlWnBfaDQ">Mesa</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEST2ZSaFBMbmtyQTA">Mineral</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESb3poSUJqX2xlTGc">Moffat</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESdmZUZ2ozdDhRczA">Montezuma</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWHF6bG5FUTFHLUU">Montrose</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESeFllanE5VWRSejA">Morgan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZ2R3UmlmalNLMnM">Multi County Places</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESam45YnFENUJCUzA">Otero</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESN0E3WTMxMG1lQ1U">Ouray</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTjdqOUJuOHgtUjg">Park</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SEScDZWX3lWUU1udHM">Phillips</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMXNUck9YcmV3dGc">Pitkin</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESbXEwU3dYTmFDY0k">Prowers</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESM08wRlM2cUtjS1k">Pueblo</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESNGNtd2VwdnVXa2M">Rio Blanco</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTWFVU2ZIMXJDcFk">Rio Grande</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUHQwR1RmcDYyazA">Routt</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZmtXX0h1VDVWbW8">Saguache</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZ2w4eFd4Nmp5dVU">San Juan</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZmtrbVU4ZmZIbk0">San Miguel</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZEhmNWNSZHZfSlU">Sedgwick</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUzVlODB6b3ByR00">Summit</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESZFJqTHR2SXR2ZmM">Teller</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESQ1Y2b0t0TnZpTlE">Washington</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESTXp4SXBkNWQyQnc">Weld</option>
    <option value="https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESUlAzN0NmMVRfSms">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('draftCTFtbl2').value);"/>
