<meta content="{{ site.title }}" property="og:site_name">
<meta content="website" property="og:type">{% if page.title %}<meta content="{{ page.title }}" property="og:title">{% endif %}
{% if page.description %}<meta content="{{ page.description }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
{% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
{% if page.image %}<meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">{% else %}<meta content="{{ site.url }}/images/co_dola_large.png" property="og:image">{% endif %}
