        <footer id="footer">

          
          
  <div id="aboutleft">
    <a href="/information" >About the State Demography Office</a> | 
    <a href="/contact" >Contact Us</a> | 
    <a href="/search" >Search Demography</a> |
    <a href= "https://docs.google.com/a/state.co.us/forms/d/1-fLEOHMAnxwvT2Mu4fI4o0QIc3lGGxaHYaHZTL8JUHU/viewform">Send Feedback</a>
  </div> 
          
  <div id="aboutright">
    <a href="https://cdola.colorado.gov/about-dola" target="_blank">About DOLA</a> | 
    <a href="https://cdola.colorado.gov/our-culture" target="_blank">Careers @ DOLA</a> | 
    <a href="https://cdola.colorado.gov/contact" target="_blank">Contact DOLA</a>
  </div>

    
    
                <div id="coloradolegal">

                <a href="https://www.colorado.gov/" target="_blank">&copy; 
                    <script type="text/javascript">
                        var today = new Date();
                        var year = today.getFullYear();
                        document.write(year);
                    </script> 
                    State of Colorado
                </a> | 
                <a href="https://www.colorado.gov/apps/oit/transparency/index.html" target="_blank">Transparency Online</a> | 
                <a href="https://www.colorado.gov/accessibility-standards" target="_blank">Accessibility</a> | 
                <a href="/credits#credits" >Credits</a>
            </div>

        </footer>
