        <footer id="footer">
            <ul>
                <li><a href="https://www.colorado.gov/pacific/dola/node/120196" target="_blank">About DOLA</a></li>
                <li><a href="https://www.colorado.gov/pacific/dola/node/120201" target="_blank">Careers</a></li>
                <li><a href="https://www.colorado.gov/pacific/dola/node/106866" target="_blank">Newsroom</a></li>
                <li><a href="https://www.colorado.gov/pacific/dola/node/107106" target="_blank">Strategic &amp; Legislative Planning</a></li>
                <li><a href="https://www.colorado.gov/pacific/dola/node/107101" target="_blank">Contact</a></li>
            </ul>
            <p>
                <a href="http://www.colorado.gov/" target="_blank">&copy; 
                    <script type="text/javascript">
                        var today = new Date();
                        var year = today.getFullYear();
                        document.write(year);
                    </script> 
                    State of Colorado
                </a> | 
                <a href="https://www.colorado.gov/apps/oit/transparency/index.html" target="_blank">Transparency Online</a> | 
                <a href="https://www.colorado.gov/accessibility-standards" target="_blank">Accessibility</a>
            </p>
        </footer>