        <footer id="footer">
          <div style="margin-bottom: 20px; margin-top: 0px;">
<p>
  <span style="float: left">
    <a href="/information.html" target="_blank">About the State Demography Office</a> | 
    <a href="/contact.html" target="_blank">Contact Us</a>
  </span>
          
  <span style="float: right; margin-right: 20px;">
    <a href="https://www.colorado.gov/pacific/dola/node/120196" target="_blank">About DOLA</a> | 
    <a href="https://www.colorado.gov/pacific/dola/node/120201" target="_blank">Careers @ DOLA</a> | 
    <a href="https://www.colorado.gov/pacific/dola/node/107101" target="_blank">Contact DOLA</a>
  </span>
          </p>
          </div>
                                                                               
          <hr>
            <div style="margin-left: 20px">
                <a href="http://www.colorado.gov/" target="_blank">&copy; 
                    <script type="text/javascript">
                        var today = new Date();
                        var year = today.getFullYear();
                        document.write(year);
                    </script> 
                    State of Colorado
                </a> | 
                <a href="https://www.colorado.gov/apps/oit/transparency/index.html" target="_blank">Transparency Online</a> | 
                <a href="https://www.colorado.gov/accessibility-standards" target="_blank">Accessibility</a>
            </div>
        </footer>