              
                <header id="header">
                    <div id="header-name">
                        <h1 id="site-name">
                            <a href="http://www.colorado.gov/pacific/dola" title="Home" rel="home">
                                <span>DOLA</span>
                            </a>
                        </h1>
                    </div>

                  <a href="https://dola.colorado.gov"><img id="banner" src="/dola_assets/img/dola-banner.png" alt="Colorado Department of Local Affairs" /></a>

                    <nav id="top-navigation-wrapper">
                        <ul id="top-navigation-list">
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola" target="_blank">Home</a>
                            </li>
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola/division-local-government" target="_blank">Local Government</a>
                            </li>
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola/property-taxation" target="_blank">Property Taxation</a>
                            </li>
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola/division-housing" target="_blank">Housing</a>
                            </li>
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola/board-assessment-appeals-baa" target="_blank">Assessment Appeals</a>
                            </li>
                            <li class="padding-normal">
                                <a href="http://www.colorado.gov/pacific/dola/disaster-recovery" target="_blank">Disaster Recovery</a>
                            </li>
                        </ul>
                    </nav>
                  
                </header>