
                <header id="header">
                    <div id="header-name">
                        <h1 id="site-name">
                            <a href="https://www.colorado.gov/pacific/dola" title="Home" rel="home">
                                <span>DOLA</span>
                            </a>
                        </h1>
                    </div>
                  
<div class="banner-image-container">
                  <a href="https://dola.colorado.gov"><img id="banner" alt="Banner for Colorado Department of Local Affairs (DOLA)" src="/assets/img/dola-banner-compressor.png" alt="Colorado Department of Local Affairs" /></a>
</div>

                  
                    <nav id="top-navigation-wrapper">
                        <ul id="top-navigation-list" class="sm sm-simple">
                            <li class="padding-normal">
                                <a href="/">Home</a></li>
                            <li class="padding-normal">
                                <a href="/population/">Population</a></li>
                            <li class="padding-normal">
                                <a href="/births-deaths-migration/">Births, Deaths, Migration</a></li>
                            <li class="padding-normal">
                                <a href="/economy-labor-force/">Economy &amp; Labor Force</a></li>
                            <li class="padding-normal">
                                <a href="/housing-and-households/">Housing &amp; Households</a></li>
                            <li class="padding-normal">
                                <a href="/census-acs/">Census &amp; ACS</a></li>
                            <li class="padding-none">
                              <a href="/census-acs/2020-census-information/#census-information-2020"><img src="/images/CO2020.jpg" height=24px width=80px></a>
                            </li>
                        </ul>
                    </nav>

                </header>
