
             

<header id="header">
                    <div>
                    <a href="https://cdola.colorado.gov/"><img src="./assets/img/SDO-1600x400.jpg" alt="Department of Local Affairs Homepage" width="600px" height="150px"></a>
                    </div>
                    <div id="header-name">
                    <nav id="top-navigation-wrapper" style="display: block;">
                    <ul class="horiz">
                    <li class="horiz_item"> </li>
                    <li class="horiz_item"> <a href="https://cdola.colorado.gov/assessment-appeals">Assessment Appeals</a></li>
                    <li class="horiz_item"><a href="https://cdola.colorado.gov/housing">Housing</a></li>
                    <li class="horiz_item"> <a href="https://cdola.colorado.gov/local-government">Local Government</a></li>
                    <li class="horiz_item"> <a href="https://cdola.colorado.gov/property-taxation">Property Taxation</a></li>
                    </ul>
                    </nav>
                    </div>

                </header>
