<style> 

.center{
    text-align: center
}
  
.h1head{
    color: black;
    font-size:200%; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 30px;
  }

.sdo-block{
    background-image: url(assets/img/homepage1.jpg);
    background-color: #999899;
    background-size:cover;
    background-repeat:no-repeat;
    display: block;
    color: White !important;
    font-family: "Source_Sans_Pro";
    /*opacity:.5;*/
    /*max-width:50%;*/
    /*max-height: 10%;*/
    /*border: 3px solid grey;*/
}

</style>

<br>
<section class="sdo-block">

<h1 class="center h1head" > State Demography Office </h1>


<p class="center">The State Demography Office is the primary state agency for population and demographic information.

<!--Please visit our <a href="https://demography.dola.colorado.gov/information/#about-the-state-demography-office" style="color:rgb(208,210,211);">Information Page</a> to learn more, or <a href="https://demography.dola.colorado.gov/contact/#contact-us" style="color:rgb(208,210,211);">send us an email</a> with any questions or comments! -->
</p>
<br>
<br>
<br>
<!--<h2 class="center" style="color: white; text-decoration: underline">Quick Links</h2>-->
<div class="center">
{% include _ourData.html %}
</div>
</section>

<br>