
    <style>
    


@media screen and (min-width: 785px) {
  
.infobox {
    font-size:100% ;
  /*float: left; */
  width: 75%; 
  /*top: 50px;*/
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 5px; 
  /*border: .25px solid #8d97a1;*/
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
  padding-bottom: 10px;
  padding-top: 10px;
  /*margin-right: 10px;*/
  /*margin-bottom: 20px;*/
}
  
      }
      

@media screen and (max-width: 784px) {
  
  
.infobox {
display: none;
}

.centerHeader {
    text-align: center;
    /*display: block; */
    /*content: " "; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 950px; 
    /*visibility: hidden;*/
    
}
  
      } 
      
      </style>

                          <div class="infobox">
                          <h3 class="center"> Popular Items</h3>
                           <ul>
                             <a href="https://drive.google.com/file/d/1sweDxA5ipegGpGNlty9DW_ppNKb-JS07/view?usp=sharing" style="text-color:red;">US Census Bureau County and Incorporated Population Estimates Vintage 2019</a>
                             {% for link in site.data.infobox %}
                              <li>
                                <a href="{{ link.url }}">{{ link.name }}</a>
                              </li>
                             {% endfor %}
                           </ul>
                            
                          </div>
