<div class='accordionWrapper'>
<a href='https://arcg.is/04jOOq' >Colorado's Population and Economic Trends Story Map</a>
<p></p>
    <h4>Data by Topic</h4>
		<div w3-include-html="./assets/html/menu_pop_idx.html"></div>
		<div w3-include-html="./assets/html/menu_coc_idx.html"></div>
		<div w3-include-html="./assets/html/menu_housing_idx.html"></div>
		<div w3-include-html="./assets/html/menu_econ_idx.html"></div>
		<div w3-include-html="./assets/html/menu_census_idx.html"></div>
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
<h4>Data by Geography</h4>
<div w3-include-html="./assets/html/menu_state_idx.html"></div>
<div w3-include-html="./assets/html/menu_county_idx.html"></div>
<div w3-include-html="./assets/html/menu_muni_idx.html"></div>
</div>  <!-- Accordion Wrapper -->

<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>
