<div class='accordionWrapper'>
<ul class="breadcrumb">
  <li><a href="https://coloradodemography.github.io/WebsiteGrid">Home</a></li>
  <li>Economy & Jobs</li>
</ul>
<p></p>
	<details>
	<summary>Economy & Jobs Spreadsheets, Applications, and Links <i class='fas fa-file-excel' style='color:green;'></i></summary>
	<main> 
	<h5>Forecasting Worksheets</h5>
	<ul class='accordion-ui'>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESWnJrREZ2ank3QWc' title='Workbook summarizing jobs, labor force and population forecasts for Colorado. Information on basic jobs, indirect and induced jobs, total jobs, multiple job holding rates, commuting, unemployment, labor force participation, and population for 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer. '>State Forecasting Worksheet <i class='fas fa-file-excel' style='color:green;'></i> </a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESR3k2TW1ZN0J5bTQ' title='Workbook summarizing jobs, labor force and population forecasts for selected regions and counties. Information on basic jobs, indirect and induced jobs, total jobs, multiple job holding rates, commuting, unemployment, labor force participation, and population for 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer. '>Regions 1-8  Forecasting Worksheet <i class='fas fa-file-excel' style='color:green;'></i></a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESMDhxN0ItSXB3NXM' title='Workbook summarizing jobs, labor force and population forecasts for selected regions and counties. Information on basic jobs, indirect and induced jobs, total jobs, multiple job holding rates, commuting, unemployment, labor force participation, and population for 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer. '>Regions 9-14 Forecasting Worksheet <i class='fas fa-file-excel' style='color:green;'></i></a></li>
		<li><a class='accordion-link' href='https://storage.googleapis.com/co-publicdata/Total%20Estimated%20Jobs%20by%20County%201990%20to%202040.xlsx' title='Workbook listing the total number of jobs by county from 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer. '>Jobs by County, 1990-2040 <i class='fas fa-file-excel'style='color:green;' ></i></a></li>
	</ul>
	<h5>Data Lookup Pages</h5>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector-regions' title='Application providing jobs by NAICS sector, for Colorado and Regions, 2001 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' title='Application providing jobs by NAICS sector, for Colorado Counties, 2001 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force-regions' title='Application providing labor force participation rates by age, for Colorado and Regions, 2010 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' title='Application providing labor force participation rates by age, for Colorado Counties, 2010 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Labor Force Participation Lookup</a></li>		
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis-regions' title='Application providing counts and percentages of employment by sector, for Colorado and Regions in the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis' title='Application providing counts and percentages of employment by sector, for Colorado Counties in the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast-regions' title='Application providing job forecasts, for Colorado and Regions from 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Jobs Forecast Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast' title='Application providing job forecasts, for Colorado Counties from 1990 to 2040. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Jobs Forecast Lookup</a></li>
	</ul>
	<h5>External Data Links</h5>
		<ul class='accordion-ul'>
		<li><a class='accordion-link' href='http://www.fhwa.dot.gov/planning/census_issues/ctpp/data_products/acsdataprod.cfm' target=_blank>Census Transportation Planning Products (CTPP) Data</a></li>
        <li><a class='accordion-link' href='https://www.census.gov/topics/employment/commuting.html' target=_blank>ACS Commuting Data Page</a></li>
        <li><a class='accordion-link' href='https://www.bea.gov/data/income-saving/personal-income-by-state' target=_blank>Personal Income (BEA)</a></li>
        <li><a class='accordion-link' href='https://www.colmigateway.com/vosnet/lmi/default.aspx' target=_blank>Labor Market Information</a></li>
	</ul>
	<h5>Documentation</h5>
		<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=1Ag0JdOo8XATTBiNuh80BTiuqLV4Kv72T'>Base Analysis Summary<i class='fas fa-file-pdf'></i></a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B9kZxy54UDqMSWNFTzF1YV81MTY5Uk9Dc0xTc3RZeFpJTFRV'>Local Economic Information Summary Documentation (LEIFA) Document<i class='fas fa-file-pdf'></i></a></li>
     </ul>
	</main>
	</details>
	<h4>Data by Topic</h4>
		<div w3-include-html="./menu_pop.html"></div>
		<div w3-include-html="./menu_coc.html"></div>
		<div w3-include-html="./menu_housing.html"></div>
		<div w3-include-html="./menu_census.html"></div>
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
<h4>Data by Geography</h4>
		<div w3-include-html="./menu_state.html"></div>
		<div w3-include-html="./menu_county.html"></div>
		<div w3-include-html="./menu_muni.html"></div>
</div>  <!-- Accordion Wrapper -->
<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>
