<div class="grid-item panel_2_1" id="leftHand">
	<div id="accordion">
<a href='https://arcg.is/04jOOq' target=_blank>Colorado's Population and Economic Trends</a>
<p></p>
    <h4>Data by Topic</h4>
	<button class="dropdown-btn">Population <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
		<p class="dd">
		<a class="dropdown-link" href='./assets/html/population.html'>Population Visualizations and Downloads</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/county-data-lookup/' target=_blank>Total Population</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/race-hispanic-origin/#race-and-hispanic-origin' target=_blank>Race/Ethnicity</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-county/' target = _blank>Age</a>
		</p>
	</div>
	<button class="dropdown-btn">Births, Deaths & Migration <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/demographic_dashboard/' target=_blank>Births and Deaths</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/netmigration_dashboard/' target=_blank>Net Migration Comparison</a>
	</p>
	</div>
	<button class="dropdown-btn">Housing & Households <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://gis.dola.colorado.gov/apps/HousingDashboard/' target=_blank>Housing Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/muni-pop-housing/' target=_blank>Household Characteristics</a>
	</p>
	</div>
	<button class="dropdown-btn">Economy <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container"> 
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>Jobs By Sector Data</a>
		<br><a class="dropdown-link" href='https://coloradodemography.github.io/Jobs_by_sector_chart/' target=_blank>Jobs By Sector Visualization</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>Labor Force Participation by Age ans Sex</a>
	</p>
	</div>
	<button class="dropdown-btn">Census Resources <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container"> 
	<p class="dd">
		<a class="dropdown-link" href='https://www.census.gov/' target=_blank>Census Bureau Page</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/census-acs/2010-census-data/#census-data-for-colorado-2010' target=_blank>SDO Census Page</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7' target=_blank>SDO Amercican Community Survey Map</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/CensusAPI/' target=_blank>SDO Census API</a>
		<br><a class="dropdown-link" href='https://www.census.gov/quickfacts/fact/table/US/PST045219' target=_blank>Census Quickfacts</a>
        <br><a class="dropdown-link" href='https://data.census.gov/cedsci/' target=_blank>data.census.gov</a>
	</p>
	</div>
<p></p>
<h4>Data by Geography</h4>
	<button class="dropdown-btn">State & Regional Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-regions/' target=_blank>State and Region Population Estimates</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-regions/' target=_blank>State and Regional Population Forecasts</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-regions/' target=_blank>State and Regional Demographic Profile</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change-regions/' target=_blank>State and Regional Components of Change</a>
	</p>
	</div>
	<button class="dropdown-btn">County Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/demographic_dashboard/' target=_blank>County Demographic Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/netmigration_dashboard/' target=_blank>County Net Migration by Age Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/colorado-demographic-profiles/' target=_blank>Colorado Demographic Profiles</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>County Population Estimates</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-county/#county-population-by-single-year-of-age' targer=_blank>County Population Forecasts</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>County Demographic Profile</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>County Components of Change</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>Population and Housing Time Series</a>
	</p>
	</div>
	<button class='dropdown-btn'>Municipality & Place Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
	    <a class="dropdown-link" href="https://www.census.gov/content/dam/Census/data/developers/understandingplace.pdf" target=_blank>Understanding Census Definitions for Municipalities and Places</a>
		<br> <a class="dropdown-link" href='https://demography.dola.colorado.gov/colorado-demographic-profiles/' target=_blank>Colorado Demographic Profiles</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>Population and Housing Time Series</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/demography/cedis/#colorado-economic-demographic-information-system' target=_blank>Local Government Data Links</a>
	</p>
	</div>
</div>
</div>
