<div class='accordionWrapper'>
<a href='https://arcg.is/04jOOq' target=_blank>Colorado's Population and Economic Trends</a>
<p></p>
    <h4>Data by Topic</h4>
	<details>
	<summary>Population</summary>
	<main>
		<ul class='accordion-ul'>
		<li><a class='accordion-sec' href='./assets/html/population.html' target=_blank>Population Applications and Downloads</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/regional-data-lookup' target=_blank>State and Regional Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/county-data-lookup' target=_blank>County Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Municipal Total Population Lookup</a></li>
		<br><br>
		<li><a class='accordion-link' href="https://demography.dola.colorado.gov/population/data/race-estimate-regions" target=_blank>State and Regional Race/Ethnicity Estimates Lookup</a></li>
		<li><a class='accordion-link' href="https://demography.dola.colorado.gov/population/data/race-estimate/#county-race-by-age-estimates" target=_blank>County Race/Ethnicity Estimates Lookup</a></li>
		<li><a class='accordion-link' href="https://demography.dola.colorado.gov/population/data/race-forecast-regions" target=_blank>State and Regional Race/Ethnicity Forecast Lookup</a></li>
		<li><a class='accordion-link' href="https://demography.dola.colorado.gov/population/data/race-forecast/#county-race-by-age-forecast" target=_blank>County Race/Ethnicity Forecast Lookup</a></li>
		<br><br>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-county' target=_blank>Single Year of Age Lookup</a></li>
		</ul>
	</main>
	</details>
	<details>
	<summary>Births, Deaths & Migration</summary>
	<main>
	 <ul class='accordion-ul'>
	 <li><a class='accordion-sec' href='./assets/html/coc.html' target=_blank>Births, Deaths & Migration Applications and Downloads</a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>Births, Deaths and Migration Lookup</a></li>
	 </ul>
	</main>
	</details>
	<details>
	<summary>Housing & Households</summary>
	<main>
	<ul class='accordion-ul'>
	<li><a class='accordion-sec' href='./assets/html/housing.html' target=_blank>Housing Applications and Downloads</a></li>
	<li><a class='accordion-link' href='https://gis.dola.colorado.gov/apps/HousingDashboard/' target=_blank>Housing Dashboard</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Household Characteristics Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' target=_blank>State and Regional Household Projections Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' target=_blank>County Household Projections Lookup</a></li>
	</ul>
	</main>
	</details>
	<details> 
	<summary>Economy & Jobs</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-sec' href='./assets/html/economy.html' target=_blank>Economy and Jobs Applications</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector-regions' target=_blank>State and Regional Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>County Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force-regions' target=_blank>State and Regional Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>County Labor Force Participation Lookup</a></li>		
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis-regions'target=_blank>State and Regional Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis' target=_blank>County Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast-regions' target=_blank>State and Regional Jobs Forecast Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast' target=_blank>County Jobs Forecast Lookup</a></li>
     </ul>
	</main>
	</details>
	<details> 
	<summary>Census Resources</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://www.census.gov' target=_blank>Census Bureau Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/census-acs/2010-census-data/#census-data-for-colorado-2010' target=_blank>SDO Census Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7' target=_blank>SDO Amercican Community Survey Map</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI' target=_blank>SDO Census API</a></li>
		<li><a class='accordion-link' href='https://www.census.gov/quickfacts/fact/table/US/PST045219' target=_blank>Census Quickfacts</a></li>
        <li><a class='accordion-link' href='https://data.census.gov/cedsci' target=_blank>data.census.gov</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/historical_census' target=_blank>Historical Census Data Lookup, 1870-2010</a></li>
	</ul>
	</main>
	</details>
<p></p>
<h4>Data by Geography</h4>
	<details>
	<summary>State & Regional Data</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/regional-data-Lookup' target=_blank>State and Regional Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-regions' target=_blank>State and Regional Population Forecasts Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-regions' target=_blank>State and Regional Demographic Profile</a></li>
			<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' target=_blank>State and Regional Housheold Projections Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector-regions' target=_blank>State and Regional Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force-regions' target=_blank>State and Regional Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis-regions'target=_blank>State and Regional Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast-regions' target=_blank>State and Regional Jobs Forecast Lookup</a></li>
	</ul>
	</main>
	</details>
	<details>
	<summary>County Data</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='./assets/html/demodashboard.html' target=_blank>County Demographic Dashboard</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/colorado-demographic-profiles' target=_blank>Colorado Demographic Profiles</a></li>
		<li><a class='accordion-link' href='./assets/html/netmigcomp.html' target=_blank>County Net Migration by Age Dashboard</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-county' target=_blank>County Population Estimates Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-county/#county-population-by-single-year-of-age' targer=_blank>County Population Forecasts Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>County Components of Change Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-county' target=_blank>Population and Housing Time Series Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' target=_blank>County Household Projections Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>County Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>County Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis' target=_blank>County Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast' target=_blank>County Jobs Forecast Lookup</a></li>
	</ul>
	</main>
	</details>
	<details>
	<summary>Municipality & Place Data</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://www.census.gov/content/dam/Census/data/developers/understandingplace.pdf' target=_blank>Understanding Census Definitions for Municipalities and Places</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/colorado-demographic-profiles' target=_blank>Colorado Demographic Profiles</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Population and Housing Time Series Lookup</a</li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/demography/cedis/#colorado-economic-demographic-information-system' target=_blank>Local Government Data Links</a></li>
	</ul>
	</main>
	</details>
</div>  <!-- Accordion Wrapper -->
