<div id="profileDiv">
{% include _breadcrumb.html %}
<p>
	<label for="profile-dropdown">Select Profile Type:</label>
	<select class="proInput" id="profile-dropdown"></select>
</p>
<p>
    <label for="location-dropdown" id="location-label"></label>
	<select class="proInput" id="location-dropdown"></select>

</p>
<p>
	<input class="proInput" type="checkbox" id="sel1" name="sel1" value="sel1">
    <label for="sel1" >Basic Statistics</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel2" name="sel2" value="sel2">
    <label for="sel2" >Population Trends</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel3" name="sel3" value="sel3">
    <label for="sel3" >Population Characteristics:<br>Age</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel4" name="sel4" value="sel4">
    <label for="sel4" >Population Characteristics:<br>Income, Education and Race</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel5" name="sel5" value="sel5">
    <label for="sel5" >Housing and Households</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel6" name="sel6" value="sel6">
    <label for="sel6" >Commuting and Job Growth</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel7" name="sel7" value="sel7">
    <label for="sel7" >Employment by Industry</label>
</p>
<p>
	<input class="proInput" type="checkbox" id="sel8" name="sel8" value="sel8">
    <label for="sel8" >Employment Forecast and Wage Information</label>
</p>
<p>
	<button class='proInput' id='genprofile'>Generate Profile</button>
</div>  <!-- Accordion Wrapper -->
