<div class='accordionWrapper'>
{% include _breadcrumb.html %}
<p></p>
	<details>
	<summary>Housing & Household Applications, and Links'</summary>
	<main> 
		<ul class='accordion-ul'>
			<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=1cNjNZsCqjA5TNEZytkAKu6lb5c2aC0tT' title='Spreadsheet showing Total Housing Units, Occupied Housing Units, and Vacant Housing Units for Colorado Counties & Municipalities in the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Housing Unit and Household Estimates for the State, Counties and Municipalities  <i class='fas fa-file-excel'></i></a></li>
			<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' title='Application providing Total Housing Units, Occupied Housing Units, and Vacant Housing Units for Colorado Counties and Municipalities from 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Household Characteristic Lookup</a></li>
			<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' title='Application providing housing projections by occupancy type for Colorado & Regions from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Household Projections Lookup</a></li>
			<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' title='Application providing housing projections by occupancy type for Colorado Counties from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Household Projections Lookup</a></li>
		</ul>
		<h5>External Data Links</h5>
		<ul class='accordion-ul'>
			<li><a class='accordion-link' href='https://www.huduser.gov/portal/home.html' target=_blank>U.S. Department of Housing and Urban Development (HUD)</a></li>
			<li><a class='accordion-link' href='https://www.census.gov/topics/housing.html' target=_blank>U.S. Census Bureau Housing Topics</a></li>
		</ul>
	</main>
	</details>
    <h4>Data by Topic</h4>
		{% include _menu_pop.html %}
		{% include _menu_coc.html %}
		{% include _menu_econ.html %}
		{% include _menu_census.html %}
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
<h4>Data by Geography</h4>
		{% include _menu_state.html %}
		{% include _menu_county.html %}
		{% include _menu_muni.html %}

</div>  <!-- Accordion Wrapper -->
<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>
