<div id="accordionWrapper">
<ul class="breadcrumb">
  <li><a href="https://coloradodemography.github.io/WebsiteGrid">Home</a></li>
  <li>Population</li>
</ul>
	<details>
		<summary><a href='./population_spreadsheets.html'>Population Estimate and Forecast Spreadsheets <i class='fas fa-file-excel' style='color:green;'></i></a></summary>
	</details>
	<details>
		<summary><a href='./population_applications.html'>Population Estimate and Forecast Applications and Lookup Pages</a></summary>
	</details>
	<details>
	<summary>Methodology and Background</summary>
	<main>
	<ul class='accrodion-ul'>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B_M7zgfu2piFenFkejM5T1J6a1E'>Estimates Methodology <i class='fas fa-file-word'></i></a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B_M7zgfu2piFclJkbGM3VG55Nzg'>Forecasts Methodology <i class='fas fa-file-word'></i></a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/gis/colorado-regions/#understanding-colorado-regions'>Definitions of Substate Regions <i class='fas fa-globe'></i></a></li>
		<li><a class='accordion-link' href='https://storage.googleapis.com/maps-static/PlanningManagement8x11.pdf'>Planning Management Region Map <i class='fas fa-file-pdf'></i></a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B2oqdPZKJqK7VjNuRWdiYnRhbnM'>Statistical Regions Map <i class='fas fa-file-pdf'></i></a></li>
		<li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B9kZxy54UDqMV3o3R2loY18yT28'>Land Density by County <i class='fas fa-file-excel'></i></a></li>
	</ul>
	</main>
	</details>
	<h4>Data by Topic</h4>
		{% include _menu_coc.html %}
		{% include _menu_housing.html %}
		{% include _menu_econ.html %}
		{% include _menu_census.html %}	
	
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
<h4>Data by Geography</h4>
		{% include _menu_state.html %}
		{% include _menu_county.html %}
		{% include _menu_muni.html %}

</div>  <!-- Accordion Wrapper -->

