<div class='accordionWrapper'>
<a href='https://arcg.is/04jOOq' target=_blank>Colorado's Population and Economic Trends</a>
<p></p>
    <h4>Data by Topic</h4>
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Population <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
		<ul class='accordion-ul'>
		<li><a class='accordion-link' href='./assets/html/population.html' target=_blank>Population Applications and Downloads</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/regional-data-lookup' target=_blank>State and Regional Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/county-data-lookup' target=_blank>County Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Municipal Total Population Lookup</a></li>
		<li><a class='accordion-link' href='./assets/html/raceethnicity.html' target=_blank>Race/Ethnicity Appications, Visualizations and Lookups</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-county' target=_blank>Single Year of Age Lookup</a></li>
		</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Births, Deaths & Migration <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
	 <ul class='accordion-ul'>
	 	 <li><a class='accordion-link' href='./assets/html/coc.html' target=_blank>Births, Deaths, and Migration Applications and Downloads</a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>Births, Deaths and Migration Lookup</a></li>
	 <li><a class='accordion-link' href='./assets/html/netmigcomp.html' target=_blank>Net Migration Comparison</a></li>
	 <li><a class='accordion-link' href='./assets/html/netmig1864.html' target=_blank>Net Migration Working Age</a></li>
	 </ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Housing & Households <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
	<ul class='accordion-ul'>
	<li><a class='accordion-link' href='https://gis.dola.colorado.gov/apps/HousingDashboard/' target=_blank>Housing Dashboard</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Household Characteristic Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' target=_blank>State and Regional Housheold Projections Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' target=_blank>County Household Projections Lookup</a></li>
	</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Economy & Jobs<i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'> 
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='./assets/html/economy.html' target=_blank>Economy and Jobs Applications</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector-regions' target=_blank>State and Regional Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>County Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force-regions' target=_blank>State and Regional Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>County Labor Force Participation Lookup</a></li>		
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis-regions'target=_blank>State and Regional Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis' target=_blank>County Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast-regions' target=_blank>State and Regional Jobs Forecast Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast' target=_blank>County Jobs Forecast Lookup</a></li>
     </ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Census Resources <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'> 
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://www.census.gov' target=_blank>Census Bureau Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/census-acs/2010-census-data/#census-data-for-colorado-2010' target=_blank>SDO Census Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7' target=_blank>SDO Amercican Community Survey Map</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI' target=_blank>SDO Census API</a></li>
		<li><a class='accordion-link' href='https://www.census.gov/quickfacts/fact/table/US/PST045219' target=_blank>Census Quickfacts</a></li>
        <li><a class='accordion-link' href='https://data.census.gov/cedsci' target=_blank>data.census.gov</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/historical_census' target=_blank>Historical Census Data Lookup, 1870-2010</a></li>
	</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
<p></p>
<h4>Data by Geography</h4>
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>State & Regional Data <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/regional-data-Lookup' target=_blank>State and Regional Total Population Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-regions' target=_blank>State and Regional Population Forecasts Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-regions' target=_blank>State and Regional Demographic Profile</a></li>
			<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' target=_blank>State and Regional Housheold Projections Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector-regions' target=_blank>State and Regional Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force-regions' target=_blank>State and Regional Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis-regions'target=_blank>State and Regional Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast-regions' target=_blank>State and Regional Jobs Forecast Lookup</a></li>
	</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>County Data <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='./assets/html/demodashboard.html' target=_blank>County Demographic Dashboard</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/colorado-demographic-profiles' target=_blank>Colorado Demographic Profiles</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/apps/netmigration_dashboard' target=_blank>County Net Migration by Age Dashboard</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-county' target=_blank>County Population Estimates Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/sya-county/#county-population-by-single-year-of-age' targer=_blank>County Population Forecasts Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>County Components of Change Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/profile-county' target=_blank>Population and Housing Time Series Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' target=_blank>County Household Projections Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>County Jobs By Sector Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>County Labor Force Participation Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/base-analysis' target=_blank>County Base Industry Analysis Lookup</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-forecast' target=_blank>County Jobs Forecast Lookup</a></li>
	</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
	<div class='accordionItem close'>
	<h2 class='accordionItemHeading'>Municipality & Place Data <i class='fas fa-angle-down'></i></h2>
	<div class='accordionItemContent'>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://www.census.gov/content/dam/Census/data/developers/understandingplace.pdf' target=_blank>Understanding Census Definitions for Municipalities and Places</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/colorado-demographic-profiles' target=_blank>Colorado Demographic Profiles</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' target=_blank>Population and Housing Time Series Lookup</a</li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/demography/cedis/#colorado-economic-demographic-information-system' target=_blank>Local Government Data Links</a></li>
	</ul>
	</div>  <!-- accordionItemContent -->
	</div>  <!-- accordionItem close -->
</div>  <!-- Accordion Wrapper -->

<!--<div class="" id="leftHand">
	<div id="accordion">
<a href='https://arcg.is/04jOOq' target=_blank>Colorado's Population and Economic Trends</a>
<p></p>
    <h4>Data by Topic</h4>
	<button class="dropdown-btn">Population <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
		<p class="dd">
		<a class="dropdown-link" href='./assets/html/population.html'>Population Visualizations and Downloads</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/county-data-lookup/' target=_blank>Total Population</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/race-hispanic-origin/#race-and-hispanic-origin' target=_blank>Race/Ethnicity</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-county/' target = _blank>Age</a>
		</p>
	</div>
	<button class="dropdown-btn">Births, Deaths & Migration <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/demographic_dashboard/' target=_blank>Births and Deaths</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/netmigration_dashboard/' target=_blank>Net Migration Comparison</a>
	</p>
	</div>
	<button class="dropdown-btn">Housing & Households <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://gis.dola.colorado.gov/apps/HousingDashboard/' target=_blank>Housing Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/muni-pop-housing/' target=_blank>Household Characteristics</a>
	</p>
	</div>
	<button class="dropdown-btn">Economy <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container"> 
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/economy-labor-force/data/jobs-by-sector/#jobs-by-sector-naics' target=_blank>Jobs By Sector Data</a>
		<br><a class="dropdown-link" href='https://coloradodemography.github.io/Jobs_by_sector_chart/' target=_blank>Jobs By Sector Visualization</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/economy-labor-force/data/labor-force/#labor-force-participation' target=_blank>Labor Force Participation by Age ans Sex</a>
	</p>
	</div>
	<button class="dropdown-btn">Census Resources <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container"> 
	<p class="dd">
		<a class="dropdown-link" href='https://www.census.gov/' target=_blank>Census Bureau Page</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/census-acs/2010-census-data/#census-data-for-colorado-2010' target=_blank>SDO Census Page</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7' target=_blank>SDO Amercican Community Survey Map</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/CensusAPI/' target=_blank>SDO Census API</a>
		<br><a class="dropdown-link" href='https://www.census.gov/quickfacts/fact/table/US/PST045219' target=_blank>Census Quickfacts</a>
        <br><a class="dropdown-link" href='https://data.census.gov/cedsci/' target=_blank>data.census.gov</a>
	</p>
	</div>
<p></p>
<h4>Data by Geography</h4>
	<button class="dropdown-btn">State & Regional Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-regions/' target=_blank>State and Region Population Estimates</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-regions/' target=_blank>State and Regional Population Forecasts</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-regions/' target=_blank>State and Regional Demographic Profile</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change-regions/' target=_blank>State and Regional Components of Change</a>
	</p>
	</div>
	<button class="dropdown-btn">County Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
		<a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/demographic_dashboard/' target=_blank>County Demographic Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/apps/netmigration_dashboard/' target=_blank>County Net Migration by Age Dashboard</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/colorado-demographic-profiles/' target=_blank>Colorado Demographic Profiles</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>County Population Estimates</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/sya-county/#county-population-by-single-year-of-age' targer=_blank>County Population Forecasts</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>County Demographic Profile</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' target=_blank>County Components of Change</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>Population and Housing Time Series</a>
	</p>
	</div>
	<button class='dropdown-btn'>Municipality & Place Data <i class="fas fa-angle-down"></i></button>
	<div class="dropdown-container">
	<p class="dd">
	    <a class="dropdown-link" href="https://www.census.gov/content/dam/Census/data/developers/understandingplace.pdf" target=_blank>Understanding Census Definitions for Municipalities and Places</a>
		<br> <a class="dropdown-link" href='https://demography.dola.colorado.gov/colorado-demographic-profiles/' target=_blank>Colorado Demographic Profiles</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/population/data/profile-county/' target=_blank>Population and Housing Time Series</a>
		<br><a class="dropdown-link" href='https://demography.dola.colorado.gov/demography/cedis/#colorado-economic-demographic-information-system' target=_blank>Local Government Data Links</a>
	</p>
	</div>
</div>
</div>-->Old

