<div id="accordionWrapper">
<ul class="breadcrumb">
  <li><a href="https://coloradodemography.github.io/WebsiteGrid">Home</a></li>
  <li>Births, Death & Migration</li>
</ul><p></p>

	<details>
	<summary>Births, Deaths & Migration Spreadsheets, Applications, and Links <i class='fas fa-file-excel' style='color:green;'></i></summary>
	<main>
	<ul class='accrodion-ul'>
	 <li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=0B-vz6H4k4SESYk04anlab3BUNDQ' title='Estimated and forecasted births, deaths, natural increase and net migration for Colorado & Counties from 1970 to 2025. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Components of Change for Colorado <i class='fas fa-file-excel' style='color:green;'></i></a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change-regions/' title='Application providing births, deaths, natural increase and net migration data for Colorado & Regions from 1970 to 2025. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Statewide and Region Births, Deaths and Migration Lookup</a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' title='Application providing births, deaths, natural increase and net migration data for Colorado Counties from 1970 to 2025. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Births, Deaths and Migration Lookup</a></li>
	</ul>
	<h5>External Data Links</h5>
	<ul class='accordion-ul'>	 
	 <li><a class='accordion-link' href='https://cdphe.colorado.gov/center-for-health-and-environmental-data/registries-and-vital-statistics/vital-statistics-program' >CDPHE Vital Statistics Program Home Page</a></li>
	 <li><a class='accordion-link' href='https://www.irs.gov/statistics/soi-tax-stats-migration-data'>U.S. Population Migration Data (IRS.gov)</a></li>
	 <li><a class='accordion-link' href='https://www.census.gov/programs-surveys/popest.html'>U.S. Census Bureau Estimates Program (census.gov)</a></li>
	 <li><a class='accordion-link' href='https://flowsmapper.geo.census.gov'>U.S. Census Bureau Migration Flows Mapper (census.gov)</a></li>
	</ul>
	</main>
	</details>
	<h4>Data by Topic</h4>
	<div w3-include-html="./menu_pop.html"></div>
	<div w3-include-html="./menu_housing.html"></div>
	<div w3-include-html="./menu_econ.html"></div>
	<div w3-include-html="./menu_census.html"></div>
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
	<h4>Data by Geography</h4>
		<div w3-include-html="./menu_state.html"></div>
		<div w3-include-html="./menu_county.html"></div>
		<div w3-include-html="./menu_muni.html"></div>
</div>

<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>
