<div class='accordionWrapper'>
{% include _breadcrumb.html %}
<p></p>
    <h4>Data by Topic</h4>
	{% include _menu_pop.html %}
	{% include _menu_coc.html %}
	{% include _menu_housing.html %}
	{% include _menu_econ.html %}
	{% include _menu_census.html %}
	<details>
	<summary><a href="https://demography.dola.colorado.gov/gis/gis-data/#gis-data">GIS Data and Resources</a></summary>
	</details>
<p></p>
<h4>Data by Geography</h4>
	{% include _menu_state.html %}
	{% include _menu_county.html %}
	{% include _menu_muni.html %}
</div>  <!-- Accordion Wrapper -->
<script>

//Setting HTML include and Accordion
includeHTML(); 

</script>
