<details> 
	<summary>Census Resources</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-sec'  href='./assets/html/acs.html'>American Community Survey (ACS) Applications</a></li>
		<li><a class='accordion-link' href='https://www.census.gov'  title='U.S. Census Bureau Homepage' target=_blank>Census Bureau Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/census-acs' title='SDO Census Data for 2010 and 2020 page. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>SDO Census Page</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI_Map_2019/?lat=39&lng=-104.8&z=9&s=50&v=mhi&sn=jenks&cs=mh1&cl=7' title='Interactive Map of American Community Survey results using current 5-year data sets. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>SDO Amercican Community Survey Map</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CensusAPI' title='Download American Community Survey 5-year data. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>SDO Census API</a></li>
		<li><a class='accordion-link' href='https://www.census.gov/quickfacts/fact/table/US/PST045219' title='U.S. Census Quickfacts provide high-level summaries for selected geographies.' target=_blank>Census Quickfacts</a></li>
        <li><a class='accordion-link' href='https://data.census.gov/cedsci'  title='U.S. Census Bureau ACS Data Portal. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'target=_blank>data.census.gov</a></li>
		<li><a class='accordion-link' href='https://www.census.gov/programs-surveys/popest.html' title='U.S. Census Bureau Population Estimates homepage' target=_blank>Census Population Estimates</a></li>
		<li><a class='accordion-link' href='https://www.census.gov/programs-surveys/popproj.html' title='U.S. Census Bureau Population Forecasts homepage' target=_blank>Census Population Forecasts</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/historical_census' title='Application providing total population for Colorado Counties and Municipalities for 1870 to 2010.' >Historical Census Data Lookup, 1870-2010</a></li>
	</ul>
	</main>
	</details>
