<details>
	<summary>Housing & Households</summary>
	<main>
	<ul class='accordion-ul'>
	<li><a class='accordion-sec' href='./assets/html/housing.html' >Housing Applications, and Links </a></li>
	<li><a class='accordion-link' href='https://gis.dola.colorado.gov/apps/HousingDashboard/' title='Application showing plots of Total Housing Units, Occupied Housing Units, and Vacant Housing Units from 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Housing Dashboard</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' title='Application providing Total Housing Units, Occupied Housing Units, and Vacant Housing Units for Colorado Counties and Municipalities from 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Household Characteristics Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections-regions' title='Application providing housing projections by occupancy type for Colorado & Regions from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>State and Regional Household Projections Lookup</a></li>
	<li><a class='accordion-link' href='https://demography.dola.colorado.gov/housing-and-households/data/household-projections' title='Application providing housing projections by occupancy type for Colorado Counties from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Household Projections Lookup</a></li>
	</ul>
	</main>
	</details>
