<details>
	<summary>Births, Deaths & Migration</summary>
	<main>
	 <ul class='accordion-ul'>
	 <li><a class='accordion-sec' href='./assets/html/coc.html' >Births, Deaths & Migration Spreadsheets, Applications and Links <i class='fas fa-file-excel' style='color:green;'></i></a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change-regions/' title='Application providing births, deaths, natural increase and net migration data for Colorado & Regions from 1970 to 2025. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Statewide and Region Births, Deaths and Migration Lookup</a></li>
	 <li><a class='accordion-link' href='https://demography.dola.colorado.gov/births-deaths-migration/data/components-change/#components-of-change' title='Application providing births, deaths, natural increase and net migration data for Colorado Counties from 1970 to 2025. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>County Births, Deaths and Migration Lookup</a></li>
	 </ul>
	</main>
	</details>
