<details>
	<summary>Municipality & Place Data</summary>
	<main>
	<ul class='accordion-ul'>
		<li><a class='accordion-link' href='https://www.census.gov/content/dam/Census/data/developers/understandingplace.pdf' target=_blank>Understanding Census Definitions for Municipalities and Places</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CO_Muni/' ttitle='Interactive map showing Colorado Municipal Boundaries'>Municipal Boundary Map  <i class='fas fa-globe'></i></a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/CO_SpecialDistrict/' title='Interactive map showing Colorado Special District Boundaries'>Special District Map <i class='fas fa-globe'></i></a></li> 
        <li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=1iiBcdkXzXAM6w1IRkt54y_vLdbCgTBY8' title='Municipalities within County Estimates, 2010 to Current Year: Population estimates Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Municipalities within County Estimates, 2010 to Current Year <i class="fas fa-file-excel" style="color: green;"></i></a></li>
        <li><a class='accordion-link' href='https://drive.google.com/uc?export=download&id=1tlAb_wz3i3fjXS75IDY0hUcpX7-fUtGH' title='Municipalities Ranked by Population, Current Year: Population estimates Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Municipalities Ranked by Population, Current Year <i class="fas fa-file-excel" style="color: green;"></i></a></li>
 		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/colorado-demographic-profiles/' title='Application providing an overview of population, job, and commuting characteristics of Colorado Counties & Municipalities. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Colorado Demographic Profiles</a></li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/population/data/muni-pop-housing' title='Application providing population and housing data for Colorado Counties & Municipalities, 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'>Population and Housing Time Series Lookup</a</li>
		<li><a class='accordion-link' href='https://demography.dola.colorado.gov/demography/cedis/#colorado-economic-demographic-information-system' title='Links to Department of Local Affairs programs.'>Local Government Data Links</a></li>
	</ul>
	</main>
	</details>
