	<option value="20" selected>Denver PMSA</option>
	<option value="21">Denver-Boulder Metro Area</option>
	<option value="22">Denver-Boulder-Greeley CMSA</option>
	<option value="23">10 County Denver Metro</option>
	<option value="15">Central Mountains</option>
	<option value="16">Eastern Plains</option>
	<option value="17">Front Range</option>
	<option value="18">San Luis Valley</option>
	<option value="19">Western Slope</option>
	<option value="1">Planning Region 1</option>
	<option value="2">Planning Region 2</option>
	<option value="3">Planning Region 3</option>
	<option value="4">Planning Region 4</option>
	<option value="5">Planning Region 5</option>
	<option value="6">Planning Region 6</option>
	<option value="7">Planning Region 7</option>
	<option value="8">Planning Region 8</option>
	<option value="9">Planning Region 9</option>
	<option value="10">Planning Region 10</option>
	<option value="11">Planning Region 11</option>
	<option value="12">Planning Region 12</option>
	<option value="13">Planning Region 13</option>
	<option value="14">Planning Region 14</option>
	<option value="0">Colorado</option>  