<style>

.databutton {
  font-size: 90%;
  color: #efefef;
    text-decoration: none;
    
  top: 0px;
  /*margin-top: -20px;*/
  width: 245px;
  height: 40px;
  right: 0px;
  left:20px;
    display: table-cell;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(92,102,112);
    vertical-align: middle;
    line-height: 26px;

  text-align: center;
  border: .25px solid white;
  opacity: .9;

}
  /*efefef*/
.databutton:hover{
  background-color: grey;
  text-decoration: none;
}

  
</style>


<a href="https://gis.dola.colorado.gov/apps/demographic_dashboard/" class= "databutton" style="color: white;">Demographic Dashboard</a>
/*<a href="/temporarily_unavailable/" class= "databutton" style="color: white;">Demographic Dashboard</a>*/
<a href="/data/" class= "databutton" style="color: white;">Download Data</a> 
<a href="/gis/map-gallery/" class= "databutton" style="color: white;">Interactive Data</a> 
<a href="/information/#about-the-state-demography-office" class= "databutton" style="color: white;">Learn More</a> 
