<style>

.databutton {
  font-size: 90%;
  color: white;
    text-decoration: none;
    
  top: 0px;
  /*margin-top: -20px;*/
  width: 225px;
  height: 40px;
  right: 30px;
    display: table-cell;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(92,102,112);
    vertical-align: middle;
    line-height: 26px;
  /*margin-right: 2px;*/
  text-align: center;
  border: .25px solid #efefef;
  border-radius: 5px;
}
  
.databutton:hover{
  background-color: grey;
  text-decoration: none;
}

  
</style>


<a href="https://gis.dola.colorado.gov/demographic_dashboard/" class= "databutton" style="color: white;">Demographic Dashboard</a> 
<a href="https://demography.dola.colorado.gov/data/" class= "databutton" style="color: white;">Download Data</a> 
<a href="https://demography.dola.colorado.gov/gis/map-gallery/" class= "databutton" style="color: white;">Webmap Gallery</a> 
<a href="https://demography.dola.colorado.gov/demography/infographics/#infographics" class= "databutton" style="color: white;">Infographics</a> 