
  Select a County:<br />
  <select id="rcs2014Tbl2" size="1">
    <option value="">Select a County</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/multicountyplaces.pdf">Multi County Places</option>    
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/adams.pdf">Adams</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/alamosa.pdf">Alamosa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/arapahoe.pdf">Arapahoe</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/archuleta.pdf">Archuleta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/baca.pdf">Baca</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/bent.pdf">Bent</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/boulder.pdf">Boulder</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/broomfield.pdf">Broomfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/chafee.pdf">Chaffee</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/cheyenne.pdf">Cheyenne</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/clearcreek.pdf">Clear Creek</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/conejos.pdf">Conejos</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/costilla.pdf">Costilla</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/crowley.pdf">Crowley</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/custer.pdf">Custer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/delta.pdf">Delta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/denver.pdf">Denver</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/dolores.pdf">Dolores</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/douglas.pdf">Douglas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/eagle.pdf">Eagle</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/elbert.pdf">Elbert</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/elpaso.pdf">El Paso</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/fremont.pdf">Fremont</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/garfield.pdf">Garfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/gilpin.pdf">Gilpin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/grand.pdf">Grand</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/gunnison.pdf">Gunnison</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/hinsdale.pdf">Hinsdale</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/huerfano.pdf">Huerfano</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/jackson.pdf">Jackson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/jefferson.pdf">Jefferson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/kiowa.pdf">Kiowa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/kitcarson.pdf">Kit Carson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/lake.pdf">Lake</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/laplata.pdf">La Plata</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/larimer.pdf">Larimer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/lasanimas.pdf">Las Animas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/lincoln.pdf">Lincoln</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/logan.pdf">Logan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/mesa.pdf">Mesa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/mineral.pdf">Mineral</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/moffat.pdf">Moffat</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/montezuma.pdf">Montezuma</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/montrose.pdf">Montrose</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/morgan.pdf">Morgan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/otero.pdf">Otero</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/ouray.pdf">Ouray</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/park.pdf">Park</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/phillips.pdf">Phillips</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/pitkin.pdf">Pitkin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/prowers.pdf">Prowers</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/pueblo.pdf">Pueblo</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/rioblanco.pdf">Rio Blanco</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/riogrande.pdf">Rio Grande</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/routt.pdf">Routt</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/saguache.pdf">Saguache</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/sanjuan.pdf">San Juan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/sanmiguel.pdf">San Miguel</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/sedgwick.pdf">Sedgwick</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/summit.pdf">Summit</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/teller.pdf">Teller</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/washington.pdf">Washington</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/weld.pdf">Weld</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/table2/yuma.pdf">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('rcs2014Tbl2').value);"/>
