
  Select a County:<br />
  <select id="rcs2014tblA" size="1">
    <option value="">Select a County</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/adams.pdf">Adams</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/alamosa.pdf">Alamosa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/arapahoe.pdf">Arapahoe</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/archuleta.pdf">Archuleta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/baca.pdf">Baca</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/bent.pdf">Bent</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/boulder.pdf">Boulder</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/broomfield.pdf">Broomfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/chafee.pdf">Chaffee</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/cheyenne.pdf">Cheyenne</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/clearcreek.pdf">Clear Creek</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/conejos.pdf">Conejos</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/costilla.pdf">Costilla</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/crowley.pdf">Crowley</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/custer.pdf">Custer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/delta.pdf">Delta</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/denver.pdf">Denver</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/dolores.pdf">Dolores</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/douglas.pdf">Douglas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/eagle.pdf">Eagle</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/elbert.pdf">Elbert</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/elpaso.pdf">El Paso</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/fremont.pdf">Fremont</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/garfield.pdf">Garfield</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/gilpin.pdf">Gilpin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/grand.pdf">Grand</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/gunnison.pdf">Gunnison</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/hinsdale.pdf">Hinsdale</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/huerfano.pdf">Huerfano</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/jackson.pdf">Jackson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/jefferson.pdf">Jefferson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/kiowa.pdf">Kiowa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/kitcarson.pdf">Kit Carson</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/lake.pdf">Lake</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/laplata.pdf">La Plata</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/larimer.pdf">Larimer</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/lasanimas.pdf">Las Animas</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/lincoln.pdf">Lincoln</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/logan.pdf">Logan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/mesa.pdf">Mesa</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/mineral.pdf">Mineral</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/moffat.pdf">Moffat</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/montezuma.pdf">Montezuma</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/montrose.pdf">Montrose</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/morgan.pdf">Morgan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/otero.pdf">Otero</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/ouray.pdf">Ouray</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/park.pdf">Park</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/phillips.pdf">Phillips</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/pitkin.pdf">Pitkin</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/prowers.pdf">Prowers</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/pueblo.pdf">Pueblo</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/rioblanco.pdf">Rio Blanco</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/riogrande.pdf">Rio Grande</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/routt.pdf">Routt</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/saguache.pdf">Saguache</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/sanjuan.pdf">San Juan</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/sanmiguel.pdf">San Miguel</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/sedgwick.pdf">Sedgwick</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/summit.pdf">Summit</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/teller.pdf">Teller</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/washington.pdf">Washington</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/weld.pdf">Weld</option>
    <option value="https://dola.colorado.gov/demog-cms/sites/dola.colorado.gov.demog-cms/files/demog-docs/rcs/tablea/yuma.pdf">Yuma</option>
  </select>
  <input type="submit" value="View" onclick="window.open(document.getElementById('rcs2014tblA').value);"/>
