<div class="alert__bar--covid-19" style="background-color:#ffd100;text-align:center;text-color:black;font-size:12px">
    <h2>
      <a href="https://covid19.colorado.gov/">
      Coronavirus Disease 2019 (COVID-19) in Colorado: State & National Resources
      </a>
    </h2>
  </div>        
<div id="top-bar-wrapper" style="overflow:hidden;">
            <div id="top-bar-left">

              <a href="https://www.colorado.gov" rel="home" title="Colorado The Official Web Portal">
                <img id="logo" alt="The Official Colorado Web Portal Logo" src="/assets/img/co_state_web_portal.png" alt="Colorado The Official Web Portal" style="width:156px;height:32px;/>
              </a>

            </div>

            <div id="top-bar-right">
             <!--{% include _gtranslate.html %}-->
            </div>


        </div>
