<div class="alert__bar--covid-19" style="text-color:black;font-size:12px;">
    <h2 style="background-color:#8fc6e8;text-align:center;">
      Visit <a href="https://covid19.colorado.gov/for-coloradans/vaccine/where-can-i-get-vaccinated">"Where can I get vaccinated"</a> or call 1-877-COVAXCO (1-877-268-2926) for vaccine information.
    </h2>
  </div>        
<div id="top-bar-wrapper" style="overflow:hidden;">
            <div id="top-bar-left">

              <a href="https://www.colorado.gov" rel="home" title="Colorado The Official Web Portal">
                <img id="logo" src="/assets/img/co_state_web_portal.png" alt="Colorado The Official Web Portal" style="width:156px;height:32px">
              </a>

            </div>

            <div id="top-bar-right">
             <!--{% include _gtranslate.html %}-->
            </div>


        </div>
