---
layout: mainpage
title: "Housing"
permalink: "/housing/"
---

<div class="grid-container2">

  <div class="grid-item panel2_2_1" id="leftHand">
	{% include _left_hand_housing.html %}
  </div> <!-- Grid  panel2_2_1 -->
  <div class="grid-item panel2_2_2">
      <a href="https://gis.dola.colorado.gov/apps/HousingDashboard/" title='Application showing plots of Total Housing Units, Occupied Housing Units, and Vacant Housing Units from 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Housing dashboard" src="../../map_gallery/img/housingdash.png" ></a>
	  <a href="https://gis.dola.colorado.gov/apps/HousingDashboard/" title='Application showing plots of Total Housing Units, Occupied Housing Units, and Vacant Housing Units from 2010 to the current year. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Housing Dashboard</p></a>	
  </div>
  <div class="grid-item panel2_2_3">
      <a href="./hhbyage.html" title='Application providing charts showing household projections by age and household type from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Household Projections: Age and Household Type" src="../../map_gallery/img/hhage.png"></a>
	  <a href="./hhbyage.html" title='Application providing charts showing household projections by age and household type from 2010 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Household Projections: Age and Household Type</p></a>
  </div>
  <div class="grid-item panel2_2_4">
  <p></p>
  </div>
  <div class="grid-item panel2_2_5">
	<p></p>
  </div>
  <div class="grid-item panel2_2_6">
  <p></p> 
  </div>
  <div class="grid-item panel2_2_7">
   <p></p>
  </div>
  <div class="grid-item panel2_3_2">
  <p></p>
  </div>
  <div class="grid-item panel2_3_3">
  <p></p>
  </div>
 <div class="grid-item panel2_3_4">
   <p></p>
 </div>
 <div class="grid-item panel2_3_5">
   <p></p>
  </div>
  <div class="grid-item panel2_3_6">
  <p></p> 
 </div>
  <div class="grid-item panel2_3_7">
  <p></p>
 </div>
 <div class="grid-item panel2_4_2">
		{% include _bodycontent1.html %}
</div>
	<div class="grid-item panel2_4_4">
		{% include _bodycontent2.html %}
</div>
<div class="grid-item panel2_4_6">
	{% include _bodycontent3.html %}
</div>
</div>  <!-- End of Grid -->
