---
layout: page
title: "Area Profile"
fips: 108125
permalink: "/test.html"
---
	{% include _agepyramid.html %}
	{% include _agebar.html %}

<table style="margin: auto; border-spacing: 5px;">
<tbody>
<tr>
<td class="columnLeft"><span style="font-weight: bold; color: red;">*</span></td>
<td class="columnLeft"><label for="main_form:countiesSelected" style="font-weight: bold;">Select 0 or more counties:</label></td>
<td class="columnLeft"><select id="main_form:countiesSelected" name="main_form:countiesSelected" multiple="multiple" size="5">	<option value="C0">Colorado</option>
	<option value="C1">Adams</option>
	<option value="C3">Alamosa</option>
	<option value="C5">Arapahoe</option>
	<option value="C7">Archuleta</option>
	<option value="C9">Baca</option>
	<option value="C11">Bent</option>
	<option value="C13">Boulder</option>
	<option value="C14">Broomfield</option>
	<option value="C15">Chaffee</option>
	<option value="C17">Cheyenne</option>
	<option value="C19">Clear Creek</option>
	<option value="C0">Colorado</option>
	<option value="C21">Conejos</option>
	<option value="C23">Costilla</option>
	<option value="C25">Crowley</option>
	<option value="C27">Custer</option>
	<option value="C29">Delta</option>
	<option value="C31">Denver</option>
	<option value="C33">Dolores</option>
	<option value="C35">Douglas</option>
	<option value="C37">Eagle</option>
	<option value="C41">El Paso</option>
	<option value="C39">Elbert</option>
	<option value="C43">Fremont</option>
	<option value="C45">Garfield</option>
	<option value="C47">Gilpin</option>
	<option value="C49">Grand</option>
	<option value="C51">Gunnison</option>
	<option value="C53">Hinsdale</option>
	<option value="C55">Huerfano</option>
	<option value="C57">Jackson</option>
	<option value="C59">Jefferson</option>
	<option value="C61">Kiowa</option>
	<option value="C63">Kit Carson</option>
	<option value="C67">La Plata</option>
	<option value="C65">Lake</option>
	<option value="C69">Larimer</option>
	<option value="C71">Las Animas</option>
	<option value="C73">Lincoln</option>
	<option value="C75">Logan</option>
	<option value="C77">Mesa</option>
	<option value="C79">Mineral</option>
	<option value="C81">Moffat</option>
	<option value="C83">Montezuma</option>
	<option value="C85">Montrose</option>
	<option value="C87">Morgan</option>
	<option value="C89">Otero</option>
	<option value="C91">Ouray</option>
	<option value="C93">Park</option>
	<option value="C95">Phillips</option>
	<option value="C97">Pitkin</option>
	<option value="C99">Prowers</option>
	<option value="C101">Pueblo</option>
	<option value="C103">Rio Blanco</option>
	<option value="C105">Rio Grande</option>
	<option value="C107">Routt</option>
	<option value="C109">Saguache</option>
	<option value="C111">San Juan</option>
	<option value="C113">San Miguel</option>
	<option value="C115">Sedgwick</option>
	<option value="C117">Summit</option>
	<option value="C119">Teller</option>
	<option value="C121">Washington</option>
	<option value="C123">Weld</option>
	<option value="C125">Yuma</option>
</select></td>
<td class="columnLeft"></td>
</tr>
<tr>
<td class="columnLeft"><span style="font-weight: bold; color: red;">*</span></td>
<td class="columnLeft"><label for="main_form:municipalitiesSelected" style="font-weight: bold;">Select 0 or more municipalities:</label></td>
<td class="columnLeft"><select id="main_form:municipalitiesSelected" name="main_form:municipalitiesSelected" multiple="multiple" size="5">	<option value="M199990">Adams Unincorp. Area</option>
	<option value="M5">Aguilar</option>
	<option value="M10">Akron</option>
	<option value="M15">Alamosa</option>
	<option value="M399990">Alamosa Unincorp. Area</option>
	<option value="M20">Alma</option>
	<option value="M25">Antonito</option>
	<option value="M599990">Arapahoe Unincorp. Area</option>
	<option value="M799990">Archuleta Unincorp. Area</option>
	<option value="M30">Arriba</option>
	<option value="M40">Arvada</option>
	<option value="M45">Aspen</option>
	<option value="M50">Ault</option>
	<option value="M55">Aurora</option>
	<option value="M57">Avon</option>
	<option value="M999990">Baca Unincorp. Area</option>
	<option value="M60">Basalt</option>
	<option value="M65">Bayfield</option>
	<option value="M75">Bennett</option>
	<option value="M1199990">Bent Unincorp. Area</option>
	<option value="M80">Berthoud</option>
	<option value="M85">Bethune</option>
	<option value="M90">Black Hawk</option>
	<option value="M95">Blanca</option>
	<option value="M97">Blue River</option>
	<option value="M100">Bonanza City</option>
	<option value="M105">Boone</option>
	<option value="M110">Boulder</option>
	<option value="M1399990">Boulder Unincorp. Area</option>
	<option value="M115">Bow Mar</option>
	<option value="M120">Branson</option>
	<option value="M125">Breckenridge</option>
	<option value="M130">Brighton</option>
	<option value="M140">Brookside</option>
	<option value="M143">Broomfield</option>
	<option value="M150">Brush</option>
	<option value="M155">Buena Vista</option>
	<option value="M160">Burlington</option>
	<option value="M165">Calhan</option>
	<option value="M170">Campo</option>
	<option value="M175">Canon City</option>
	<option value="M180">Carbondale</option>
	<option value="M185">Castle Rock</option>
	<option value="M190">Cedaredge</option>
	<option value="M193">Centennial</option>
	<option value="M195">Center</option>
	<option value="M200">Central City</option>
	<option value="M1599990">Chaffee Unincorp. Area</option>
	<option value="M205">Cheraw</option>
	<option value="M210">Cherry Hills Village</option>
	<option value="M1799990">Cheyenne Unincorp. Area</option>
	<option value="M215">Cheyenne Wells</option>
	<option value="M184">City of Castle Pines</option>
	<option value="M1999990">Clear Creek Unincorp. Area</option>
	<option value="M225">Coal Creek</option>
	<option value="M230">Cokedale</option>
	<option value="M235">Collbran</option>
	<option value="M240">Colorado Springs</option>
	<option value="M244">Columbine Valley</option>
	<option value="M245">Commerce City</option>
	<option value="M2199990">Conejos Unincorp. Area</option>
	<option value="M250">Cortez</option>
	<option value="M2399990">Costilla Unincorp. Area</option>
	<option value="M255">Craig</option>
	<option value="M260">Crawford</option>
	<option value="M265">Creede</option>
	<option value="M270">Crested Butte</option>
	<option value="M275">Crestone</option>
	<option value="M280">Cripple Creek</option>
	<option value="M285">Crook</option>
	<option value="M290">Crowley</option>
	<option value="M2599990">Crowley Unincorp. Area</option>
	<option value="M2799990">Custer Unincorp. Area</option>
	<option value="M295">Dacono</option>
	<option value="M300">De Beque</option>
	<option value="M305">Deer Trail</option>
	<option value="M310">Del Norte</option>
	<option value="M315">Delta</option>
	<option value="M2999990">Delta Unincorp. Area</option>
	<option value="M320">Denver</option>
	<option value="M330">Dillon</option>
	<option value="M332">Dinosaur</option>
	<option value="M335">Dolores</option>
	<option value="M3399990">Dolores Unincorp. Area</option>
	<option value="M3599990">Douglas Unincorp. Area</option>
	<option value="M340">Dove Creek</option>
	<option value="M350">Durango</option>
	<option value="M355">Eads</option>
	<option value="M360">Eagle</option>
	<option value="M3799990">Eagle Unincorp. Area</option>
	<option value="M370">Eaton</option>
	<option value="M375">Eckley</option>
	<option value="M380">Edgewater</option>
	<option value="M4199990">El Paso Unincorp. Area</option>
	<option value="M3999990">Elbert Unincorp. Area</option>
	<option value="M385">Elizabeth</option>
	<option value="M390">Empire</option>
	<option value="M395">Englewood</option>
	<option value="M400">Erie</option>
	<option value="M405">Estes Park</option>
	<option value="M415">Evans</option>
	<option value="M425">Fairplay</option>
	<option value="M430">Federal Heights</option>
	<option value="M435">Firestone</option>
	<option value="M440">Flagler</option>
	<option value="M445">Fleming</option>
	<option value="M450">Florence</option>
	<option value="M455">Fort Collins</option>
	<option value="M465">Fort Lupton</option>
	<option value="M470">Fort Morgan</option>
	<option value="M475">Fountain</option>
	<option value="M480">Fowler</option>
	<option value="M483">Foxfield</option>
	<option value="M485">Fraser</option>
	<option value="M490">Frederick</option>
	<option value="M4399990">Fremont Unincorp. Area</option>
	<option value="M500">Frisco</option>
	<option value="M505">Fruita</option>
	<option value="M510">Garden City</option>
	<option value="M4599990">Garfield Unincorp. Area</option>
	<option value="M515">Genoa</option>
	<option value="M520">Georgetown</option>
	<option value="M525">Gilcrest</option>
	<option value="M4799990">Gilpin Unincorp. Area</option>
	<option value="M530">Glendale</option>
	<option value="M535">Glenwood Springs</option>
	<option value="M540">Golden</option>
	<option value="M545">Granada</option>
	<option value="M550">Granby</option>
	<option value="M555">Grand Junction</option>
	<option value="M560">Grand Lake</option>
	<option value="M4999990">Grand Unincorp. Area</option>
	<option value="M570">Greeley</option>
	<option value="M575">Green Mtn. Falls</option>
	<option value="M580">Greenwood Village</option>
	<option value="M585">Grover</option>
	<option value="M590">Gunnison</option>
	<option value="M5199990">Gunnison Unincorp. Area</option>
	<option value="M595">Gypsum</option>
	<option value="M600">Hartman</option>
	<option value="M605">Haswell</option>
	<option value="M610">Haxtun</option>
	<option value="M615">Hayden</option>
	<option value="M620">Hillrose</option>
	<option value="M5399990">Hinsdale Unincorp. Area</option>
	<option value="M625">Holly</option>
	<option value="M630">Holyoke</option>
	<option value="M635">Hooper</option>
	<option value="M645">Hot Sulphur Springs</option>
	<option value="M640">Hotchkiss</option>
	<option value="M650">Hudson</option>
	<option value="M5599990">Huerfano Unincorp. Area</option>
	<option value="M655">Hugo</option>
	<option value="M660">Idaho Springs</option>
	<option value="M665">Ignacio</option>
	<option value="M670">Iliff</option>
	<option value="M5799990">Jackson Unincorp. Area</option>
	<option value="M685">Jamestown</option>
	<option value="M5999990">Jefferson Unincorp. Area</option>
	<option value="M690">Johnstown</option>
	<option value="M695">Julesburg</option>
	<option value="M700">Keenesburg</option>
	<option value="M710">Kersey</option>
	<option value="M713">Kim</option>
	<option value="M715">Kiowa</option>
	<option value="M6199990">Kiowa Unincorp. Area</option>
	<option value="M720">Kit Carson</option>
	<option value="M6399990">Kit Carson Unincorp. Area</option>
	<option value="M730">Kremmling</option>
	<option value="M740">La Jara</option>
	<option value="M745">La Junta</option>
	<option value="M6799990">La Plata Unincorp. Area</option>
	<option value="M775">La Salle</option>
	<option value="M785">La Veta</option>
	<option value="M735">Lafayette</option>
	<option value="M750">Lake City</option>
	<option value="M6599990">Lake Unincorp. Area</option>
	<option value="M755">Lakeside</option>
	<option value="M760">Lakewood</option>
	<option value="M765">Lamar</option>
	<option value="M6999990">Larimer Unincorp. Area</option>
	<option value="M770">Larkspur</option>
	<option value="M780">Las Animas</option>
	<option value="M7199990">Las Animas Unincorp. Area</option>
	<option value="M790">Leadville</option>
	<option value="M800">Limon</option>
	<option value="M7399990">Lincoln Unincorp. Area</option>
	<option value="M810">Littleton</option>
	<option value="M813">Lochbuie</option>
	<option value="M815">Log Lane Village</option>
	<option value="M7599990">Logan Unincorp. Area</option>
	<option value="M817">Lone Tree</option>
	<option value="M820">Longmont</option>
	<option value="M825">Louisville</option>
	<option value="M830">Loveland</option>
	<option value="M835">Lyons</option>
	<option value="M840">Manassa</option>
	<option value="M845">Mancos</option>
	<option value="M850">Manitou Springs</option>
	<option value="M855">Manzanola</option>
	<option value="M860">Marble</option>
	<option value="M865">Mead</option>
	<option value="M875">Meeker</option>
	<option value="M880">Merino</option>
	<option value="M7799990">Mesa Unincorp. Area</option>
	<option value="M885">Milliken</option>
	<option value="M7999990">Mineral Unincorp. Area</option>
	<option value="M890">Minturn</option>
	<option value="M895">Moffat</option>
	<option value="M8199990">Moffat Unincorp. Area</option>
	<option value="M900">Monte Vista</option>
	<option value="M905">Montezuma</option>
	<option value="M8399990">Montezuma Unincorp. Area</option>
	<option value="M910">Montrose</option>
	<option value="M8599990">Montrose Unincorp. Area</option>
	<option value="M915">Monument</option>
	<option value="M8799990">Morgan Unincorp. Area</option>
	<option value="M920">Morrison</option>
	<option value="M928">Mount Crested Butte</option>
	<option value="M925">Mountain View</option>
	<option value="M926">Mountain Village</option>
	<option value="M930">Naturita</option>
	<option value="M935">Nederland</option>
	<option value="M940">New Castle</option>
	<option value="M943">Northglenn</option>
	<option value="M950">Norwood</option>
	<option value="M955">Nucla</option>
	<option value="M960">Nunn</option>
	<option value="M965">Oak Creek</option>
	<option value="M970">Olathe</option>
	<option value="M975">Olney Springs</option>
	<option value="M980">Ophir</option>
	<option value="M985">Orchard City</option>
	<option value="M995">Ordway</option>
	<option value="M8999990">Otero Unincorp. Area</option>
	<option value="M1000">Otis</option>
	<option value="M1005">Ouray</option>
	<option value="M9199990">Ouray Unincorp. Area</option>
	<option value="M1010">Ovid</option>
	<option value="M1015">Pagosa Springs</option>
	<option value="M1020">Palisade</option>
	<option value="M1025">Palmer Lake</option>
	<option value="M1030">Paoli</option>
	<option value="M1035">Paonia</option>
	<option value="M1037">Parachute</option>
	<option value="M9399990">Park Unincorp. Area</option>
	<option value="M1039">Parker</option>
	<option value="M1040">Peetz</option>
	<option value="M9599990">Phillips Unincorp. Area</option>
	<option value="M1045">Pierce</option>
	<option value="M1050">Pitkin</option>
	<option value="M9799990">Pitkin Unincorp. Area</option>
	<option value="M1055">Platteville</option>
	<option value="M1065">Poncha Springs</option>
	<option value="M1075">Pritchett</option>
	<option value="M9999990">Prowers Unincorp. Area</option>
	<option value="M1085">Pueblo</option>
	<option value="M10199990">Pueblo Unincorp. Area</option>
	<option value="M1090">Ramah</option>
	<option value="M1095">Rangely</option>
	<option value="M1100">Raymer</option>
	<option value="M1110">Red Cliff</option>
	<option value="M1115">Rico</option>
	<option value="M1120">Ridgway</option>
	<option value="M1125">Rifle</option>
	<option value="M10399990">Rio Blanco Unincorp. Area</option>
	<option value="M10599990">Rio Grande Unincorp. Area</option>
	<option value="M1130">Rockvale</option>
	<option value="M1135">Rocky Ford</option>
	<option value="M1140">Romeo</option>
	<option value="M10799990">Routt Unincorp. Area</option>
	<option value="M1150">Rye</option>
	<option value="M1155">Saguache</option>
	<option value="M10999990">Saguache Unincorp. Area</option>
	<option value="M1160">Salida</option>
	<option value="M11199990">San Juan Unincorp. Area</option>
	<option value="M1169">San Luis</option>
	<option value="M11399990">San Miguel Unincorp. Area</option>
	<option value="M1165">Sanford</option>
	<option value="M1175">Sawpit</option>
	<option value="M1185">Sedgwick</option>
	<option value="M11599990">Sedgwick Unincorp. Area</option>
	<option value="M1190">Seibert</option>
	<option value="M1195">Severance</option>
	<option value="M1200">Sheridan</option>
	<option value="M1205">Sheridan Lake</option>
	<option value="M1210">Silt</option>
	<option value="M1215">Silver Cliff</option>
	<option value="M1220">Silver Plume</option>
	<option value="M1222">Silverthorne</option>
	<option value="M1225">Silverton</option>
	<option value="M1230">Simla</option>
	<option value="M1236">Snowmass Village</option>
	<option value="M1237">South Fork</option>
	<option value="M1240">Springfield</option>
	<option value="M1245">Starkville</option>
	<option value="M1250">Steamboat Springs</option>
	<option value="M1255">Sterling</option>
	<option value="M1260">Stratton</option>
	<option value="M1265">Sugar City</option>
	<option value="M11799990">Summit Unincorp. Area</option>
	<option value="M1270">Superior</option>
	<option value="M1275">Swink</option>
	<option value="M11999990">Teller Unincorp. Area</option>
	<option value="M1280">Telluride</option>
	<option value="M1285">Thornton</option>
	<option value="M1290">Timnath</option>
	<option value="M1295">Trinidad</option>
	<option value="M1300">Two Buttes</option>
	<option value="M1307">Vail</option>
	<option value="M1310">Victor</option>
	<option value="M1315">Vilas</option>
	<option value="M1320">Vona</option>
	<option value="M1325">Walden</option>
	<option value="M1330">Walsenburg</option>
	<option value="M1335">Walsh</option>
	<option value="M1340">Ward</option>
	<option value="M12199990">Washington Unincorp. Area</option>
	<option value="M1342">Watkins</option>
	<option value="M12399990">Weld Unincorp. Area</option>
	<option value="M1345">Wellington</option>
	<option value="M1350">Westcliffe</option>
	<option value="M1355">Westminster</option>
	<option value="M1360">Wheat Ridge</option>
	<option value="M1363">Wiggins</option>
	<option value="M1365">Wiley</option>
	<option value="M1370">Williamsburg</option>
	<option value="M1375">Windsor</option>
	<option value="M1377">Winter Park</option>
	<option value="M1380">Woodland Park</option>
	<option value="M1385">Wray</option>
	<option value="M1390">Yampa</option>
	<option value="M1395">Yuma</option>
	<option value="M12599990">Yuma Unincorp. Area</option>
</select></td>
<td class="columnLeft"></td>
</tr>
<tr>
<td class="columnLeft"><span style="font-weight: bold; color: red;">*</span></td>
<td class="columnLeft"><label for="main_form:yearsSelected" style="font-weight: bold;">Select 1 or more years:</label></td>
<td class="columnLeft"><select id="main_form:yearsSelected" name="main_form:yearsSelected" multiple="multiple" size="5">	<option value="2014">2014</option>
	<option value="2013">2013</option>
	<option value="2012">2012</option>
	<option value="2011">2011</option>
	<option value="2010">2010</option>
	<option value="2009">2009</option>
	<option value="2008">2008</option>
	<option value="2007">2007</option>
	<option value="2006">2006</option>
	<option value="2005">2005</option>
	<option value="2004">2004</option>
	<option value="2003">2003</option>
	<option value="2002">2002</option>
	<option value="2001">2001</option>
	<option value="2000">2000</option>
	<option value="1999">1999</option>
	<option value="1998">1998</option>
	<option value="1997">1997</option>
	<option value="1996">1996</option>
	<option value="1995">1995</option>
	<option value="1994">1994</option>
	<option value="1993">1993</option>
	<option value="1992">1992</option>
	<option value="1991">1991</option>
	<option value="1990">1990</option>
	<option value="1989">1989</option>
	<option value="1988">1988</option>
	<option value="1987">1987</option>
	<option value="1986">1986</option>
	<option value="1985">1985</option>
	<option value="1984">1984</option>
	<option value="1983">1983</option>
	<option value="1982">1982</option>
	<option value="1981">1981</option>
	<option value="1980">1980</option>
</select></td>
<td class="columnLeft"></td>
</tr>
</tbody>
</table>

  






<script>
  
  </script>