---
layout: default
---
<!--<style>
#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 27%;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    padding-left: 25px;
}
    </style>-->


       
  {% include _top-bar.html %}
  {% include _homepageHeader.html %}
  
      <div class="grid-container">
	<div class="grid-item panel_1_1">
		{% include _hometitle.html %}
  	</div>
	<div class="grid-item panel_2_1" id="leftHand">
		{% include _left_hand_index.html %}
  	</div>
          <div class="grid-item panel_2_2">
             <label for="county-dropdown">Select County:</label>
	 	<select class="county-dropdown" id="county-dropdown"></select>
           </div>
           <div class="grid-item panel_3_2">
		<div id="PopTab"></div>
	 	<div id="COCTab"></div>
	  	<div id="RaceTab"></div>
           </div>
           <div class="grid-item panel_3_3">
	 	<div id="HousTab"></div>
	 	<div id="TenureTab"></div>
   	   </div>
   	<div class="grid-item panel_3_4">
	 	<div id="ACSTab"></div>
   	</div>

            <div class="grid-item panel_4_2">
		    {% include _bodycontent1.html %}
            </div>
            <div class="grid-item panel_4_3">
                    {% include _bodycontent2.html %}
            </div>
            <div class="grid-item panel_4_4">
                    {% include _bodycontent3.html %}
            </div>
        </div> <!-- grid container -->
	{% include _footer.html %}


<script src="/assets/js/homepage.js" type="text/javascript"></script>






