---
layout: default
---
<style>
#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 27%;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    padding-left: 25px;
}
    </style>

<body>
  {% include _top-bar.html %}
  {% include _header.html %}
  <div class="grid-item panel_1_1">
			State Demography Office
			<br>The State Demography Office is the primary state agency for population and demographic information.
  </div>
   <div id="wrapper">
    <div id="first">
      {% include _left-menu.html %}
    </div>
    <div id="second">
      <div class="grid-container">


          <div class="grid-item panel_2_2">
             <label for="county-dropdown">Select County:</label>
             <select class="county-dropdown" id="county-dropdown"></select>
             <p class="tbl-margin"></p>
             <div id="PopTab"></div>
             <div id="RaceTab"></div>
           </div>
           <div class="grid-item panel_2_3">
             <p class="tbl-margin"></p>
             <div id="COCTab"></div>
             <div id="HousTab"></div>
           </div>
           <div class="grid-item panel_2_4">
             <p class="tbl-margin"></p>
             <div id="ACSTab"></div>
           </div>

            <div class="grid-item panel_4_2">
                    {% include _bodycontent1.html %}
             </div>
            <div class="grid-item panel_4_3">
                    {% include _bodycontent2.html %}
            </div>
            <div class="grid-item panel_4_4">
                    {% include _bodycontent3.html %}
            </div>
        </div> <!-- grid container -->
      </div> <!--second-->
    </div>  <!--wrapper-->

      

      </div>
  </div>
  {% include _footer.html %}
<script>
//Setting HTML include and Accordion
includeHTML(); 
//Function checks if selected div is loaded and runs Accordion

window.onload = runAccordion;
setInterval(function(){ runAccordion(); }, 50);

/* Populate County Dropdown */

//Counties
var counties = [{'county': 'Colorado', 'fips': '000'},{'county':'Adams County', 'fips': '001'},
                {'county':'Alamosa County', 'fips': '003'},{'county':'Arapahoe County', 'fips': '005'},
				{'county':'Archuleta County', 'fips': '007'},{'county':'Baca County', 'fips': '009'},
				{'county':'Bent County', 'fips': '011'},{'county':'Boulder County', 'fips': '013'},
				{'county':'Broomfield County', 'fips': '014'},{'county':'Chaffee County', 'fips': '015'},
				{'county':'Cheyenne County', 'fips': '017'},{'county':'Clear Creek County', 'fips': '019'},
				{'county':'Conejos County', 'fips': '021'},{'county':'Costilla County', 'fips': '023'},
				{'county':'Crowley County', 'fips': '025'},{'county':'Custer County', 'fips': '027'},
				{'county':'Delta County', 'fips': '029'},{'county':'Denver County', 'fips': '031'},
				{'county':'Dolores County', 'fips': '033'},{'county':'Douglas County', 'fips': '035'},
				{'county':'Eagle County', 'fips': '037'},{'county':'Elbert County', 'fips': '039'},
				{'county':'El Paso County', 'fips': '041'},{'county':'Fremont County', 'fips': '043'},
				{'county':'Garfield County', 'fips': '045'},{'county':'Gilpin County', 'fips': '047'},
				{'county':'Grand County', 'fips': '049'},{'county':'Gunnison County', 'fips': '051'},
				{'county':'Hinsdale County', 'fips': '053'},{'county':'Huerfano County', 'fips': '055'},
				{'county':'Jackson County', 'fips': '057'},{'county':'Jefferson County', 'fips': '059'},
				{'county':'Kiowa County', 'fips': '061'},{'county':'Kit Carson County', 'fips': '063'},
				{'county':'Lake County', 'fips': '065'},{'county':'La Plata County', 'fips': '067'},
				{'county':'Larimer County', 'fips': '069'},{'county':'Las Animas County', 'fips': '071'},
				{'county':'Lincoln County', 'fips': '073'},{'county':'Logan County', 'fips': '075'},
				{'county':'Mesa County', 'fips': '077'},{'county':'Mineral County', 'fips': '079'},
				{'county':'Moffat County', 'fips': '081'},{'county':'Montezuma County', 'fips': '083'},
				{'county':'Montrose County', 'fips': '085'},{'county':'Morgan County', 'fips': '087'},
				{'county':'Otero County', 'fips': '089'},{'county':'Ouray County', 'fips': '091'},
				{'county':'Park County', 'fips': '093'},{'county':'Phillips County', 'fips': '095'},
				{'county':'Pitkin County', 'fips': '097'},{'county':'Prowers County', 'fips': '099'},
				{'county':'Pueblo County', 'fips': '101'},{'county':'Rio Blanco County', 'fips': '103'},
				{'county':'Rio Grande County', 'fips': '105'},{'county':'Routt County', 'fips': '107'},
				{'county':'Saguache County', 'fips': '109'},{'county':'San Juan County', 'fips': '111'},
				{'county':'San Miguel County', 'fips': '113'},{'county':'Sedgwick County', 'fips': '115'},
				{'county':'Summit County', 'fips': '117'},{'county':'Teller County', 'fips': '119'},
				{'county':'Washington County', 'fips': '121'},{'county':'Weld County', 'fips': '123'},
				{'county':'Yuma County', 'fips': '125'}];

d3.select("#county-dropdown")
    .selectAll('option')
    .data(counties)
    .enter()
    .append('option')
    .attr('value', d => d.fips) 
    .text(d => d.county);
	
	
//generating maximum year value for estimates
var urlstr = "https://gis.dola.colorado.gov/lookups/componentYRS";
d3.json(urlstr).then(function(yeardata){
    var maxest = yeardata.filter(function(d){return d.datatype == 'Estimate'});
	var yrsList = maxest.map(function(d){return d.year;});
    var yrvalue = d3.max(yrsList);
	
//Generate Initial Tables
genSYA("000",yrvalue);
genCOC("000",yrvalue);
genACS("000",yrvalue);
genRaceEth("000",yrvalue);
genHousing("000",yrvalue);


d3.select("#county-dropdown").on("change", function(d,i) {
        var selectedfips = d3.select("#county-dropdown").property('value');
		var selectedcounty = d3.select('#county-dropdown option:checked').text();

        genSYA(selectedfips,yrvalue);
		genCOC(selectedfips,yrvalue);
		genACS(selectedfips,yrvalue);
		genRaceEth(selectedfips,yrvalue);
		genHousing(selectedfips,yrvalue);
    });
}); //end of maximum year value

</script>
</body>

