
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    

    <link type="text/css" rel="stylesheet" href="/dola_assets/layout.css" />
    <link type="text/css" rel="stylesheet" href="/dola_assets/common.css" />
    <link type="text/css" rel="stylesheet" href="/dola_assets/application.css" />
    <link type="text/css" rel="stylesheet" href="/dola_assets/meanmenu.css" />

    
        <meta name="author" content="State of Colorado" />
        <meta name="description" content="Colorado Department of Local Affairs" />
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width" />
    
            <!--[if lt IE 9]>
            <script>
            document.createElement('header');
            document.createElement('nav');
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
            document.createElement('hgroup');
            document.createElement('@media');
            </script>
            <![endif]-->
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/dola_assets/jquery.meanmenu.js"></script>

    
            <script type="text/javascript">

            jQuery(document).ready(function () {
                jQuery('header nav').meanmenu();
              
            });
        </script> 
    
    
        <title>Population by Age and Gender</title>
  
  </head>
  
  
  <body>
    
                 {% include _top-bar.html %}

        <div id="page-wrapper">
            <div id="page-wrapper-inner">
              
                  {% include _header.html %}
              
                  {% include _breadcrumb.html %}
              
                <section id="content" role="main">
                    <div id="main-content">
                      
                                            
                    {{ content }}
                      
                      
                    </div>
                </section>
            </div>
        </div>

                  {% include _footer.html %}
    
</body>
</html>