---
layout: default
---

<style>
#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 73%;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    padding-left: 25px;
}
    </style>
<body>
  {% include _top-bar.html %}
  <div id="page-wrapper">
    <div id="page-wrapper-inner">
      {% include _header.html %}
      {% include _breadcrumb.html %}
      
    <article id="page-wrapper-inner">
              <h1>Crosstabs - A Closer Look at the Economics & Demographics of Colorado </h1>

  <div id="wrapper">
    <div id="first">
  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section>
    {{ content }}
  </section>
    
    <footer>
      {% include _blogshare.html %}
      
        {% if page.previous %}
        <a href="{{ page.previous.url }}">&larr; Previous post - {{ page.previous.title }}</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}">Next post - {{ page.next.title }}&rarr;</a> {% endif %}
    </footer>
    </div>
    <div id="second">
      {% include _blogsidebar.html %}
    </div>
</div>
</div>
</div>
  {% include _footer.html %}
  {% include _footer_scripts.html %}
</article>
