---
layout: page
title: "Population"
permalink: "/population/"
---


<div class="grid-container2">
  <!--<div class="grid-item panel2_1_1">
	{% include _sdotitle.html %}
  </div>-->
  <div class="grid-item panel2_2_1" id="leftHand">
	  {% include _left_hand_pop.html %}
  </div> <!-- Grid  panel2_2_1 -->
  <div class="grid-item panel2_2_2">
      <a href="https://demography.dola.colorado.gov/AgeMap/" title='Interactive map showing population change by age group by Colorado Counties, 1990 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Age Map" src="../assets/img/AgeMap.PNG" ></a>
	  <a href="https://demography.dola.colorado.gov/AgeMap/" title='Interactive map showing population change by age group by Colorado Counties, 1990 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Population Change By Age: 1990-2050</p></a>	
  </div>
  <div class="grid-item panel2_2_3">
      <a href="https://demography.dola.colorado.gov/ComponentsOfChange/" title='Interactive map showing births, deaths and net migration for Colorado Counties, 1970 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Components of Change Map" src="../assets/img/components.png"></a>
	  <a href="https://demography.dola.colorado.gov/ComponentsOfChange/" title='Interactive map showing births, deaths and net migration for Colorado Counties, 1970 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Population Change: Births, Deaths, and Migration</p></a>
  </div>
  <div class="grid-item panel2_2_4">
    <a href="racebyage.html" title='Application showing Race/Ethnicity by Age for Colorado Counties, 2010 to 2019. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Race Ethnicity by Age Visualization" src="../assets/img/race_age.png" ></a>
    <a href="racebyage.html" title='Application showing Race/Ethnicity by Age for Colorado Counties, 2010 to 2019. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Race/Ethnicity by Age</p></a>
  </div>
  <div class="grid-item panel2_2_5">	
      <a href="https://demography.dola.colorado.gov/Age-Animation-Bars" title='Application showing population change by age group by Colorado Counties, 1990 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Age Animation" src="../assets/img/agebars.png" ></a>
	  <a href="https://demography.dola.colorado.gov/Age-Animation-Bars" title='Application showing population change by age group by Colorado Counties, 1990 to 2050. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Age Animation</p></a>
 </div>
  <div class="grid-item panel2_2_6">
     <a href="https://demography.dola.colorado.gov/density_2010/" title='Interactive map showing Population and Housing Density at the Census Block Level, 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Density" src="../assets/img/density.png" ></a>
	 <a href="https://demography.dola.colorado.gov/density_2010/" title='Interactive map showing Population and Housing Density at the Census Block Level, 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Population and Housing Density 2010</p></a>
  </div>
  <div class="grid-item panel2_2_7">
   <p></p>
  </div>
  <div class="grid-item panel2_3_2">
    <a href="https://arcg.is/1KXX05" title='Interactive map showing Colorado County population, 1870 to 2019. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Historical County Populations" src="../assets/img/1870.png" ></a>
	<a href="https://arcg.is/1KXX05" title='Interactive map showing Colorado County population, 1870 to 2019. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Historical County Populations</p></a>
  </div>
  <div class="grid-item panel2_3_3">
    <a href="https://demography.dola.colorado.gov/Population-Bubbles" title='Application showing Historic Colorado County Population by Decade, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Population Animation" src="../assets/img/popvis.png" ></a>
	<a href="https://demography.dola.colorado.gov/Population-Bubbles" title='Application showing Historic Colorado County Population by Decade, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Colorado County Population</p></a>
  </div>
 <div class="grid-item panel2_3_4">
    <a href="https://demography.dola.colorado.gov/Animated-Pie/" title='Application showing the ppoulation proportion of Colorado countes by decade, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Animated Population Chart" src="../assets/img/pop_pie.png" ></a>
	<a href="https://demography.dola.colorado.gov/Animated-Pie/" title='Application showing the ppoulation proportion of Colorado countes by decade, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Animated Population Chart</p></a>
 </div>
 <div class="grid-item panel2_3_5">
    <a href="https://public.flourish.studio/visualisation/3775693/" title='Application showing the Historical Birthplace of Colorado Residents, 1860 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Birthplace Chart" src="../assets/img/Birthplace.png" ></a>
    <a href="https://public.flourish.studio/visualisation/3775693/" title='Application showing the Historical Birthplace of Colorado Residents, 1860 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Historical Birthplace of Colorado Residents</p></a>
  </div>
  <div class="grid-item panel2_3_6">
   <a href="https://public.flourish.studio/visualisation/3832584/" title='Application showing the Historical Residence of persons born in Colorado, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><img class="map-thumbnail" alt="Thumbnail of Residence Chart" src="../assets/img/Residence.png" ></a>
   <a href="https://public.flourish.studio/visualisation/3832584/" title="Historical Residence of Colorado Born"title='Application showing the Historical Residence of persons born in Colorado, 1870 to 2010. Questions? Click on the "Contact Us" link below to contact a SDO Demographer.'><p style="font-size:9pt;text-align:center;">Historical Residence of Colorado Born</p></a>
   </div>
  <div class="grid-item panel2_3_7">
   <a href="https://demography.dola.colorado.gov/Bracketology/" title="Application testing knowledge of Colorado County population size in the current year."><img class="map-thumbnail" alt= "Colorade County Bracketology" src="../assets/img/Bracketology.PNG"></a>
   <a href="https://demography.dola.colorado.gov/Bracketology/" title="Application testing knowledge of Colorado County population size in the current year."><p style="font-size:9pt;text-align:center;">Colorado County Bracketology</p></a>
  </div>
 <div class="grid-item panel2_4_2">
		{% include _bodycontent1.html %}
</div>
	<div class="grid-item panel2_4_4">
		{% include _bodycontent2.html %}
</div>
<div class="grid-item panel2_4_6">
	{% include _bodycontent3.html %}
</div>
</div>  <!-- End of Grid -->




